---
layout: page
title: 소개
date: 2014-03-28 07:58:44.000000000 +09:00
type: page
parent_id: '0'
published: true
password: ''
status: publish
categories: []
tags: []
meta:
  _wp_page_template: default
  geo_public: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/about"
---
<p><!-- wp:paragraph --></p>
<p>혼자 쓰는 작은 공간입니다. 혹시라도 도움이 된다면 좋겠어요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사람들과 처음만나 자신을 소개할 때 <span class="has-inline-color has-accent-color">봄의 느낌을 심는 사람이고 싶다</span>고 말합니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그래서 한자 春으로 도메인을 만들었습니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6589} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2014/03/27657210_957358011089026_8472372153077830793_n.jpg" alt="27657210_957358011089026_8472372153077830793_n" class="wp-image-6589" /></figure>
<p><!-- /wp:image --></p>
