---
layout: post
title: 마제스틱 (The Majestic)
date: 2003-08-03 09:45:20.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  original_post_id: '302'
  _wp_old_slug: '302'
  _publicize_pending: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8645'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/302"
---
<p><!-- wp:paragraph --></p>
<p>감동과 재미가 함께 어울어져 있다.<br />짐 캐리의 절제된 연기력에 점수를 주고 싶은 영화다.<br />사랑을 만들어가는 영상을 통해, "나도 이런 이쁜 사랑을..." 이라는 생각을,<br />사람들의 꿈을 만들어가는 내용을 통해서는, "우리 안에 있는 꿈" 에 대한 생각을,<br />용기를 내어 선포하는 장면에서는, 감동과 눈물을 얻게 되었던 영화다.<br />추천하고 싶은 영화 중 하나!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/08/cfile24-uf-187af3324ccc471e47f492.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
