---
layout: post
title: 아이덴티티
date: 2003-11-15 07:16:47.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '334'
  _wp_old_slug: "%ec%95%84%ec%9d%b4%eb%8d%b4%ed%8b%b0%ed%8b%b0-identity-2003"
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  _publicize_pending: '1'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8662'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/334"
---
<p><!-- wp:paragraph --></p>
<p>아이덴티티 (Identity, 2003)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>2가지 중요한 사실을 알고 본 영화다. 그 사실을 여기에 적으면 혼날 듯 싶다.<br />암튼 그 사실을 알고도 나름대로 재미있게 보았던 영화다.<br />그 사실을 몰랐더라면 얼마나 좋았을까?<br />식스센스에서 주인공이 죽은 사람이었다라고 말한다면?<br />유주얼 서스펙트에서 절름발이가 범인이라고 알았다면?<br />이 영화 역시 그런 중요한 2가지 사실이 있다. 영화를 통해 즐기길 바란다.<br />비교적 탄탄한 시나리오를 가진 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/11/cfile5-uf-15055e2f4ccc47238625d3.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
