---
layout: post
title: 큐어
date: 2003-09-13 14:58:52.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '312'
  _wp_old_slug: '312'
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8654'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/312"
---
<p><!-- wp:paragraph --></p>
<p>큐어 (CURE, 1997)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>은근히 무서웠다. 다분히 일본 영화의 느낌 그대로이다.<br />영화 전체의 느낌은 정말 차분하게 진행된다. 그러나 은근하게 풍기는 공포와 궁금증 그것이 이 영화의 재미인 것 같다</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/09/cfile9-uf-147f7e324ccc4720455132.gif" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
