---
layout: post
title: 와일드 카드
date: 2003-08-03 14:54:05.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '304'
  _wp_old_slug: '304'
  _edit_last: '1'
  _publicize_pending: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8647'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/304"
---
<p><!-- wp:paragraph --></p>
<p>영화를 보면, 4가지 반응이 나타난다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">1. 뻑치기 범인들에 대한 욕.<br />2. 형사들의 현실에 대한 이해, 내 직업에 대한 생각 그리고 감동<br />3. 배를 잡게 하는 웃기는 장면들.<br />4. 한채영은 왜 주연이지?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>마지막에 보여준 감동적인 장면도 잊을 수 없다.<br />양동근이 생각보다 연기를 잘했던 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/08/cfile1-uf-124b0f284ccc471f04384f.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
