---
layout: post
title: 28일 후 (28 Days Later)
date: 2003-08-02 06:10:39.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '300'
  _wp_old_slug: '300'
  _wpas_skip_7254150: '1'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8642'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/300"
---
<p><!-- wp:paragraph --></p>
<p>참 신선한 영화다. 나와 같이 헐리우드 영화에 익숙했다면 새로운 느낌을 경험할 수 있을 듯.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사전에 어떤 영화인지 전혀 몰랐다. 그래서였는지도 모른다. 장르는 공포 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'엄청 재밌다!'보다는 '오~ 독특하네~' 하는 느낌 정도. 영국 영화라고 하는데 네덜란트에서도 인기가 있었다고 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>정상적인 사람에게도 존재하는 보편적 악(惡)을 표현했다면 맞을까? 바이러스에 감염된 사람이나 그렇치 않은 사람이 별반 다르지 않다는 인간 자신에 대한 고발인 것 같기도 하고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>바이러스는 피로 전염되는 '분노'라는 특이한 설정으로 시작한다. 추천!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/08/cfile2-uf-1751f5304ccc471eb045c3.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
