---
layout: post
title: 원더풀데이즈
date: 2003-09-21 13:07:45.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  original_post_id: '316'
  _wp_old_slug: '316'
  _edit_last: '1'
  _publicize_pending: '1'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8658'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/316"
---
<p><!-- wp:paragraph --></p>
<p>원더풀데이즈 (Wonderful Days, 2003)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사람들이 재미없다고 해서 별루 기대를 안했었는데 나름대로 재미있게 본 영화<br />훌륭한 그래픽의 배경에 비해 다소 약하게 느껴지는 캐릭터들.<br />시나리오가 약하다라는 부분에 대해서는 어느 정도 공감하지만 어둠과 암울한 모습을 잘 나타내었고, 파란하늘이 보이는 <span style="font-size: 18px;">원더풀데이를 향한 이상의 반영도 괜찮았던 것 같다.</span><br />한국 애니매이션 하면 뭔가 유치하고, 싸구려라는 느낌이 강했었는데 나름 발전함을 느낄 수 있었다. 다소 어색하게 보여진 장면들이 몇몇 있다. 사운드도 촌스럽지 않았고.<br />기대를 너무하지 않아서 재밌게 보았을까? 볼만한 영화로 생각한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/09/cfile10-uf-126877364ccc47210e1d58.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
