---
layout: post
title: 가시나무
date: 2003-12-21 14:13:22.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 노래
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '342'
  _wp_old_slug: '342'
  geo_public: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7614'
  _oembed_39ffea810a55027faac8dd546fd25a00: <iframe title="시인과 촌장 - 가시나무 (1988)" width="1200"
    height="900" src="https://www.youtube.com/embed/53CRSg1hkLY?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_39ffea810a55027faac8dd546fd25a00: '1631159141'
  _oembed_7ce6dbdd8cdc7b02f2ccf23dc8650cff: <iframe title="시인과 촌장 - 가시나무 [이소라의 프로포즈
    2000년 06월 03일] [Again 가요톱10/KBS KPOP Classic] 20000603" width="1200" height="675"
    src="https://www.youtube.com/embed/cZ0WdcX0v6k?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_7ce6dbdd8cdc7b02f2ccf23dc8650cff: '1638176112'
  _oembed_065642b10fe7579538d9a7a2359d8a1f: <iframe title="시인과 촌장 - 가시나무 [이소라의 프로포즈
    2000년 06월 03일] [Again 가요톱10/KBS KPOP Classic] 20000603" width="500" height="281"
    src="https://www.youtube.com/embed/cZ0WdcX0v6k?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
    web-share" allowfullscreen></iframe>
  _oembed_time_065642b10fe7579538d9a7a2359d8a1f: '1697866210'
  _oembed_7cb3c44117ee2c3d0461b208ab703321: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/342"
---
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">가시나무&nbsp;- 시인과 촌장<br />내속엔 내가 너무도 많아, 당신의 쉴 곳 없네.<br />내속엔 헛된 바램들로, 당신의 편할 곳 없네.<br />바람만 불면, 매마른 가지, 홀로 부대끼며 울어대고.<br />쉴곳을 찾아, 지쳐날아온 어린 새들도 가시에 찔려 날아가고.<br />내속엔 내가 너무도 많아서, 당신의 편할 곳 없네.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:embed {"url":"https://www.youtube.com/watch?v=cZ0WdcX0v6k","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=cZ0WdcX0v6k
</div>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:paragraph --></p>
<p>30 이라는 나이를 앞두고,<br />거울에 비친 내 모습을 바라 보면서,<br />나지막이 불러 봅니다.</p>
<p><!-- /wp:paragraph --></p>
