---
layout: post
title: 고양이의 보은
date: 2003-08-10 08:13:38.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  original_post_id: '308'
  _wp_old_slug: '308'
  _edit_last: '1'
  _publicize_pending: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8652'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/308"
---
<p><!-- wp:paragraph --></p>
<p>볼만했지만 비교적 짧고, 이전에 보았던 작품들에 비해 아쉬운 감은 있었다.<br />코믹과 상상력에는 점수를,<br />몇가지 장면을 제외하고는 일반적인 영상,<br />(고양이 사무실에서 보여준 장면과 하늘에서 떨어지는 장면은 괜찮음)<br />극장에서 보기에는 아깝게 느껴질 조건들을 갖추고 있는 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/08/cfile29-uf-1477c4254ccc4720adcd3c.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
