---
layout: post
title: 키스(KISS)의 순수 우리말
date: 2003-12-22 15:44:59.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  original_post_id: '347'
  _wp_old_slug: '347'
  _wpas_skip_7254150: '1'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7622'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/347"
---
<p><!-- wp:paragraph --></p>
<p>키스(KISS)를 순 우리말로 "심알을 잇는다" 라고 한다.<br />심알은 "마음 속의 핵"<br />엄청난(?) 뜻이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/12/9f4f6826453db50e0beb49e2726af432.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
