---
layout: post
title: 언더월드
date: 2003-12-29 03:37:16.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '352'
  _wp_old_slug: "%ec%96%b8%eb%8d%94%ec%9b%94%eb%93%9c-underworld-2003"
  _edit_last: '1'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8664'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/352"
---
<p><!-- wp:paragraph --></p>
<p>여주인공 분위기도 맘에 들었고 독특하고 재밌었음.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/12/cfile7-uf-1103092e4ccc4725440dfe.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
