---
layout: post
title: 음양사
date: 2003-09-18 14:16:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '314'
  _wp_old_slug: '314'
  geo_public: '0'
  geo_address: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8656'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/314"
---
<p><!-- wp:paragraph --></p>
<p>음양사(陰陽師, 2001)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>TV 에서 소개를 하길래 아무 생각없이 본 영화.<br />뭐라고 표현해야 할지는 잘 모르겠지만 나름대로 재밌게 본 영화.<br />조금 얍삽하게 생긴 주인공이 걸어다니고 싸우는 모습이 참 새롭다.<br />일본 역사와 문화적 특성이 배여 있는 영화였던 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/09/cfile3-uf-197422134ccc47214fde4b.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
