---
layout: post
title: 아니오!
date: 2003-12-19 06:34:56.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '341'
  _wp_old_slug: '341'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7612'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/341"
---
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">아니오! 라고 말했을 때 발생할 수 있는 문제에 대한 두려움으로 많은 사람들이 억지로 네! 라고 대답하는데, 단순하게 살기 위해서는, 당당하게 아니오! 라고 말할 수 있어야 한다.<br />-베르너 티키 퀴스텐마허, 로타르 J. 자이베르트의《단순하게 살아라》중에서</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":4026} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/12/just-say-no.jpg" alt="just-say-no" class="wp-image-4026" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">아니오! 라 말하는 것은 거역이 아닙니다. 무조건적인 부정도 아닙니다. 거스르는 것보다 더 깊은 헌신의 뜻입니다. 순간의 모면으로 인해 벌어질지 모를 더 큰 거역과 부정을 막는 방파제이며, 쉬운 길은 아니지만 누군가 가야 하는 외롭고 의로운 길입니다.<br />- 고도원의 아침 편지</p>
<p><!-- /wp:paragraph --></p>
