---
layout: post
title: 왓 어 걸 원츠
date: 2003-10-09 08:21:14.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '329'
  _wp_old_slug: '329'
  geo_longitude: '0.000000'
  geo_address: '0'
  geo_accuracy: '0'
  geo_public: '0'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8660'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/329"
---
<p><!-- wp:paragraph --></p>
<p>What a Girl Wants</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>일단 재밌게 보았다.<br />황당하고 유치하지만 용서할 수 있다.<br />영화를 보는 동안 내 얼굴에 계속 웃음이 있었던 것 같다.<br />간간히 흘러나오는 음악도 좋았고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2003/10/cfile27-uf-1310190b4ccc4723447822.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
