---
layout: post
title: 그녀를 믿지 마세요
date: 2004-03-07 12:46:39.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '385'
  _wp_old_slug: '385'
  geo_public: '0'
  geo_address: '0'
  _edit_last: '1'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8640'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/385"
---
<p><!-- wp:paragraph --></p>
<p>큰 기대없이 봤는데 재밌더라. 예전 짐케리가 나왔던 Majestic 이라는 영화가 생각났음. 재밌고 기분이 좋아지는 영화였던 것 같다. '동갑내기과외하기'에 이어 김하늘은 이런 역이 잘 어울린다는 생각이 든다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/03/cfile29-uf-15659c304ccc472a49b7dc.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
