---
layout: post
title: 엘리어스 시즌1
date: 2004-05-07 17:37:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 엘리어스
meta:
  _publicize_pending: '1'
  original_post_id: '403'
  _wp_old_slug: '403'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_public: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8614'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/403"
---
<p><!-- wp:paragraph --></p>
<p>24시 시즌1과 시즌2를 보고 난 이후에 엘리어스(alias)를 보게 되었습니다. 처음에는 24시의 긴장과 스케일 때문인지 엘리어스가 조금 밋밋한 것 같더군요.&nbsp;하지만 엘리어스 시즌 1을 모두 보고 나니 그런 생각은 들지 않네요. 재밌어요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/05/cfile29-uf-142ab6284ccc472c27d5da.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
