---
layout: post
title: 붉은 돼지
date: 2004-01-12 04:04:39.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  original_post_id: '357'
  _wp_old_slug: "%eb%b6%89%ec%9d%80-%eb%8f%bc%ec%a7%80-1992the-crimson-pig"
  _edit_last: '1'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  geo_public: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8666'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/357"
---
<p><!-- wp:paragraph --></p>
<p>붉은 돼지 (1992,The Crimson Pig)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>잔잔하다는 느낌.<br />왜 돼지가 되었을까? 에 대한 의문.<br />1992년 영화인데 지금 봐도 손색이 없음.<br />간혹 나오는 코믹스러운 장면들에는 박수를.<br />서정적이라는 말이 어울리지는 모르겠지만 서정적이라 평할 수 있을 듯 하고 큰 갈등과 긴장이 없는 것이 개인적으로는 아쉬웠다.<br />기억나는 장면 중 하나는 "하늘을 날 때, 바다에 비치는 태양빛과 그림자에 대한 묘사"<br />끝이 아쉽게 느껴졌지만 그럼에도 "추천"</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/01/cfile1-uf-2043a1254ccc4726098b11.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
