---
layout: post
title: 엘리어스 시즌3
date: 2004-08-23 09:30:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 엘리어스
meta:
  _publicize_pending: '1'
  original_post_id: '430'
  _wp_old_slug: '430'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8614'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/430"
---
<p><!-- wp:paragraph --></p>
<p>여자 주인공이 데어데블에 나왔던 Jennifer Garner. 몰랐네요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>램발디의 이야기가 끝이 나는 줄 알았는데 슬론의 딸 등장으로 인해 새로운 국면을 맞이하는 군요. 마지막에 시드니가 봐서는 안될 비밀문서는 뭐였을까? 너무 궁금하군요. 그리고 시드니 엄마는 어떻게 된 것인지...이모로 나오는 사람이 성형 수술을 한 시드니 엄마 일 것 같은 느낌마저 드는군요. 역시 재밌게 보았습니다. 시즌 4가 빨리 나왔으면...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/08/cfile26-uf-2037da314ccc473032d07b.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
