---
layout: post
title: 밝게 웃으며 사는 삶
date: 2004-10-26 12:49:51.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  _publicize_pending: '1'
  original_post_id: '459'
  _wp_old_slug: '459'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8728'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/459"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/10/cfile25-uf-1747cb354ccc4736658ea0.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
