---
layout: post
title: 언제 정신 차릴려구
date: 2004-09-29 04:25:53.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  original_post_id: '445'
  _wp_old_slug: '445'
  geo_accuracy: '0'
  _edit_last: '1'
  _publicize_job_id: '11315030767'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8715'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/445"
---
<p><!-- wp:paragraph --></p>
<p>난 언제 쯤 정신을 차릴 수 있을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/09/cfile28-uf-134f8e0e4ccc47338f26b7.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
