---
layout: post
title: 고티카
date: 2004-03-28 09:20:32.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '391'
  _wp_old_slug: '391'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8675'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/391"
---
<p><!-- wp:paragraph --></p>
<p>영화 "식스센스" 와 다른 영화이지만, 비슷(?)한 영화</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>왜 고티카인지를 잘 모르겠고, 그렇게 무섭지는 않았지만, 절제된 공포라할까? 그런 것 같다. 사실 더 아슬 아슬하고 무섭게 만들 수 도 있었을텐데...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>기대를 안해서인지, 지루함 없이 재밌게 본 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/03/cfile22-uf-1561fd334ccc472a820cae.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
