---
layout: post
title: 여섯개의 시선
date: 2004-01-30 15:04:16.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '366'
  _wp_old_slug: "%ec%97%ac%ec%84%af%ea%b0%9c%ec%9d%98-%ec%8b%9c%ec%84%a0-if-you-were-me-2003"
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_address: '0'
  _publicize_pending: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8671'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/366"
---
<p><!-- wp:paragraph --></p>
<p>여섯개의 시선 (If you were me, 2003)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>독립 영화 6개를 옴니버스 형태로 구성한 영화.<br />사회에 대한 비판을 영화적 비유로 잘 묘사한 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>날씬한 여성을 바라는 사회</li>
<li>장애인은 남의 일 이라고 생각하는 사회</li>
<li>성범죄자 신원 공개에 대해 갈등하는 사회</li>
<li>영어를 잘 해야하는 사회</li>
<li>외모를 중시하는 사회</li>
<li>이해할 수 없는 사회</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>6명의 감독이 서로 다른 이야기를 그려내며 이 사회에 대한 답답함을 느끼게 해준 영화</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/01/cfile7-uf-1233e2314ccc472745a0ae.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
