---
layout: post
title: 빌리지
date: 2004-09-28 13:42:52.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  original_post_id: '443'
  _wp_old_slug: '443'
  geo_latitude: '0.000000'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _publicize_pending: '1'
  geo_longitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8712'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/443"
---
<p><!-- wp:paragraph --></p>
<p>볼만했음. 이 영화 역시 반전이랄까? 전체 줄거리의 긴장을 풀어주는 반전이 존재한다.<br />영화를 보며 깜짝 놀랬던 순간과 무서웠던 순간, 그리고 긴장이 풀리는 순간, 이해가 되는 순간을 경험하며 영화를 즐길 수 있다. 간만에 재밌게 본 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/09/cfile1-uf-15063d0f4ccc4732ae34e5.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
