---
layout: post
title: 올드 보이
date: 2004-10-12 15:36:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '457'
  _wp_old_slug: '457'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8726'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/457"
---
<p><!-- wp:paragraph --></p>
<p>소재가 충격스럽다고 할 수 있겠지만 영화적 재미를 느꼈다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/10/cfile2-uf-125b04014ccc473695f2ea.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
