---
layout: post
title: 아는 여자
date: 2004-10-04 12:03:29.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '451'
  _wp_old_slug: '451'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8719'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/451"
---
<p><!-- wp:paragraph --></p>
<p>극장에서 혼자 봤던 재미난 영화. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>장진 감독 특유의 냄새가 난다.<br />차분한데 웃긴다.<br />영화를 보고나면 기분이 좋아질 것이다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/10/cfile9-uf-1362d5324ccc473470eb6e.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
