---
layout: post
title: 이퀄리브리엄
date: 2004-03-28 09:30:06.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '393'
  _wp_old_slug: '393'
  geo_public: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_address: '0'
  _edit_last: '1'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8677'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/393"
---
<p><!-- wp:paragraph --></p>
<p>이퀄리브리엄 (Equilibrium, 2002)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>좋은 평을 하는 사람이 별루 없는 것 같지만 나름대로 색깔을 가지고 있는 영화가 아닐까?<br />감정에 대한 조금 이해가 안되는 설정도 있지만 다른 매력도 있었던 것 같다.<br />매트릭스와 비교하기엔 좀 다른 영화가 아닌가하는 생각도 있고.<br />냉정하고 차가운 분위기와 색다른 액션씬들이 인상적이었던 것 같다.<br /> </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/03/cfile30-uf-156e60304ccc472a54b0cf.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
