---
layout: post
title: 노인 Z
date: 2004-10-10 05:21:54.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _publicize_pending: '1'
  original_post_id: '455'
  _wp_old_slug: '455'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8723'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/455"
---
<p><!-- wp:paragraph --></p>
<p>노인 Z (老人 Z / Oldman Z, 1991)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>91년도 영화면 상당히 오래전 영화임에도 불구하고 재밌게 봤다. 기술적인 영상은 옛날임을 보여주지만 스토리와 말하고자 하는 바는 놀랍다라는 생각이든다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>조금만 생각해보면 할 말이 많아질 수 있는 영화인 것 같다. 감동적인 면도 조금 있고 말이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8724,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2004/10/roujin-725x1024.jpg" alt="" class="wp-image-8724" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">홍성진 영화 해설<br />&lt;아키라>의 오토모 가츠히로가 원작, 각본, 메카디자인을 진행한 작품. 근미래의 동경에서 자동으로 간호해주는 컴퓨터 침대가 개발된다. 이 침대는 암호명 Z-001호로 이 침대의 실험대상으로 80대의 노인이 선택된다. 그러나 개발목적과 상반되게 이 침대는 스스로 작동되어, 노인의 의식에 의해 폭주를 하게 되고, 주위에 있던 사람들과 물건들을 흡수하여 증식을 해나간다. 심각하고 중후한 문제 의식을 유머로 표현하는 대중적 메시지가 작품의 주된 스토리라인을 형성하고 있으며, 일본이 봉착하고 있는 노령 사회, 즉 실버 콤플렉스와 노인 문제에 대한 일종의 경종을 울리는 문제작이다.</p>
<p><!-- /wp:paragraph --></p>
