---
layout: post
title: 24시 시즌2
date: 2004-03-06 19:25:29.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _publicize_pending: '1'
  original_post_id: '383'
  _wp_old_slug: 24%ec%8b%9c24-episode-ii-fox-tv
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8637'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/383"
---
<p><!-- wp:paragraph --></p>
<p>무지 재밌었다. '시즌 2'는 핵폭탄을 찾고 그 배후의 음모를 밝히는 내용으로 전개 된다. 역시 흥미 진진.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'시즌 1'과 연계성이 없을 줄 알았는데 새로운 인물과 더불어 자연스럽게 연결되어 더 재밌었다. 니나 마이어스! 보면 알게될 것이다. '시즌 3'으로 넘어가며 새로운 이야기로 전개될 여운을 남겼다. '시즌 1'에서는 가족의 생사와 관련된 불안과 긴장이 주를 이뤘고, '시즌 2'에서는 '시즌 1'과는 다른 긴장과 재미를 선사한다. '시즌 1'에서와 마찬가지로 여러가지 갈등 구조는 동일했고 서로 다른 갈등 구조가 사건과 연결될 때 느껴지는 재미가 솔솔하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/03/cfile27-uf-164797114ccc4729baabdf.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
