---
layout: post
title: 엘리어스 시즌2
date: 2004-08-09 14:28:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 엘리어스
meta:
  _publicize_pending: '1'
  original_post_id: '426'
  _wp_old_slug: '426'
  geo_address: '0'
  _edit_last: '1'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_public: '0'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8614'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/426"
---
<p><!-- wp:paragraph --></p>
<p>휴가 기간 동안 시즌 2를 모두 보았습니다. 시드니 어머니의 등장으로 흥미 진진해 집니다. 시즌 1을 처음 보았을 때는 24에 비해 너무 약하지 않나 하는 생각이 들었습니다만 시즌 2로 넘어오면서 그런 생각을 지울 수 있게 된 것 같습니다. 브리스토 가족 3명이 함께 작전을 수행하는 장면이 인상적이네요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/08/cfile25-uf-1266dc324ccc4730750524.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
