---
layout: post
title: 24시 시즌3
date: 2004-06-12 15:21:44.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  _publicize_pending: '1'
  original_post_id: '412'
  _wp_old_slug: 24%ec%8b%9c24-season-3-fox-tv
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8637'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/412"
---
<p><!-- wp:paragraph --></p>
<p>와우! 정말 재밌습니다. 무슨 말이 필요하겠습니까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>니나 마이어스! 참 대단한 역할을 하는 캐릭터입니다. '시즌 3'에 나오다니 예상하지 못했네요. 마지막 장면도 역시 인상적.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'시즌 3'는 바이러스를 찾는 것이 주제입니다. 참, 체이스라는 인물도 인상적이에요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/06/cfile21-uf-111a8f104ccc472d7fd5b6.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
