---
layout: post
title: 나를 안아주고 싶을 때
date: 2004-11-08 15:41:27.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  geo_address: '0'
  geo_public: '0'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '463'
  _wp_old_slug: '463'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8732'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/463"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/11/cfile1-uf-20396c054ccc47394e919c.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
