---
layout: post
title: 닫혀진 마음
date: 2004-09-13 09:50:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '437'
  _wp_old_slug: '437'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8705'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/437"
---
<p><!-- wp:paragraph --></p>
<p>어쩌면 내 마음도 이런 것이 아닐까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/09/cfile24-uf-124666134ccc4731d1e678.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
