---
layout: post
title: 맨 온 파이어
date: 2004-10-04 11:56:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  original_post_id: '449'
  _wp_old_slug: '449'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  geo_public: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8717'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/449"
---
<p><!-- wp:paragraph --></p>
<p>맨 온 파이어 (Man On Fire, 2004)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>늦은 밤에 본 영화. 졸지 않고 봤다. 재밌었다는 이야기다.<br />거침없는 복수(?)가 맘에 걸리기는 했지만 나름대로의 색깔이 있는 영화다.<br />맨온파이어라고 해서 마지막에 불타는 곳에서 주인공이 죽나하는 생각을 했었는데 그건 아니었다. 영상이 독특했는데 - 약간 어지럽다고 볼 수 도 있을 것 같고 - 그냥 헐리우드 영화겠지 하고 봤지만 그런 느낌은 아니었다.<br />한 소녀의 영향력, 그것은 아이의 순수함의 힘일까? 주인공 여자 아이도 귀엽다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/10/cfile29-uf-123bce2f4ccc4734181433.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
