---
layout: post
title: 단말 실무 과정
date: 2004-06-14 13:43:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '415'
  _wp_old_slug: "%eb%8b%a8%eb%a7%90-%ec%8b%a4%eb%ac%b4-%ea%b3%bc%ec%a0%95-14%ea%b8%b0-%eb%8f%99%ea%b8%b0%eb%93%a4"
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8691'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/415"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/06/cfile23-uf-113790314ccc472e5c0bc8.gif" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>단말 실무 과정 14기 동기들<br />각각 다른 곳에서 일하고 있지만 좋은 기억으로 남을 것 같다.</p>
<p><!-- /wp:paragraph --></p>
