---
layout: post
title: 천국의 계단
date: 2004-01-15 11:53:17.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  original_post_id: '362'
  _wp_old_slug: '362'
  _edit_last: '1'
  _publicize_job_id: '11314903506'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8668'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/362"
---
<p><!-- wp:paragraph --></p>
<p>최지우가 사고가 나는 장면부터 보았기 때문에 몰랐었다. 이제 알았다.<br />나쁜 이휘향과 김태희!&nbsp;따귀 때리는 장면은 충격이었고 정서를 걱정하는 승주의 모습을&nbsp;보면서 가슴아팠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/01/cfile21-uf-17358e304ccc47279b4b7e.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
