---
layout: post
title: 페이첵
date: 2004-04-05 19:58:17.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '397'
  _wp_old_slug: '397'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8679'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/397"
---
<p><!-- wp:paragraph --></p>
<p>특별한 것 없는 시간 죽이기 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>오우삼은 결국 비둘기를 등장시킴으로서 팬을 실망시키진 않은 것 같다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그냥 웃음이 나오는 것은  '역시 나오네' 하는 기대 심리 정도.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/04/cfile3-uf-134c5e034ccc472b82dac5.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
