---
layout: post
title: 이노센스
date: 2004-09-28 13:36:46.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _edit_last: '1'
  original_post_id: '441'
  _wp_old_slug: '441'
  _publicize_pending: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8707'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/441"
---
<p><!-- wp:paragraph --></p>
<p>이노센스 (イノセンス / Innocence: Ghost In The Shell, 2004)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>"철학적인 난해함이 주는 유치함" 으로 영화를 평하고 싶다.<br />뀌어난 영상미와 훌륭한 컴퓨터 그래픽은 높이 평가할 만 하다.<br />다소 지루함도 있지만 그것은 공각기동대 1편도 그런 면이 없지는 않았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8710,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2004/09/1924FF107A6D0DF707-1.png" alt="" class="wp-image-8710" /></figure>
<p><!-- /wp:image --></p>
