---
layout: post
title: 새벽의 저주
date: 2004-10-09 14:48:08.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '453'
  _wp_old_slug: '453'
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8721'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/453"
---
<p><!-- wp:paragraph --></p>
<p>새벽의 저주 (Dawn Of The Dead, 2004)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이 영화를 어떻게 소개하면 좋을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>좀비영화인데 완성도 높은 좀비 영화라고 해야할까? 결론적으로는 볼만했다라고 말하고 싶고 마지막 까지 봐야한다.<br /> </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/10/cfile25-uf-127d282e4ccc47353d5c1d.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
