---
layout: post
title: 천공의 성 라퓨타
date: 2004-07-03 15:06:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  original_post_id: '420'
  _wp_old_slug: '420'
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  _publicize_pending: '1'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8693'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/420"
---
<p><!-- wp:paragraph --></p>
<p>천공의 성 라퓨타 (Laputa: Castle In The Sky, 1986)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>맨처음엔 코난이 생각났고, 옛날 영화인데 지금도 재밌다는 생각에 조금 놀랬고, 미야자키 하야오의 스타일이 느껴진다. 아주 재밌지는 않았던 것 같고, 그냥 볼만했던 것 같다.<br /> </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/07/cfile1-uf-161d4a124ccc472e52fc9c.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
