---
layout: post
title: 24시 시즌1
date: 2004-02-24 17:01:31.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  geo_public: '0'
  _publicize_pending: '1'
  original_post_id: '378'
  _wp_old_slug: '378'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8618'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/378"
---
<p><!-- wp:paragraph --></p>
<p>Fox TV 에서 방영했던 24시라는 드라마. 현재 시즌 3가 방영 중인 것으로 알고 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>다양한 갈등구조, 계속 되는 긴장감과 재미 만점!! 강추!! 영화 수준의 드라마!!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>50분짜리 24편으로 구성, 리얼타임 형식으로 동일한 시간에 벌어지는 장면을 함께 보여주는 스타일 (예전 스네이크 아이라는 영화처럼)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>대통령 후보 암살을 막으려는 내용. 그것과 연관되어 있는 여러 가지 갈등 구조.<br />시나리오가 탄탄함을 느낄 수 있다. 처음에는 약간 지루했는데, 그것은 잠깐.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/02/cfile28-uf-16151e334ccc4729190912.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
