---
layout: post
title: 풀하우스
date: 2004-08-05 13:57:57.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '424'
  _wp_old_slug: '424'
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8696'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/424"
---
<p><!-- wp:paragraph --></p>
<p>누가 뭐래도 무척 재밌게 보고 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2004/08/cfile28-uf-126fd0374ccc472f639353.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
