---
layout: post
title: 광어
date: 2004-11-23 02:17:59.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _edit_last: '1'
  original_post_id: '467'
  _wp_old_slug: '467'
  _publicize_job_id: '16964908003'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8733'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/467"
---
<p><!-- wp:paragraph --></p>
<p>안면도 앞바다에서 광어를 잡았다. 내가 가장 큰 걸 잡아서 1등을 했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>배멀미가 그렇게 힘든 것일 줄 미쳐 몰랐다. 다시는 안타리라.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>1Kg 짜리 광어를 잡았는데 싯가 80,000 이란다. 정말 맛있더라.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2004/11/cfile4-uf-197426324ccc473b5b73c1.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
