---
layout: post
title: 24시 시즌4
date: 2005-06-06 13:28:21.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  _wp_old_slug: '508'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_public: '0'
  _publicize_pending: '1'
  original_post_id: '508'
  geo_address: '0'
  _edit_last: '1'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8616'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/508"
---
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/06/cfile25-uf-130e82304ccc47460bdb1a.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
