---
layout: post
title: TD
date: 2005-03-04 08:10:39.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '491'
  _wp_old_slug: '491'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8626'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/491"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2005/03/cfile26-uf-13162e2e4ccc473e5dce0a.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>IBM Test Director였던가? TD 이슈가 올라오지 않으면 일을 안한다는 의미로 TDD(TD Driven Development) 한다고 농담하던 시절이 있었다.</p>
<p><!-- /wp:paragraph --></p>
