---
layout: post
title: 24시 시즌4
date: 2005-06-06 13:07:34.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  geo_address: '0'
  geo_public: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _wp_old_slug: '506'
  _publicize_pending: '1'
  original_post_id: '506'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8618'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/506"
---
<p><!-- wp:paragraph --></p>
<p>더 이상 무슨 말이 필요있을까? 재밌게 보았다. 늘 그랬듯이.<br />팔머 대통령이 안나올 줄 알았는데 다시 보니 반갑다.<br />쓸쓸한 영웅이 되어버린 잭바우어.<br />이번 시즌은 시즌2와 비슷하게 핵탄두를 막는 내용.<br />전개 과정은 전혀 다르다.<br />이번 시즌이 마지막일 줄 알았는데 시즌 5가 나온다고 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/06/24_Season_4_poster.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
