---
layout: post
title: 출근 길 집 앞
date: 2005-02-23 00:52:20.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  _publicize_pending: '1'
  original_post_id: '489'
  _wp_old_slug: '489'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8534'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/489"
---
<p><!-- wp:paragraph --></p>
<p>눈이 올 때가 아닌 것 같은데 갑자기 눈이와 깜작 놀랐다.<br />아직도 눈이 좋으니 한편으로 다행이다.<br />느낌이 좋아 폰카로 찍어 놨는데 원본을 보니 영 안나와서 사이즈를 좀 줄였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2005/02/cfile21-uf-1930ed354ccc473ee18665.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
