---
layout: post
title: Best Practice 수상
date: 2005-03-09 11:29:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_public: '0'
  _publicize_job_id: '16964900869'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  original_post_id: '497'
  _wp_old_slug: '497'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8532'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/497"
---
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/03/cfile4-uf-13657a304ccc47447910d8.gif" alt="" /></figure>
<p><!-- /wp:image --></p>
