---
layout: post
title: 애플시드
date: 2005-01-10 12:59:29.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _edit_last: '1'
  original_post_id: '482'
  _wp_old_slug: '482'
  geo_address: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _publicize_pending: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8629'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/482"
---
<p><!-- wp:paragraph --></p>
<p>애플시드(アップルシ-ド, APPLESEED, 2004)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>볼만했다. 화려하고 독특한 영상이 인상 깊었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>실사와 비슷한 CG에 3D와 2D 가 조화를 이루어 새로운 영상을 만들어 낸다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근 어떤 광고에서 본 듯한 느낌도 있다. 내용을 직접 보는 것이 좋을 것 같고 일본 영화스럽다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/01/cfile28-uf-176405304ccc473c7c082c.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
