---
layout: post
title: FZ30
date: 2005-12-18 14:01:42.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '519'
  _wp_old_slug: '519'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8613'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/519"
---
<p><!-- wp:paragraph --></p>
<p>요즘 사고 싶어 지켜보고 있는 디카.&nbsp;살수 있을까? 한 70만원 정도 하는데.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/12/cfile2-uf-112b65314ccc474849775c.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
