---
layout: post
title: 엘리어스 시즌4
date: 2005-06-12 14:30:56.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 엘리어스
meta:
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_public: '0'
  _wp_old_slug: '512'
  _publicize_pending: '1'
  original_post_id: '512'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8614'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/512"
---
<p><!-- wp:paragraph --></p>
<p>램발디의 긴 여정이 끝난 것 같은데 다음 시즌이 어떻게 될지 모르겠다.<br />이전 시즌에 비해 약간의 밋밋함과 조금 아쉬운 설정이 느껴짐.<br />후반부로 가면서 재밌어 진 것 같다.<br />마지막에는 정말 깜짝 놀랐다. 다음 시즌이 어떻게 전개될런지 기대가 된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/06/cfile10-uf-166031034ccc47472c2fad.png" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2005/06/cfile29-uf-142032104ccc4746502b30.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
