---
layout: post
title: 하이에나 (14화)
date: 2006-11-25 13:36:10.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '700'
  _wp_old_slug: '700'
  _edit_last: '1'
  geo_address: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8471'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/700"
---
<p><!-- wp:paragraph --></p>
<p>16화가 끝이라는 이야기를 들은 적이 있는데, 이제 다음 주면 끝이겠군.<br />아주 재밌지는 않지만, 계속 보게 되는 하이에나.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile5-uf-150ba42f4ccc47b652a1f6.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>친구가 게이임을 알게된...이후.. 그리고 그 친구의 여자 친구를 사랑하는...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile8-uf-1459bb334ccc47b559875d.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" />고백을 하는데, 고백을 멈추게 하는...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile22-uf-1940400e4ccc47b65dd1b7.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile25-uf-192845284ccc47b6232251.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
