---
layout: post
title: 하이에나 (9, 10화)
date: 2006-11-11 14:22:15.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '669'
  _wp_old_slug: '669'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8490'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/669"
---
<p><!-- wp:paragraph --></p>
<p>처음 때랑 다른 느낌으로 재밌다. 공중파에서 해도 될 것 같다.<br />이별은 아프다. 사랑한 만큼, 사랑한 시간 만큼, 그리움과 상처로 남는다. (9화)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile26-uf-154ebb344ccc47a3069a09.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>사랑은 타이밍이다. 기막히고 절묘한 타이밍에 서로의 인생에 등장해 주는 것! <br />명심하라. 단 1초의 망설임 때문에 사랑이 슬픈 이별이 될 수도 있다. (10화)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
