---
layout: post
title: 새로 산 디카 P712
date: 2006-09-05 14:49:44.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '614'
  _wp_old_slug: '614'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8505'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/614"
---
<p><!-- wp:image {"align":"center","id":2070} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/09/cfile3-uf-161156114ccc477e1183ad.jpg" alt="DSC_9139.jpg" class="wp-image-2070" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>아직 배송 되지 않았지만 <a href="http://www.popco.net/zboard/view.php?id=dica_preview&amp;no=102" target="_blank" rel="noopener noreferrer">리뷰</a>보고 이걸 질렀다. 맘에 들까 모르겠다.</p>
<p>사진 찍을 일이 얼마나 있을지 모르지만 이제 부터라도 만들어야지...</p>
<p><!-- /wp:paragraph --></p>
