---
layout: post
title: 연애시대
date: 2006-05-15 14:12:22.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_public: '0'
  _publicize_pending: '1'
  original_post_id: '534'
  _wp_old_slug: '534'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8601'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/534"
---
<p><!-- wp:paragraph --></p>
<p>연애시대.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>생각보다 재밌게 보고 있다. 이것 저것 생각하게 하고 감우성,손예진이라는 유명한 배우의 출연도 드라마를 더 재밌게 하는 것 같다. 이제 거의 끝날 때가 되었다. 둘이 합쳐지면서 끝나게 될까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile24-uf-117d2f324ccc4750542002.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
