---
layout: post
title: 변하나봐
date: 2006-06-04 11:40:21.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 노래
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '549'
  _wp_old_slug: '549'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _oembed_47f8f8c4442c5611f99a75701c0a53a0: <iframe title="봄.여름.가을.겨울 - 사람들은 모두 변하나봐"
    width="1200" height="900" src="https://www.youtube.com/embed/38T7qvWRCw0?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _oembed_time_47f8f8c4442c5611f99a75701c0a53a0: '1631852992'
  _thumbnail_id: '8524'
  _oembed_59c724c7fd4e8b8b78a0c8e04c60a265: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/549"
---
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile27-uf-150b532e4ccc47573d0230.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:embed {"url":"https://www.youtube.com/watch?v=38T7qvWRCw0","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-4-3 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=38T7qvWRCw0
</div>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">사람들은 모두 변하나봐 (봄여름가을겨울)</p>
<p>사람들은 모두 변하나봐 그래 나도 변했으니까<br />모두 변해가는 모습에 나도 따라 변하겠지<br />사람들은 모두 변하나봐 그래 너도 변했으니까<br />너의 변해가는 모습에 나도 따라 변한거야<br />이리로 가는걸까 저리로 가는걸까<br />어디로 향해 가는건지 난 알수 없지만<br />세월 흘러가면 변해가는 건 어리기 때문이야<br />그래 그렇게 변해들 가는건 자기만 아는 이유<br />사람들은 모두 변하나봐 너도나도 변했으니까<br />모두 변해가는 모습에 너도나도 변한거야<br />사람들은 모두 변하나봐 그래 나도 변했으니까<br />모두 변해가는 모습에 나도 따라 변하겠지<br />사람들은 모두 변하나봐 그래 너도 변했으니까<br />너의 변해가는 모습에 나도 따라 변한거야<br />이리로 가는걸까 저리로 가는걸까<br />어디로 향해 가는건지 난 알수 없지만<br />세월 흘러가면 변해가는 건 어리기 때문이야<br />그래 그렇게 변해들 가는건 자기만 아는 이유<br />세월 흘러가면 변해가는 건 어리기 때문이야<br />그래 그렇게 변해들 가는건 자기만 아는 이유<br />세월 흘러가면 변해 가는 건 어리기 때문이야<br />그래 그렇게 변해들 가는건 자기만 아는 이유</p>
<p><!-- /wp:paragraph --></p>
