---
layout: post
title: 101번째 프로프즈
date: 2006-08-02 16:31:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '596'
  _wp_old_slug: '596'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8508'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/596"
---
<p><!-- wp:paragraph --></p>
<p>1991년에 만들어진 '101번째 프로포즈' 원작 12부를 오늘 다 봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>수정과 달재가 나오는 '101번째 프로포즈'가 정말 잘 만들어진&nbsp;리메이크 작품이라는 사실을 다시 한번 느낀다.&nbsp;똑같지만 다른, 다르지만 똑같은 두 작품.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>오늘 본 원작은 15년 전에 일본에서 만든 것인데 그래서 그런지 느낌이 다른 감동이 있다.&nbsp;아무튼 원작을 보게 되어 다행이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최지우가 나오는 중국판 리메이크 작품과&nbsp;문성근이 출연한 영화도 있다고 하던데...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/08/cfile4-uf-202a6c314ccc4773748350.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/08/cfile6-uf-19643a014ccc4773ad7da7.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
