---
layout: post
title: 미녀는 괴로워
date: 2006-12-21 18:37:27.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '731'
  _wp_old_slug: '731'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8432'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/731"
---
<p><!-- wp:paragraph --></p>
<p>직장 연말 모임으로 보게된 영화..."미녀는 괴로워"</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>재미가 없지는 않았다. 웃겼지만 그 이상으로 슬픈 영화였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>김사랑(<a href="https://bomchoon.kr/archives/691" data-type="post" data-id="691" target="_blank" rel="noreferrer noopener">누가 그녀와 잤을까?</a>)에 비하면 김아중이 연기를 생각보다 잘했던 것 같고 조연들의 코믹 연기가 성공적인 것 같다. 참, 노래가 좋았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile4-uf-1472e3324ccc47d24c1d92.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile25-uf-14415f274ccc47d2730f4f.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
