---
layout: post
title: 발칙한 여자들
date: 2006-08-27 13:52:35.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_accuracy: '0'
  _publicize_job_id: '11315177685'
  _edit_last: '1'
  original_post_id: '608'
  _wp_old_slug: '608'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8519'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/608"
---
<p><!-- wp:paragraph --></p>
<p>가끔보는 드라마인데 조금 웃기다. 이것도 앞으로 어떻게 전개될지 궁금하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>생각해 보면, 엄청 심각한 소재인데, 심각하게 그리지 않고, 코믹하게 그리고 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/08/cfile29-uf-146ffc2e4ccc477b7ca53f.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
