---
layout: post
title: 사랑할때 이야기 하는것들
date: 2006-12-02 04:54:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '714'
  _wp_old_slug: '714'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8440'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/714"
---
<p><!-- wp:paragraph --></p>
<p>난 나름 재미있게 봤는데 같이 보았던 두 친구는(둘다 남자임) 재미없었다고 한다. 한명은 계속 자고, 또 다른 한명은 초반에만 자고. 자고 있던 두 사람 중간에서 나는 재밌게 보고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이 생각 저 생각하게 되었던 영화. 꼬집어 뭐라고 할 순 없었지만...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>옛 기억 중에 하나가 생각났던 것 같다. 그 기억에 대한 슬픈 소식을 접해서 마음이 슬펐다고 할까?<br />두 배우의 연기도 맘에 들었고.. 암튼 난 재밌게 봤는데, 추천하면 혼날 수 도...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile9-uf-127df8324ccc47ca491642.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile24-uf-195a19314ccc47cb505b36.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile9-uf-1202792f4ccc47cc7455bb.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile25-uf-130140324ccc47cc3eba05.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile2-uf-166e8d2e4ccc47cc6323fc.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile29-uf-186213134ccc47cd5a0428.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile8-uf-1371b0134ccc47ce5a2496.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile9-uf-1609fd2e4ccc47ca4125f7.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
