---
layout: post
title: Lucky Number Slevin
date: 2006-07-15 14:38:27.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '574'
  _wp_old_slug: '574'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8577'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/574"
---
<p><!-- wp:paragraph --></p>
<p>럭키 넘버 슬레븐<br />좀 지루하다. 반전 때문에 마지막에 해소되는 느낌은 있다. 그러나 이런 스타일이 크게 새롭진 않다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile4-uf-187183014ccc476696e5e7.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
