---
layout: post
title: 10,000 km 주행
date: 2006-10-07 11:55:44.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_public: '0'
  geo_accuracy: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '622'
  _wp_old_slug: '622'
  geo_address: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8492'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/622"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/10/cfile9-uf-1202752f4ccc478177a024.jpg" alt="" /><br />
<figcaption>10.000km/1year</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
