---
layout: post
title: 아치와씨팍
date: 2006-06-29 14:02:47.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _edit_last: '1'
  original_post_id: '558'
  _wp_old_slug: '558'
  _publicize_job_id: '11315131576'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8580'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/558"
---
<p><!-- wp:paragraph --></p>
<p>한국 애니매이션의 한계를 다시 한번 느꼈던 영화. 돈이 좀 아까웠다. 이상!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile3-uf-20036d2e4ccc475e4777a8.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
