---
layout: post
title: CARS
date: 2006-07-23 04:51:37.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '580'
  _wp_old_slug: '580'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8558'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/580"
---
<p><!-- wp:paragraph --></p>
<p>재밌다. 역시 PIXAR 다.<br />예고 편을 봤을 때와 다르다. 재밌다. 강추!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile22-uf-1402d42f4ccc47687f1b0f.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
