---
layout: post
title: 전차남(電車男)
date: 2006-07-30 03:11:01.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '594'
  _wp_old_slug: '594'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8556'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/594"
---
<p><!-- wp:paragraph --></p>
<p>처음에는 약간 오버다 싶었고, 우리와 정서가 약간 틀린 것 같았는데...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>무척 재밌게 봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>총 11회로 구성된 드라마로 special 1회분이 더 있다. 영화판도 있지만 드라마가 더 낫다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>박달재, 전차남, 그리고 나는?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile5-uf-112f17314ccc477269d43b.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
