---
layout: post
title: 최근에 본 영화
date: 2006-05-06 09:24:30.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_public: '0'
  geo_address: '0'
  _wp_old_slug: '528'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '528'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8604'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/528"
---
<p><!-- wp:paragraph --></p>
<p>흡혈형사 나도열 : ★<br />별루라서, 캡쳐도 없음</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>싸움의 기술 : ★★★</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile25-uf-1828c2104ccc474e556ae9.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>작업의 정석 : ★★★</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile8-uf-1579e6304ccc474e671033.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>투사부일체 : ★★</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile27-uf-12626a264ccc474e61c479.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>광식이 동생 광태 : ★★★</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile8-uf-125dea324ccc474f899f7a.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>손님은 왕이다. : ★★★★</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile2-uf-175543044ccc474f9dfbd6.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
