---
layout: post
title: 천국의 계단
date: 2006-12-27 16:58:44.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '741'
  _wp_old_slug: '741'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8421'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/741"
---
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile26-uf-1707a42f4ccc47db4f4fe9.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
