---
layout: post
title: 하이에나 (5, 6화)
date: 2006-10-27 16:28:30.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '650'
  _wp_old_slug: '650'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8447'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/650"
---
<p><!-- wp:paragraph --></p>
<p>첫 사랑은 이뤄지지 않아서 아름답다.&nbsp;금새 녹아 사라지는 첫 눈 처럼.<br />그래서 첫 사랑은 남자들의 가슴 속 깊은 곳에&nbsp;영원히 늙지 않은 아름다운 모습으로 잠들어 있다.&nbsp;하지만, 걱정할 필요없다. 그 옆 방은 항상 비어있으니깐.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/10/cfile23-uf-1104642f4ccc4794812396.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
