---
layout: post
title: 괴물
date: 2006-08-03 04:07:01.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '599'
  _wp_old_slug: '599'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8511'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/599"
---
<p><!-- wp:paragraph --></p>
<p>그렇게 재밌지 않은 것 같은데 왜 이리 난리일까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/08/cfile2-uf-1804482e4ccc47754f98a3.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
