---
layout: post
title: 하이에나 (13화)
date: 2006-11-25 13:28:46.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '693'
  _wp_old_slug: '693'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8472'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/693"
---
<p><!-- wp:paragraph --></p>
<p>자극적인 문구로 시작했던 하이에나. 사실 자극적이지 않다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">이별...<br />"벌이에요... 이 키스 평생 그리워 할 꺼에요..."<br />그리움이라는 벌...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile25-uf-180d0a124ccc47b1b0e74c.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile23-uf-1205582f4ccc47b25449cb.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile29-uf-1427a8364ccc47b363151d.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile26-uf-195cdc304ccc47b25af7a5.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile24-uf-130a5d2f4ccc47b24f130f.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
