---
layout: post
title: 누가 그녀와 잤을까?
date: 2006-11-24 14:49:14.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '691'
  _wp_old_slug: '691'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8474'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/691"
---
<p><!-- wp:paragraph --></p>
<p>이렇게 재미없는 영화를...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>중간 중간 조금 웃겼던 장면과 김사랑이란 배우의 대단함(?)이 묻어 있는 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>아무리 그래도 연기를 너무 못하는 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile4-uf-177ba0304ccc47ae5bfbae.jpg" alt="" /><br />
<figcaption>김사랑 싸이에서</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
