---
layout: post
title: 하이에나 (15, 16화)
date: 2006-12-02 04:49:51.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '705'
  _wp_old_slug: '705'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8455'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/705"
---
<p><!-- wp:paragraph --></p>
<p>16화로 끝났다. 뭐, 아주 특별한 것은 없었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>꼬마 아이가 나오는데, 눈이 크고 궈여운 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile28-uf-13094c104ccc47bd83a47c.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile28-uf-145a12304ccc47bc7e878a.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile1-uf-200327304ccc47bc259467.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>어떻게 보면 누구를 닮은 것 같은데 묘한 분위기가 난다..</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile25-uf-161fb32e4ccc47be18db58.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile6-uf-116875114ccc47bd5982dd.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>헙! 마지막에 이 친구가 나오다니...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile6-uf-110b1c124ccc47be5585d5.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>한동안 나오지 않더니 마지막에 나오네... 시즌2를 하려나??</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile22-uf-155a7b324ccc47be6a8ece.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile3-uf-1353bb034ccc47bc444ca2.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
