---
layout: post
title: 캐리비안의 해적 2
date: 2006-07-08 01:43:34.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '563'
  _wp_old_slug: '563'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8570'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/563"
---
<p><!-- wp:paragraph --></p>
<p>캐러비안의 해적 두 번째 이야기 '망자의 함'<br />볼만하지만 아주 재밌진 않다. 3편으로 이어지기에 아쉬움은 어쩔 수 없고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile24-uf-126d88334ccc476278b413.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
