---
layout: post
title: 하이에나 (12화)
date: 2006-11-18 13:32:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '684'
  _wp_old_slug: '684'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8484'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/684"
---
<p><!-- wp:paragraph --></p>
<p>가르쳐주지 않아도 병아리는 알을 깨고 나오고,<br />연어는 알을 낳기 위해 먼 강을 거슬러 올라온다.<br />가르쳐주지 않아도 남자는 자신의 사랑을 알아본다.<br />그것이 자연의 섭리이자 가장 원초적인 본능이다. (12화)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile1-uf-20170b334ccc47ad1c9f58.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile22-uf-195cc2264ccc47ae892525.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile6-uf-111fbd244ccc47ad6d6713.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile23-uf-182e27314ccc47ad77a8c1.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile1-uf-1150a9344ccc47ad058b43.jpg" alt="사용자 삽입 이미지" /></figure>
<p><!-- /wp:image --></p>
