---
layout: post
title: 다세포소녀
date: 2006-08-19 13:01:56.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '603'
  _wp_old_slug: '603'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8515'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/603"
---
<p><!-- wp:paragraph --></p>
<p>'재미없다'라는 확실한 이야기를 듣고 본 영화. 기대가 전혀 없어서 그랬을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'재밌어 꼭 봐'라고 추천할 수 없지만 나름 느낌있는 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'가난'이라는 캐릭터가 귀여웠던 것 같고 노래방에서 볼 수 있는 가사가 나오는 것도 새롭다.&nbsp;한번 보는 것도 괜찮을 것 같긴한데 추천을 못하겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/08/cfile29-uf-180aa2344ccc47799c5f8f.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
