---
layout: post
title: 옹이
date: 2006-07-14 13:21:21.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '570'
  _wp_old_slug: '570'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8567'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/570"
---
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">이게 (나무의) 옹이라는 겁니다. 곁가지 자랄 때 생기는 흔적이요. 대패질 톱질이 잘 안 된다고 목수들이 옹이를 싫어해요. 아버님이 저를 싫어하는 것처럼요. 그 보기 싫은 옹이란 놈이요, 귀하게 쓰입니다. 아무리 튼튼한 나무도 비 맞고 오래되면 썩거든요. 그래서 집도 갈라지고 무너지죠. 그런데 그 집 기둥에 옹이가 있으면요. 기둥이 갈라지다가도 옹이에 걸려 멈춥니다. 안 무너져요. 옹이는 썩지도 않고 단단하거든요. 저 별거 없는 놈 맞습니다. 그래도요, 썩고 갈라져도 끝까지 버티는, 옹이 같은 놈 될 수 있습니다. 옹이가 집을 지키는 것처럼요. 전 수정씨 끝까지 지킬 거거든요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile4-uf-146eac324ccc47646c24f9.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
