---
layout: post
title: 달콤, 살벌한 연인
date: 2006-07-15 14:35:07.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '572'
  _wp_old_slug: '572'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8574'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/572"
---
<p><!-- wp:paragraph --></p>
<p>이 영화 생각보다 재밌다. 간만에 재밌는 영화 건졌다.<br />배우들도 괜찮고, 이야기도 재밌고, 웃기고...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile7-uf-181dac2f4ccc47655d3b49.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
