---
layout: post
title: 라디오스타
date: 2006-12-23 11:58:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_latitude: '0.000000'
  geo_address: '0'
  geo_public: '0'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '737'
  _wp_old_slug: '737'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8427'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/737"
---
<p><!-- wp:paragraph --></p>
<p>나름 괜찮았던 영화. 아쉬운 면이 있긴 했지만.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile7-uf-1907c9354ccc47d528b2f4.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
