---
layout: post
title: 최근에 본 영화
date: 2006-06-04 06:03:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '542'
  _wp_old_slug: "%ec%99%95%ec%9d%98%eb%82%a8%ec%9e%90-%ec%9d%b4%ec%98%a8%ed%94%8c%eb%a0%89%ec%8a%a4-%eb%b9%a8%ea%b0%84%eb%aa%a8%ec%9e%90%ec%9d%98%ec%a7%84%ec%8b%a4-%ea%b7%b8%eb%a6%ac%ea%b3%a0"
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8596'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/542"
---
<p><!-- wp:paragraph --></p>
<p>왕의남자, 이온플렉스, 빨간모자의진실를 보다. ★로 점수를 매겨보았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>왕의 남자 : ★★★☆<br />엄청나게 많은 사람이 봤다고 하지만 이제서야 봤다. 그렇게 특별해 보이진 않았다.<br />난 이준기의 연기가 어색하게만 느껴지던데...<br />원색적인 화면이 가끔 괜찮다는 생각.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile5-uf-1439450d4ccc475566060a.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>이온플럭스 : ★★★<br />비디오 출발 여행이라는 TV 프로에서 소개를 하길래 당장 구해서 봤다.<br />기대했던 것 만큼 특별하지는 않았지만 이런 류의 영화를 좋아해서 나쁘진 않았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile6-uf-206a6f304ccc47564ddcba.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>빨간모자의 진실 : ★★★★<br />요거 기대 이상이었다. 웃기기도 하고 만화적 상상력이 있다고 할까? 약간의 패더디가 주는 흐믓함?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile26-uf-1127c0144ccc47557dfbef.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>로망스 : ★★★☆<br />조금 무거웠던 영화. 조재현과 김지수의 연기도 괜찮았던 것 같다.<br />조금 멋지게 찍고 싶은 감독의 마음은 알 수 있었지만, 약간의 아쉬움도 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile29-uf-1713ee144ccc47569588ff.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>개봉한 영화 <a href="https://bomchoon.kr/archives/553" data-type="post" data-id="553" target="_blank" rel="noreferrer noopener">엑스맨3</a>를 보고 싶은데 언제 쯤 보려나.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
