---
layout: post
title: 비열한 거리
date: 2006-07-03 15:24:47.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '560'
  _wp_old_slug: '560'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8572'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/560"
---
<p><!-- wp:paragraph --></p>
<p>최근에 봤던 영화 중에 제일 재밌게 본 것 같다. 천호진이라는 배우의 연기가 참 맘에 들었고 조인성이라는 배우 역시 생각보다 괜찮다는 생각이 든다. 이보영과의 짧은 키스신이 인상 깊었다. 제목 그대로 비열한 거리를 잘 표현한 영화. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile10-uf-1648e2254ccc47600aeb7f.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
