---
layout: post
title: 간츠
date: 2006-10-22 12:46:33.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _edit_last: '1'
  original_post_id: '645'
  _wp_old_slug: '645'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _publicize_job_id: '2529014536'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8500'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/645"
---
<p><!-- wp:paragraph --></p>
<p><a rel="noreferrer noopener" href="https://namu.wiki/w/%EA%B0%84%EC%B8%A0" target="_blank">간츠</a>라는 애니가 있다고 해서 26화까지 구해서 보았다.&nbsp;하드코어라고 해야할까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/10/cfile2-uf-1617ab024ccc479047bdda.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
