---
layout: post
title: 수퍼맨 리턴즈
date: 2006-06-28 15:07:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_public: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '556'
  _wp_old_slug: '556'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8584'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/556"
---
<p><!-- wp:paragraph --></p>
<p>남자랑 단 둘이 봤다. 남자 둘이 보는 경우는 역시 우리 뿐인 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>재밌을 것이라는 예상은 빗나갔고 중간 중간 웃겼다. (아주 재밌어서 웃은 것 아님)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>수퍼맨이 조각 미남이었지만 뭐 그렇게 매력적은 없었다.<br />여자주인공은 첨엔 별루였는데 나중엔 괜찮아 보였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>생각보다 긴 영화였다. 2시간 30분 정도.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이제 나이가 든 것일까? 재미가 없더라.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile27-uf-174d30114ccc475d66dc74.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
