---
layout: post
title: 하이에나 (7화)
date: 2006-11-03 15:16:05.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '654'
  _wp_old_slug: '654'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8449'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/654"
---
<p><!-- wp:paragraph --></p>
<p>이번 화에는 홍석천이 나온다.<br />생각보다 솔직한 드라마라는 생각을 해본다.<br />게이에 대한 이야기는 평범해 보이지는 않치만.<br />남자들의 사랑과 그리움, 그리고 환상(?)에 대한 솔직함.&nbsp;그러나 가볍지 않고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile24-uf-1277ac2e4ccc47974813fa.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile7-uf-1311bc2e4ccc479731e6b6.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile22-uf-117d6e2f4ccc47975e0304.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
