---
layout: post
title: 하이에나 (8화)
date: 2006-11-04 02:01:12.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '659'
  _wp_old_slug: '659'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8453'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/659"
---
<p><!-- wp:paragraph --></p>
<p>남자를 사랑하고 싶다면 그가 감추고 싶어하는 비밀을 지켜주는 편이 좋다.<br />봉인을 뜯고 나면 다시는 그를 사랑할 수 없게 될지도 모른다.<br />(사랑하는 남자가 게이라는 사실을 처음 듣고서)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile23-uf-141b282f4ccc479d3baede.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile22-uf-1510a30b4ccc479f4df047.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile10-uf-17658b114ccc479e89abfa.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile10-uf-175ebc014ccc479e757dae.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile23-uf-146e0d134ccc479f3bbb95.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile23-uf-120de10f4ccc47a02b95b9.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile24-uf-196326324ccc479f69411c.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile1-uf-170b7d024ccc47a06629fd.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile21-uf-185d2e334ccc479d86f21f.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
