---
layout: post
title: 한반도
date: 2006-08-03 04:10:44.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '601'
  _wp_old_slug: '601'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8513'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/601"
---
<p><!-- wp:paragraph --></p>
<p>볼거리는 조금 있었던 것 같았는데 아쉬움이 많이 남는 영화. 조금만 더 신경쓰면 좋았을 것을. 연극을 보는 듯한 느낌이랄까? 어색한 연출, 갑작스럽게 바뀌는 차인표.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/08/cfile30-uf-192f0e314ccc477750656f.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
