---
layout: post
title: X-Men 3
date: 2006-06-16 13:37:38.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '553'
  _wp_old_slug: '553'
  geo_public: '0'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8587'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/553"
---
<p><!-- wp:paragraph --></p>
<p>이런류의 영화를 좋아해서 그렇게 재미없다고 말할 순 없지만 비교적 높은 점수를 주고 싶지는 않다. 뭐랄까? 약간 유치한 웃음이 간혹 흘러나올 수 밖에 없었고 큰 긴장감도 없었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile28-uf-174946124ccc47590625a4.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
