---
layout: post
title: 엘리어스 시즌5
date: 2006-06-10 17:38:24.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 엘리어스
meta:
  _publicize_pending: '1'
  original_post_id: '551'
  _wp_old_slug: '551'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8589'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/551"
---
<p><!-- wp:paragraph --></p>
<p>와우! 엘리어스(Alias) 시즌 5가 끝났다. 이것으로 기나긴 이야기가 끝났다.<br />"시드니와 잭 그리고 이리나" + "램발디"의 이야기가 끝난 것이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile25-uf-197662014ccc47584caefe.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
