---
layout: post
title: 해피엔딩
date: 2006-07-20 15:32:39.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '578'
  _wp_old_slug: '578'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8561'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/578"
---
<p><!-- wp:paragraph --></p>
<p>원작이 해피엔딩이기 때문에, 해피엔딩으로 끝나겠지 하면서 내심 불안한 것은 왜일까?<br />다음주 월요일과 화요일이 빨리 왔으면 하고 바라는 것이 조금 유치한 걸까?<br />내가 바라는 것은 이유가 있는 해피엔딩이었으면 좋겠다.<br />다른 어떤 것도 아닌 사랑으로서의 결론이 되기를...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile4-uf-185f47304ccc4767767abf.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
