---
layout: post
title: Best Practice 3등 수상
date: 2006-11-16 02:26:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '673'
  _wp_old_slug: '673'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8480'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/673"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/11/cfile9-uf-150982124ccc47a43b8d80.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>※ 정보의 가치가 없을만큼 아주 오래된 내용이기 때문에 비공개에서 공개로 바꿈</p>
<p><!-- /wp:paragraph --></p>
