---
layout: post
title: 24시 시즌5
date: 2006-06-03 11:04:22.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  geo_public: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _wp_old_slug: '540'
  _publicize_pending: '1'
  original_post_id: '540'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8598'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/540"
---
<p><!-- wp:paragraph --></p>
<p>2004년도 초에 처음 24시 '시즌1'을 봤었는데 어느새 '시즌'5.&nbsp;오늘 '시즌5'를 다봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'시즌5'에서 끝나지 않고 내년에 '시즌6'로 이어진다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>하나의 TV 드라마가 오랬동안 연속되는 것이 참 대단. 우리 드라마는 그렇치 않은데.<br />마지막 장면이 다가올 '시즌6'가 중국과 관련됨을 암시해 준다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'시즌6'를 볼 때 쯤이면 나는 무엇을 하고 있을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>암튼 계속 재밌게 보고 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile24-uf-121ff42e4ccc475310056e.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
