---
layout: post
title: 연애시대 이후
date: 2006-06-04 06:16:17.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '547'
  _wp_old_slug: '547'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8592'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/547"
---
<p><!-- wp:paragraph --></p>
<p>연애시대 이후 뭔가 허전했는데 정말 유치하고 말도 안되는 드라마를 만났다.<br />난 이 드라마가 좋아지기 시작했다. 이유는 묻지 마시라.<br />나를 제외하면 지금 대세는 '미스터 굿바이'</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/06/cfile27-uf-187a472e4ccc4757612b92.jpg" alt="" /></figure>
<p><!-- /wp:image --></p>
