---
layout: post
title: 떨림
date: 2006-07-12 14:18:15.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  original_post_id: '568'
  _wp_old_slug: '568'
  _edit_last: '1'
  geo_accuracy: '0'
  _publicize_job_id: '11315158168'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8563'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/568"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/07/cfile21-uf-192643374ccc4763133163.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><span style="color: #9b18c1;"></span></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">달재씨...저를 떨리게 해주세요.<br />숨이 막힐 정도로 떨리게, 다른 사람 누구도 보이지 않게.<br />어떤 목소리도 들리지 않을 정도로. 떨리게 해주세요.<br />비밀이 점점 깊어 지는거 저는 원치 않아요....."</p>
<p><!-- /wp:paragraph --></p>
