---
layout: post
title: 우리들의 행복한 시간
date: 2006-12-22 16:08:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '734'
  _wp_old_slug: '734'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8429'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/734"
---
<p><!-- wp:paragraph --></p>
<p>슬픈 영화를 재밌다고 추천할 수 도 없고, 뭐라고 표현하면 좋을까? 지루하지 않은 슬픈 영화였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나도 그런 행복한 시간이 있었으면 좋겠다. 물론, 마지막이 없는...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile2-uf-1812ff254ccc47d571e2ad.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile9-uf-167e81124ccc47d492ad99.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
