---
layout: post
title: 천국의 계단
date: 2006-12-25 16:19:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  _publicize_pending: '1'
  original_post_id: '739'
  _wp_old_slug: '739'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8426'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/739"
---
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2006/12/cfile26-uf-165276034ccc47d65135ed.jpg" alt="" /><br />
<figcaption>정서</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
