---
layout: post
title: 연애시대가 끝나다.
date: 2006-05-28 05:08:04.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '536'
  _wp_old_slug: '536'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8606'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/536"
---
<p><!-- wp:paragraph --></p>
<p>처음부터 보지 못했지만 연애시대 참 재밌었다.<br />가만히 생각하게 만들기도 하고.<br />감우성, 손예진이란 배우 때문에 더 재밌었겠지.<br />사랑은 가슴 설레이는 익숙함일까?&nbsp;사랑이 뭘까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2006/05/cfile21-uf-126397344ccc4751a6a072.jpg" alt="" /><br />
<figcaption>꼬마 曰, "엄마~ 사랑이 뭘까?"</figcaption>
</figure>
<p><!-- /wp:image --></p>
