---
layout: post
title: 가을로
date: 2006-10-26 13:29:32.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '647'
  _wp_old_slug: '647'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8503'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/647"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2006/10/cfile25-uf-115aa4304ccc4792768ecb.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>회사 조직 문화 행사의 일환으로 영화 감상을.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>정말 재미가 없었다. 재미를 기대하는 영화는 아니었지만 그렇다고 해서 감동을 주기에도 배우들의 연기와 감독의 연출이 너무 부족했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>다만, 자연의 아름다움은 잘 표현한 것 같다.  여유를 가지고, 가벼운 맘으로 여행을 가고 싶다는 생각을...</p>
<p><!-- /wp:paragraph --></p>
