---
layout: post
title: 그해 여름
date: 2007-02-19 19:56:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '792'
  _wp_old_slug: '792'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8370'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/792"
---
<p><!-- wp:paragraph --></p>
<p>난 이 영화가 참 좋다. 새벽에 보기 시작해서, 지금 막 다 보았다. 이쁜 영화라고 해야할까? 아니면 슬픈 영화라고 해야할까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>어쩌면 너무나 평범한 영화인지도 모르겠다</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>수애의 연기가 난 참 좋다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile1-uf-137a51354ccc480f0e0329.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile21-uf-1863d4324ccc481089d381.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile2-uf-1504972f4ccc481152e976.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile25-uf-1815ee324ccc481110f880.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile3-uf-153c21314ccc481274b702.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile29-uf-1754fa0e4ccc48124c729f.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile22-uf-2062b0014ccc4812991583.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile4-uf-1151f5304ccc4813b15e76.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile29-uf-187f7e324ccc481346a4ab.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile2-uf-127af3324ccc4813488abc.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile4-uf-17055e2f4ccc4814874159.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left","width":720} --></p>
<div class="wp-block-image">
<figure class="alignleft is-resized"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile29-uf-193cb10b4ccc480e07690b.jpg" alt="" width="720" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile6-uf-125e03034ccc4814216a80.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile24-uf-2045e3354ccc481484f0f5.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile25-uf-122f58314ccc481341ff78.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile9-uf-192342314ccc48168aa6f1.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile27-uf-206faf324ccc48155511c1.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile28-uf-1166bf324ccc48167b3a06.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile2-uf-170ab62f4ccc481739719a.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile7-uf-1502e4324ccc48152390f4.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile8-uf-181d9d124ccc48173fac47.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile22-uf-125e01304ccc4817669a4a.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile26-uf-194cc3134ccc481845a817.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile29-uf-11604c244ccc481706f4a6.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile27-uf-164814314ccc481a410915.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile9-uf-140a5e0f4ccc481961a2f7.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile23-uf-167d1e324ccc48183b7963.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile6-uf-157b03324ccc4819738269.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile5-uf-161adb2f4ccc48185d6758.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile7-uf-1659c3014ccc481b0b0c18.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile9-uf-2066dc324ccc481b7602a6.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile24-uf-1203142f4ccc481a82b4ed.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile22-uf-1724812f4ccc481a26f349.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile8-uf-151fa1054ccc480f5d5ea7.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
