---
layout: post
title: 웨딩 (12, 13회)
date: 2007-08-18 02:49:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '920'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-12%ed%99%9413%ed%99%94"
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8273'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/920"
---
<p><!-- wp:paragraph --></p>
<p>답답함, 싸움, 믿지 못함, 상처, ...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>비밀이 너무 많아도 좋치 않고,<br />비밀이 너무 없어도 좋치 않은 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>잘 어울림이란 무엇일까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>비슷한 점도 있고 다른 점도 있는 것이 당연하겠지만,<br />비슷함이 중요할까? 다른 점이 중요할까? 하는 생각을 해본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>잘 어울린다는 것이 비슷함에 비중이 있는 것일까? 다른 점에 비중이 있는 것일까?<br />정답은 없겠지? ... 다르면 맞추면 되고, 비슷하면 공감하면 되고...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/08/cfile26-uf-1202d42f4ccc484b804327.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
