---
layout: post
title: Rocky Balboa
date: 2007-02-20 10:30:58.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '832'
  _wp_old_slug: '832'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  geo_address: '0'
  _edit_last: '1'
  geo_public: '0'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8364'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/832"
---
<p><!-- wp:paragraph --></p>
<p>어쩌면 너무나 뻔한 이야기. 영화를 소개해주는 TV 프로에서 "로키! 발모아!" 라고 해서 웃었던 기억이 난다. 영화보다, 실제 경기를 보는 듯한 느낌이 들었는데, 그렇게 의도했던 것 같다. 나쁘지 않았고, 나름 박진감 있었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>뻔한 이야기를 보면서 그렇게 뻔하지 않게 느껴졌던 영화.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 누구를 의식하며 살아야 하는지 그리고 열정이 있는지를 생각하게 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">"처음엔 다들 웃었지만, 지금은 아무도 웃지 않는다" <br />- 로키 아들이 로키에게</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile25-uf-14213c314ccc481e56b920.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile1-uf-1744d4314ccc481f336fa7.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
