---
layout: post
title: 웨딩 (18회, 마지막)
date: 2007-09-29 16:56:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '933'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-%eb%a7%88%ec%a7%80%eb%a7%89%ed%9a%8c-18%ed%99%94"
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8266'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/933"
---
<p><!-- wp:paragraph --></p>
<p>하루 종일 흘렸던 눈물 때문인지 눈이 부어서 약간 눈을 감은 채 보고 있다.</p>
<p>결국, 원래 그 자리로 돌아가는 분위기인데, 왜 그렇게 돌아들 갔는지... 그렇게 돌아갔기 때문에 서로에 대한 사랑을 알게 되었는지 모른다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>서로 다르다는 것도, 서로 비슷하다는 것도 이것이 좋다 저것이 좋다 말할 수 있는 성질의 것이 아닌 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>세나(장나라)가 한 말이 내 귀에 들린다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">"바보더라구요. 마음이 아픈 것을 머리가 아프다고 그러자나요."</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나... 행복한 사랑을 하고 싶다... 이렇게 가슴이 아픈 것도 행복이라는 상자 안에 같이 들어 있는 것이겠지...<br />지금의 나는, 내 가슴과 내 마음과, 내 심장과, 내 머리와, 내 생각이 자기들 맘대로다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile22-uf-1955b9044ccc4856967f65.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile4-uf-127fef274ccc4855458a04.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile4-uf-183eaf0d4ccc4856201240.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile27-uf-1677ac254ccc48564ff31e.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile2-uf-174eb2304ccc485796323b.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile23-uf-143588314ccc485757236c.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile24-uf-177b872e4ccc48573ac83e.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
