---
layout: post
title: 웨딩 (9회)
date: 2007-07-17 10:38:43.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '904'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-9%ed%99%94"
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8296'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/904"
---
<p><!-- wp:paragraph --></p>
<p>취향과 생각, 정서가 같은 두 사람과 취향과 생각, 정서가 다는 두 사람<br />영향을 주는 사람과 영향을 받는 사람</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>휴일날 저녁, 웨딩 9화를 보았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>집중해서 보지는 못했지만, 위에 적은 상대적인 말들이 생각났다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>명세빈 : "오빠 어머니가 다녀가셨어... 헤어져 달라고..."</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8294,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/07/cfile30-uf-201c520b4ccc4842434cff_r-1.jpg" alt="" class="wp-image-8294" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>장나라 : "어쩌면 좋아, 나 이제 승우씨 얘길 믿을 수 없어요."</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8293,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/07/cfile29-uf-1535aa0d4ccc48424eac61_r.jpg" alt="" class="wp-image-8293" /></figure>
<p><!-- /wp:image --></p>
