---
layout: post
title: 웨딩 (8회)
date: 2007-06-16 06:18:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '896'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-8%ed%99%94"
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8301'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/896"
---
<p><!-- wp:paragraph --></p>
<p>예전엔 정말 장나라 같은 스타일을 좋아하지 않았는데... 이 드라마에 나오는 장나라는 맘에 든다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8303,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile21-uf-1637e40d4ccc483f7a361f_r-1.jpg" alt="" class="wp-image-8303" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>그리고 명세빈...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8304,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile29-uf-162390124ccc483f758a84_r.jpg" alt="" class="wp-image-8304" /></figure>
<p><!-- /wp:image --></p>
