---
layout: post
title: Trick 2
date: 2007-02-19 20:05:01.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  geo_public: '0'
  _edit_last: '1'
  geo_address: '0'
  geo_accuracy: '0'
  original_post_id: '828'
  _wp_old_slug: '828'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_job_id: '11368186635'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8384'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/828"
---
<p><!-- wp:paragraph --></p>
<p>회사 동료 때문에 알게된 일본 드라마 "트릭"</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 본 것은 시즌1편이었고, 어쩌다 저쩌다 해서, 극장판으로 Trick 2를 구해서 보게 되었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>보통 극장판이라고 하면 느낌이 좀 다른데, 요건 그냥 드라마랑 느낌이 똑같다. 음악,주인공,분위기 등...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>여자 주인공이 나름 괜찮다. "케헤헤헤"하고 웃는 특징도 있고. ㅎㅎ<br />남자 주인공 역시 잘생긴 것 같다. 약간 코메디가 썩여 있는 영화다. 원래 드라마가 그렇고.<br />여자 배우 이름을 찾았다. 나카마 유키에(仲間由紀惠) 란다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile23-uf-13119f2f4ccc481c404743.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
