---
layout: post
title: 웨딩 (5, 6회)
date: 2007-06-09 04:42:52.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  geo_accuracy: '0'
  _publicize_pending: '1'
  original_post_id: '886'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-56%ed%99%94"
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8312'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/886"
---
<p><!-- wp:paragraph --></p>
<p>"누구랑 달리 나만 좋아해 준다..." 류시원(승우)이 한 대사 중 하나인데, 귀에 쏙 들리네.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>살짝 살짝 웃기는 드라마다. ㅋㅋ</p>
<p>서로 좋아하는 것. 어쩌면 너무도 평범하지만, 어쩌면 너무 특별한. 어떤 것.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile2-uf-1416302e4ccc483b261d33.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile26-uf-12162e2e4ccc483b5e0f4c.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile23-uf-113379024ccc483c123392.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile25-uf-146282034ccc483c636bff.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile21-uf-113ddb0d4ccc483c332781.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/06/cfile3-uf-175adc014ccc483b84c270.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
