---
layout: post
title: 웨딩 (11회)
date: 2007-08-03 03:50:16.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '914'
  _wp_old_slug: '914'
  geo_public: '0'
  geo_address: '0'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8277'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/914"
---
<p><!-- wp:image {"id":8280,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/08/cfile29-uf-193c7d314ccc48493b2190-1_r-1.jpg" alt="" class="wp-image-8280" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>이 식당에서 흘러나오는 노래, 어디서 많이 들었던 노래인데 기억이 잘 나지 않는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8281,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/08/cfile9-uf-1216c9104ccc484767226c_r.jpg" alt="" class="wp-image-8281" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>둘이 싸운다. ㅋㅋ "싸운다는 것, 사랑하지 않으면 할 수 없는 것 중에 하나다."<br />아래 갈무리한 사진은 둘이 아직 싸우고 있는 중인데, 장인,장모님 때문에 어쩔 수 없게 사진 찍는 모습. ㅎㅎ</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8282,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/08/cfile7-uf-171c7a144ccc48488697d9_r.jpg" alt="" class="wp-image-8282" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>명세빈 때문에 답답했는데, 착하다는 것은 때론 답답하다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>일단 명세빈-류시원 사이가 주는 갈등이 곧 가라앉게 될 것 것 같다. 그러면 김현우-장나라 사이가 주는 갈등은 언제 시작하게 될까? ㅋㅋ (12화 부터는 나타날 듯...)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8283,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/08/cfile27-uf-11224c2e4ccc484807a04c_r.jpg" alt="" class="wp-image-8283" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>휴가 기간 내내 집에 있었는데... 이런 곳에 가서 좀 걸으면 얼마나 좋을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8284,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/08/cfile6-uf-1105552f4ccc48495f6171_r.jpg" alt="" class="wp-image-8284" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>류시원 : 다른 남자 앞에서 웃지마, 기분 나뻐. 웃지말라구...</p>
<p><!-- /wp:paragraph --></p>
