---
layout: post
title: 미사리
date: 2007-05-16 09:57:55.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_latitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '874'
  _wp_old_slug: '874'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_public: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8330'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/874"
---
<p><!-- wp:paragraph --></p>
<p>노래를 참 잘 부르더라...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/05/cfile7-uf-207fd4324ccc48341f5796.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/05/cfile1-uf-123a1e344ccc483323d6de.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/05/cfile6-uf-1462d5324ccc483371cd7e.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
