---
layout: post
title: 유지연
date: 2007-01-25 14:34:35.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '768'
  _wp_old_slug: '768'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8419'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/768"
---
<p><!-- wp:paragraph --></p>
<p>사랑과 전쟁에 단골로 등장하는 분. 언제 부터인가 괜찮다는 느낌이 들었다. 오늘&nbsp;이 분에 대한 기사가 나왔는데 이름이 유지연이란다.<br />KBS 18기 슈퍼탤랜트 출신이도 한 것 같다. 가끔 광고에도 나오고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile1-uf-1469622e4ccc47e68f9842.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
