---
layout: post
title: 사보
date: 2007-12-26 14:40:41.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '963'
  _wp_old_slug: '963'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_public: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8230'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/963"
---
<p><!-- wp:paragraph --></p>
<p>12월 사보에 실렸다!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/12/cfile25-uf-1859a8114ccc48674b3550.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
