---
layout: post
title: 웨딩 (14, 15회)
date: 2007-09-22 04:16:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  geo_public: '0'
  _publicize_pending: '1'
  original_post_id: '925'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-14%eb%b6%80-15%eb%b6%80"
  geo_address: '0'
  geo_latitude: '0.000000'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8264'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/925"
---
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">승우 어머님 :<br />승우가 뭐가 좋았어?<br />뭐가 좋아서 결혼까지 한거야?<br />세나(장나라) :<br />그러게요.<br />뭐가 좋았을까요?<br />촌스러운 옷도 좋았고요. 죄송해요 어머님.<br />승우씨가 처음에 옷을 잘 못입었거든요.<br />굉장히 어렵게 말하는 것도 좋았고,<br />피식웃는 것도 좋았고,<br />혼자 고지식 한 면도, 여자에 대해 서툰 것도 좋았고,<br />시도 잘 읊어주고요.<br />무엇보다도 어머님 닮아서 잘생겼자나요.<br />전부다요.<br />저는 처음부터 전부다 좋았나봐요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>승우 어머님이 돌아가셨다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile1-uf-186fa62e4ccc484d807b0e.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
