---
layout: post
title: 웨딩 (10회)
date: 2007-07-31 05:35:01.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '911'
  _wp_old_slug: "%ec%9b%a8%eb%94%a9-10%ed%99%94"
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8298'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/911"
---
<p>사랑의 권력 관계라는 말이 여기에도 나오네...</p>
<p>목사님이 했던 말이 자꾸 생각난다. 자신의 인생에서 가장 중요한 것을 하나님의 방법대로 해보라는... 그러면서 여러분의 인생에서 가장 중요한 것은 현재 "연애" 일 꺼라고...ㅋㅋ</p>
<p>오해... 오해하도록 만들었다면...</p>
<p>명세빈: "결혼해요, 결혼 하고 싶어. 내가 오빠 가족이 되어 줄께."</p>
<p><!-- wp:image {"id":8299,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/07/cfile29-uf-12657a304ccc48447ae4e3_r.jpg" alt="" class="wp-image-8299" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
