---
layout: post
title: 행복
date: 2007-10-14 15:56:21.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '948'
  _wp_old_slug: '948'
  geo_public: '0'
  geo_address: '0'
  _edit_last: '1'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8248'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/948"
---
<p><!-- wp:paragraph --></p>
<p>사람은 쉽게 변할 수 없다는 사실과 임수정과 공효진이 이쁘다는 사실을 알게 해 준 영화. 임수정이 뛸 때와 마지막 장면에서 눈물이 나긴 했지만 몰입이 잘 되지는 않았던 것 같다. "미안해서 어쩔 건데" 라는 대사가 기억난다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/10/cfile27-uf-1611040b4ccc48596da6a9.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
