---
layout: post
title: 24시 시즌6
date: 2007-01-13 09:50:13.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _wp_old_slug: '760'
  geo_public: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '760'
  geo_address: '0'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8408'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/760"
---
<p><!-- wp:paragraph --></p>
<p>어느 새 '시즌 6'. 이번에 딸 "킴" 이 나오려나??</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile2-uf-142e30314ccc47e48d443c.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>스파이더맨에 나오는 여주인공(키얼스틴)과 살짝 헤깔렸음. 킴의 실제 이름은 엘리샤 쿠스버트.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile28-uf-1665af324ccc47e46c7e89.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
