---
layout: post
title: 궁S
date: 2007-01-10 14:36:37.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  original_post_id: '754'
  _wp_old_slug: '754'
  geo_accuracy: '0'
  _publicize_job_id: '11311592480'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8413'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/754"
---
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" />최근엔 볼만한 드라마가 없었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'궁S - 궁 시즌2'를 오늘 시작했다. 다른 건 몰라도 괜찮은 배우들이 나온다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>박신혜 - '천국의 계단' 정서의 아역 배우로 나왔던.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile30-uf-14026b2f4ccc47e1924161.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>명세빈 - 정말 오랜만에 본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile29-uf-13027f2f4ccc47e17b1ef3.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>전수연 - 궁 전편에서 최상궁으로 나왔던 것으로 생각했는데 아니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile30-uf-175124044ccc47e17ea920.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>허이재 - 어디서 본 듯 하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile6-uf-142acd314ccc47e27ec58b.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>첫 회를 본 소감은 "뭐 그럭 저럭" 정도다. 앞으로 계속 보면 알겠지.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참, 궁1과 연속성이 없는 새로운 드라마임.</p>
<p><!-- /wp:paragraph --></p>
