---
layout: post
title: 낯선 곳 캐나다
date: 2007-02-09 10:52:17.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_address: '0'
  geo_public: '0'
  original_post_id: '776'
  _wp_old_slug: '776'
  _publicize_job_id: '16965020420'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8403'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/776"
---
<p><!-- wp:paragraph --></p>
<p>LG전자 입사 후 첫 출장. 캐나다는 처음이고, 혼자였으며, 차를 Rent해서 직접 찾아가는 것이기에 사뭇 걱정도 되었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>하지만, 큰 문제 없이 숙소까지 도착했다. 짐정리를 좀 하고, 샤워도 하고, 메일을 한통 보내고 잠을 잤는데... 시차 땜인지, 익숙하지 않다. 지금은 현지 시간 아침 5시 34분, 서울은 오후 7시 33분. (2007년 2월 9일)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>익숙한 것이 하나도 없지만, 새로운 환경에 다소 긴장이 되었지만, 예약이 잘 되어서인지 쉽게 쉽게 된 것 같다. 차를 빌리고, 처음 도로에 진입하는 순간 기분이 몹시 좋았다. 일종의 성취감.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>NerverLost라는 GPS 시스템의 안내로 이곳까지 오긴 했는데, MapQuest에 가서 검색해 본 후에 내가 온 길을 알 수 있었다. 아주 가까워서 다행이었어...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8401,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile3-uf-130bbf2f4ccc47ea489e58.jpg" alt="" class="wp-image-8401" /><br />
<figcaption>뒤에 있는 이상한 숫자는 Zip Code이다.</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>Where is Hertz?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>공항에 도착하고 알아보지 못한 탓에 Hertz 위치를 몰랐다. 엄한 방향으로 가다가 아닌 듯해서, 덩치 큰 여자분에게 물었더니.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>"Hotel?" 이러더라. 내 발음이 그렇게 이상한가? ㅋㅋ 큰소리로 "Rent Car(r 발음에 혀를 좀 굴려서)" 했더니 알려주더라.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>옷을 너무 약하게 입어서인지 추웠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile9-uf-153105374ccc47eb06efec.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
