---
layout: post
title: 은상 수상
date: 2007-09-13 15:33:46.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _publicize_job_id: '16964968044'
  original_post_id: '923'
  _wp_old_slug: '923'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8270'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/923"
---
<p><!-- wp:paragraph --></p>
<p>은상을 받았다. 적당한 표현으로 비교적 솔직하게 썼는데...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/09/cfile23-uf-142f17314ccc484c6ad2e4.gif" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
