---
layout: post
title: 진급
date: 2007-03-12 12:55:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  original_post_id: '842'
  _wp_old_slug: "%ec%84%a0%ec%9e%85-%ec%a7%84%ea%b8%89"
  _edit_last: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_job_id: '16965349067'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8356'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/842"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile2-uf-1917c1304ccc482103e5e7.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>선임 진급을 했다.</p>
<p><!-- /wp:paragraph --></p>
