---
layout: post
title: 캐나다에서 드린 예배
date: 2007-02-10 18:48:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '780'
  _wp_old_slug: '780'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8397'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/780"
---
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" /><span style="color: #000000;">2007년 주일을 꼭 지키겠다고 생각했기 때문에, 캐나다 출장 중에도 예배를 드리기 위해 교회를 찾았다. 현지인 교회에 갈까 한인 교회에 갈까 교민을 하다가, 그래도 부담이 적은 한인 교회를 찾다가, "토론토영락교회"를 찾아갔다. 좀 큰 교회였는데, 모두 한국 사람들이었고, 그냥 한국 같다는 생각이 들었다.</span></p>
<p><span style="color: #000000;">사진을 찍기가 좀 그래서, 예배 전에 실내 사진을 한 장 찍어보았다. 사진에는 사람이 없지만, 예배 시간에는 가득하다. 참, 3부 예배였다. 청년부 예배를 드릴 껄 하는 생각이 들긴 했었다.</span></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile9-uf-137103254ccc47ec95ea3d.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
