---
layout: post
title: 마녀유희
date: 2007-03-22 14:16:12.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_accuracy: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '849'
  _wp_old_slug: '849'
  geo_address: '0'
  geo_public: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8360'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/849"
---
<p><!-- wp:paragraph --></p>
<p>1화를 보고 약간 어색함을 느꼈던 드라마. 약간 뻔한 드라마라는 느낌.<br />2화를 보고 '재밌네', '한가인 이쁘네', '한가인 이쁘네', '한가인 이쁘네'...<br />앞으로 계속 보게 될 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile29-uf-113bce2f4ccc482219e8a1.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
