---
layout: post
title: 바다 그리고 호수
date: 2007-03-06 16:09:05.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_latitude: '0.000000'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '838'
  _wp_old_slug: '838'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8358'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/838"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile9-uf-175910304ccc48208a446c.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>파란 하늘, 넓은 바다, 호수는 내 가슴을 설레게 한다. 캐나다에 잠깐 갔을 때, 그 호수를 걸어보지 못한 것이 넘 후회가 된다. 언젠가 넓은 바다나 호수 옆에서 걸어가고 싶다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>하나님 앞에서 더 큰 꿈과 설레임을 소망하면서, 현실의 바쁨과 어려움은 자꾸만 나로 하여금 힘들게 만든다. 그리고 자꾸만. 자꾸만. 내 인생이 재미가 없다고 느낀다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>하루 하루를 사는 것이 설레는 여행 같으면 얼마나 좋을까? 눈 앞에 보이지는 않지만, 그 설레는 여행과 같은 삶이 그리 멀리 있지 않을 것이라고 생각한다. 구체적이지 않치만, 다른 눈으로 바라보기 원한다. 바라는 것의 실상, 믿음으로...</p>
<p><!-- /wp:paragraph --></p>
