---
layout: post
title: 해바라기
date: 2007-02-04 14:03:53.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '772'
  _wp_old_slug: '772'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8383'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/772"
---
<p><!-- wp:paragraph --></p>
<p>사실 큰 기대를 하지 않았다. 그러나 의외로 괜찮았던 영화.</p>
<p>김래원을 그렇게 좋아하지 않았는데 나름 괜찮은 연기를 보여준 것 같다.<br />영화를 보고 나서 나도 그런 수첩을 하나 가지고 있으면 좋겠다라는 생각을 해본다.<br />생각보다 절제된 느낌이 나서 좋았던 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile2-uf-1972c2324ccc47e741d8aa.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
