---
layout: post
title: 프리즌 브레이크 시즌1
date: 2007-04-22 12:28:11.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_accuracy: '0'
  geo_address: '0'
  _publicize_pending: '1'
  original_post_id: '857'
  _wp_old_slug: '857'
  geo_public: '0'
  geo_longitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8342'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/857"
---
<p><!-- wp:paragraph --></p>
<p>이번 주 토요일은 프리즌 브레이크 시즌1과 함께.&nbsp;재미있긴 했지만 나는 24시가 더 나은 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile2-uf-173bc2314ccc4827554b13.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile26-uf-163ed20e4ccc482771cbd4.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile4-uf-207e0f2f4ccc482651078c.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
