---
layout: post
title: ㅎㅇㄱㅈ
date: 2007-11-18 02:26:04.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '960'
  _wp_old_slug: '960'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8243'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/960"
---
<p><!-- wp:image {"id":8242,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/11/Preview.x.jpg" alt="" class="wp-image-8242" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
