---
layout: post
title: 출장을 마치고 귀국
date: 2007-02-16 22:00:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '783'
  _wp_old_slug: '783'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8393'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/783"
---
<p><!-- wp:paragraph --></p>
<p>짧지만, 심리적 압박이 심했던 출장이었다. 주어진 시간 안에 문제를 꼭 해결해야했고, 예상과 다른 상황들 때문에, 고생을 했다. 아쉬움 속에 마무리를 하고 한국에 돌아왔다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>마지막 날, TOYOTA 딜러에게 부탁해서 TOYOTA 차량과 테스트를 했었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 중국 사람인지, 한국 사람인지 분간이 되지 않는다고 한다. 그 말을 했던 사람은 중국사람이었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile6-uf-1351a5044ccc47edcda23b.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
