---
layout: post
title: 웨딩 (3, 4회)
date: 2007-05-12 04:52:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _publicize_pending: '1'
  original_post_id: '871'
  _wp_old_slug: '871'
  _edit_last: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8334'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/871"
---
<p><!-- wp:paragraph --></p>
<p>대화가 많은 드라마라서 그런지 아직 초반이지만, 보면 볼수록 생각을 많이 하게되는 드라마인 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>누군가를 좋아한다는 것과 그 방향이 어긋난다는 것.<br />속상함이라는 것, 알 수 없는 복잡한 마음들.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>뭐라 말 할 수 없는 여러 가지 생각들이 밀려오고 밀려 나간다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/05/cfile25-uf-134428344ccc482f200eb8.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
