---
layout: post
title: 웨딩 (2회)
date: 2007-04-29 07:01:12.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  original_post_id: '865'
  _wp_old_slug: '865'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8349'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/865"
---
<p><!-- wp:paragraph --></p>
<p>역시 "시"가 나온다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">연인의 곁 - 괴테<br />햇빛이 바다를 비출 때<br />나는 그대를 생각하노라.<br />달그림자 샘에 어릴 때<br />나는 그대를 생각하노라<br />먼 길 위에 먼지 자욱이 일 때<br />나는 그대 모습 보노라.<br />깊은 밤 좁은 길을 나그네가 지날때<br />나는 그대 모습 보노라<br />물결이 거칠게 출렁일때<br />나는 그대 목소리 듣노라..<br />모두가 잠든 고요한 숲속을 거닐면<br />나는 또한 그대 목소리 듣노라<br />그대 멀리 떨어져 있어도 나는 그대 곁에..<br />그내는 내 곁에 있도다<br />해는 기울어 별이 곧 반짝일 것이니<br />아, 그대 여기에 있다면...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile29-uf-207fc02f4ccc482cab8fd9.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile9-uf-125e51114ccc482d7aa91b.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile26-uf-1614952e4ccc482d19a256.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile29-uf-155052244ccc482d3d0f5d.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile10-uf-123b08034ccc482ca0c355.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
