---
layout: post
title: 웨딩 (1회)
date: 2007-04-27 12:46:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 웨딩
meta:
  geo_public: '0'
  _publicize_pending: '1'
  original_post_id: '862'
  _wp_old_slug: '862'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8337'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/862"
---
<p><!-- wp:paragraph --></p>
<p>조금 예전 드라마.<br />아는 분이 필이 꽂힌 드라마라고 해서 보기 시작한다.<br />처음 느껴지는 어떤 어색함을 잠깐 지나고 나니 이 드라마! 재밌을 것 같다.</p>
<p>류시원이 읊었던 시가 좋았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">그때는 걸어서 다녔다. (김광규)</p>
<p>걸어서 다녔다<br />통인동 집을 떠나<br />삼청동 입구<br />돈화문 앞을 지나<br />원남동 로타리를 거쳐<br />동숭동 캠퍼스까지<br />그때는 걸어서 다녔다<br />전차나 버스를 타지 않고<br />플라타너스 가로수 밑을 지나<br />마로니에 그늘이 짙은<br />문리대 교정까지<br />먼지나 흙탕물 튀는 길을<br />천천히 걸어서 다녔다<br />요즘처럼 자동차로 달려가면서도<br />경적을 울려대고<br />한발짝 앞서 가려고<br />안달하지 않았다.<br />제각기 천천히 걸어서<br />어딘가 도착할 줄 알았고<br />때로는 어수룩하게 마냥<br />기다리기도 했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/04/cfile1-uf-183f1e284ccc48290836ef.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
