---
layout: post
title: 허이재
date: 2007-01-25 14:05:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '766'
  _wp_old_slug: '766'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8418'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/766"
---
<p><!-- wp:paragraph --></p>
<p>궁S 1회를 보고 그동안 못보고 있었다. 오랜만에 보니 이야기가 많이 진행된 것 같다. 그나저나 누군가 했었는데 해바라기에 나왔던 배우다. 허이재.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/01/cfile24-uf-18280d144ccc47e59a9917.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
