---
layout: post
title: 명함 정리
date: 2007-03-29 16:08:53.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _edit_last: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '851'
  _wp_old_slug: '851'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8352'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/851"
---
<p><!-- wp:paragraph --></p>
<p>나의 옛 명함들을 정리해 본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>내 인생의 첫번째 회사 네오엠텔</li>
<li>내 인생의 두번째 회사 씨엠엠, 씨엠엠은 회사 이름의 변화가 좀 있었다.</li>
<li>내 인생의 세번째 회사 LG전자</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile27-uf-192c99104ccc4823571ae3.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile27-uf-170a612f4ccc48236636d5.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile22-uf-2075932f4ccc48237b78fb.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile24-uf-1701d7244ccc4824a88ade.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2007/03/cfile27-uf-1101c8254ccc4824c92911.jpg" alt="사용자 삽입 이미지" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>네오엠텔은 내 인생의 첫번째 회사였다. 대학교 4학년 여름부터 이 회사에 다니기 시작했었다. 좋은 기억들이 많이 있는 회사였고, 나름 인정도 많이 받았던 회사였다. 네오엠텔에서 만난 좋은 분들이 새롭게 회사를 차렸다. 그래서 옮겼다. 아쉬움이 많았던 기억이 난다. 그리고 인정을 많이 받지 못했던 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>회사 이름이 CMM으로 바뀌면서 WARNER BROS와 조인을 했으나, 중간에 잘 되지 않았다. WARNER BROS와의 사업이 잘 되지 않아, 결국 결별하고, CMM 이라는 이름으로 모바일 컨텐츠, 모바일 SI 중심의 사업을 진행했으나, 기대 이상으로 잘 되지 않아 어려움이 많았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>현재 다니고 있는 회사, 여러번 조직이 바뀌고 진급도 했다. 스트레스와 어려움이 있지만 결국 직장 생활을 거기서 거기라는 생각을 해본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>3개 명함(ALBM,WARNER BROS,CMM)은 모두 동일한 회사다. ㅋㅋ</p>
<p><!-- /wp:paragraph --></p>
