---
layout: post
title: LG전자 캐나다 법인
date: 2007-02-17 18:21:20.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_longitude: '0.000000'
  geo_address: '0'
  geo_public: '0'
  geo_accuracy: '0'
  _publicize_pending: '1'
  original_post_id: '785'
  _wp_old_slug: '785'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8390'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/785"
---
<p><!-- wp:paragraph --></p>
<p>출장 갔던 캐나다 법인 (LGECI)<br />눈이 많이 와서, 주변이 하얗게 된 사진을 좀 찍어 놨어야 했는데, 일하러 갔기에.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8391,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2007/02/100_0916.jpg" alt="" class="wp-image-8391" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
