---
layout: post
title: 24시 시즌6
date: 2007-02-18 02:55:20.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  _publicize_pending: '1'
  original_post_id: '787'
  _wp_old_slug: '787'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8379'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/787"
---
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" />24시는 인물들이 여러 시즌 별로 묘하게 연결되어 등장한다. 24시 매력 중 하나다. 이번에는 형과 아버지가 나온다. 소재의 한계가 온 것이 아닌가 하는 생각도 든다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile26-uf-170b3d274ccc47f121480b.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile6-uf-186a99324ccc47f1625cb0.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2007/02/cfile6-uf-1202dd324ccc47f04b71dc.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
