---
layout: post
title: 안드로이드의 블루투스
date: 2008-11-07 00:50:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  _publicize_pending: '1'
  original_post_id: '996'
  _wp_old_slug: '996'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8183'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/996"
---
<p><!-- wp:paragraph --></p>
<p>나는 Bluetooth 기능을 담당하고 있다. 최근에 안드로이드 플랫폼이 이슈가 되는 것 같다. 지원이 필요한 것 같아서 잠깐 살펴볼 일이 있었다. Bluetooth SIG에서 찾아보니 현재는 HSP(headset profile)와 HFP(Handsfree profile)만 지원한다. 나머지 프로파일은 언제쯤 지원될까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2008/11/cfile21-uf-206cc82e4ccc489d77f3cf.png" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>안드로이드에서 블루투스 기능 구조는 다음과 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2008/11/cfile4-uf-127038324ccc489d44bce0.png" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
