---
layout: post
title: 마지막 예배
date: 2008-12-28 06:00:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_accuracy: '0'
  geo_address: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  original_post_id: '1011'
  _wp_old_slug: '1011'
  geo_public: '0'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8155'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1011"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2008/12/cfile25-uf-142154024ccc48c43294d8.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;높은뜻 숭의교회>에서 드리는 마지막 예배</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>교회가 4개의 교회로 분립하면서 높은뜻 숭의교회에서 드리는 마지막 예배였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이곳에 처음왔던 2006년 겨울을 기억한다. 벌써 3년이 넘었네.</p>
<p><!-- /wp:paragraph --></p>
