---
layout: post
title: 낭비 극장 출연
date: 2008-11-07 01:04:04.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  geo_address: '0'
  geo_public: '0'
  _edit_last: '1'
  geo_accuracy: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _publicize_job_id: '16965042008'
  original_post_id: '999'
  _wp_old_slug: '999'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8178'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/999"
---
<p><!-- wp:paragraph --></p>
<p>약간 지난 일이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>회사에서 낭비 제거 활동을 활성화하기 위해 리더들을 위한 교육 자료를 만들었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>온라인 교육 자료인데 이름하여 "낭비 제거 리더 극장". 출연했다. 약간의 출연료도 받고. 나름 예고편(트레일러, trailer)도 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2008/11/cfile5-uf-156efd324ccc48bd4a1678.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
