---
layout: post
title: 코더는 없다.
date: 2008-09-26 07:00:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  original_post_id: '982'
  _wp_old_slug: '982'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _publicize_job_id: '18592172622'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8206'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/982"
---
<p><!-- wp:paragraph --></p>
<p>코더니 아키텍트니 하는 주제로 많은 이야기들이 오가는 것을 보았다. 나는 코더라는 말을 쓰지 않았으면 좋겠다. 개발자를 폄하할 때 사용되는 경우가 너무 많다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이런 주제로 여러가지 글들을 찾아서 읽어보긴 했는데 아쉽기만 했다. 코더라는 말을 쓰기엔 시대가 변한 것 아닌가 한다. 아래 그림에서 코드를 꼽고 있는 사람이 코더란다. 요즘 시대엔 코더는 없다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2008/09/cfile4-uf-1827c0054ccc489b7c4349.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>이것 저것 찾아서 읽어본 글들</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>코더와 아키텍트를 나누는 프로그래머들</li>
<li><a rel="noopener noreferrer" href="http://brajeshwar.com/2007/are-you-a-programmer-or-a-coder" target="_blank">Are you a Programmer or a Coder</a></li>
<li><a rel="noopener noreferrer" href="http://envi.egloos.com/938464" target="_blank">코더와 프로그래머</a></li>
<li><a rel="noopener noreferrer" href="http://blog.naver.com/mixer9?Redirect=Log&amp;logNo=17592248" target="_blank">개발자 프로그래머의 기준</a></li>
<li>코더, 프로그래머, 개발</li>
<li><a rel="noopener noreferrer" href="http://gendoh.com/2510776" target="_blank">코더의 길</a></li>
</ul>
<p><!-- /wp:list --></p>
