---
layout: post
title: Mac OS X 10.5
date: 2008-09-20 05:00:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  original_post_id: '980'
  _wp_old_slug: '980'
  _edit_last: '1'
  _publicize_job_id: '11331568347'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8209'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/980"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2008/09/cfile8-uf-1178bf2f4ccc488b5cceda.png" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>iPhone SDK를 설치해 보고 싶은 생각에 Mac OS 10.5를 노트북에 설치해 보았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>노트북이 도시바의 A100 인데 무선랜 카드를 못잡은 것 같고 그래픽 카드(ATI X1300)를 정확하게 찾지 못해 기본값으로 설치를 한 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>Alt + Shift + 4를 눌러서 첫 화면을 캡쳐해 보았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참고:&nbsp;<a rel="noreferrer noopener" href="https://x86.co.kr" target="_blank">https://x86.co.kr</a></p>
<p><!-- /wp:paragraph --></p>
