---
layout: post
title: iMac을 구매하다.
date: 2009-01-23 13:50:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  original_post_id: '1023'
  _wp_old_slug: '1023'
  _edit_last: '1'
  _publicize_job_id: '11331577833'
  geo_accuracy: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8148'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1023"
---
<p><!-- wp:paragraph --></p>
<p>아내의 동의를 얻어 큰 마음을 먹고 간지나는 iMac을 구매했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>해킨토시는 이래 저래 귀찮다.</li>
<li>Mac Book은 가격이 너무 비싸다.</li>
<li>Mac Mini는 추가로 구매 비용이 증가한다. (모니터 등)</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"left"} --></p>
<div class="wp-block-image">
<figure class="alignleft"><img src="{{ site.baseurl }}/assets/img/2009/01/cfile26-uf-186817324ccc48ca766ae5.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
