---
layout: post
title: MACLRAREN TECHNO-XT
date: 2009-02-26 06:33:48.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '1031'
  _wp_old_slug: '1031'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8147'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1031"
---
<p><!-- wp:image {"id":8143,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2009/02/charcoal-618x1024.jpg" alt="" class="wp-image-8143" /></figure>
<p><!-- /wp:image --></p>
