---
layout: post
title: Battlestar Galactica
date: 2009-05-24 13:06:12.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '1039'
  _wp_old_slug: '1039'
  geo_latitude: '0.000000'
  geo_accuracy: '0'
  _edit_last: '1'
  geo_longitude: '0.000000'
  geo_public: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8136'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1039"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2009/05/cfile28-uf-115aa4304ccc48cd770562.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>SF 드라마를 찾던 중에 우연히 알게 된 'Battlestar Galactica'<br />시즌0을 시작으로 오늘까지 시즌2까지 보게되었다.<br />그럭 저럭 재미있고 TV드라마지만 CG도 그리 나쁘지 않다.</p>
<p><!-- /wp:paragraph --></p>
