---
layout: post
title: The Sky Crawlers
date: 2009-08-19 14:45:09.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '1047'
  _wp_old_slug: '1047'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8127'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1047"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2009/08/The_Sky_Crawlers_Cover.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>The Sky Crawlers (2008)<br />어떠한 사전 지식도 없이 이 영화를 보았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>완성도 높은 화면과 훌륭한 음악.</li>
<li>전반에 느껴지는 답답하고 우울한 느낌.</li>
<li>끝나기 5분전까지 알듯 말듯 이해가 가지 않는 내용.</li>
<li>놓치면 안되는 마지막 장면.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>추천할 만한 영화인 것 같다.</p>
<p><!-- /wp:paragraph --></p>
