---
layout: post
title: 방학을 주는 회사
date: 2009-02-19 15:54:08.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '1028'
  _wp_old_slug: '1028'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _oembed_e7d7700fbd8113a58d2e9e29c40aac5a: "{{unknown}}"
  _oembed_1fb870423bdbab97510010d277c9483c: "{{unknown}}"
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8108'
  _oembed_0914633ee8924ca2cda81b66b252c9d6: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1028"
---
<p><!-- wp:paragraph --></p>
<p>나는 좋은 회사에 다닌다. 물론 아쉬움과 답답함이 공존하고 있지만 내가 가지고 있는 조건과 환경은 무척이나 부유한 것이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>방학을 주는 회사가 있단다. 큰 회사는 아니지만 왠지 코끝이 찡한 감동이 있었다. 회사가 개인을 다치게 하지 않는 회사, 개개인이 행복한 회사를 만들고 싶다는 사장의 마음이 느껴졌다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>http://hanttol.tistory.com/254 (링크가 깨졌다)</p>
<p><!-- /wp:paragraph --></p>
