---
layout: post
title: 시작 2009년
date: 2009-01-01 12:47:07.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '1013'
  _wp_old_slug: '1013'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8152'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1013"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2009/01/cfile27-uf-1271df324ccc48c7363f61.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2009/01/cfile29-uf-1917f90f4ccc48c63ba7c7.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>아내의 맛있는 떡국으로 2009년이 시작되었다.</p>
<p>어느 덧 내 차는 40,000km를 달렸다. 2009년은 40,000km에서 시작한다.</p>
<p><!-- /wp:paragraph --></p>
