---
layout: post
title: 지난날에게
date: 2010-08-17 17:26:09.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  original_post_id: '1069'
  _wp_old_slug: '1069'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8098'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1069"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2010/08/cfile7-uf-1464a0044ccc48dda4b596.jpg" alt="" /><br />
<figcaption>http://www.4rest.org/albums.htm</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"align":"center"} --></p>
<p class="has-text-align-center">네가 마련해준 신을 신고<br />이만큼이나 걸어왔다<br />너는 멀어진 기억의 숲속 어딘가에서<br />애잔한 모습으로<br />"내가 여기 있어요 내가 여기 있어요" 라며<br />애타게 나르 부르지만,<br />나는 돌아보지 않겠다</p>
<p>이제 슬프게 떠돌았던 잿빛 허무의 신을 벗고<br />내가 걸어야 할 저 광야<br />이 새로운 눈물너머로 꿈에도 그리운 약속의 땅<br />저 황금빛 들판 눈앞에 춤추는데<br />눈앞에 춤추는데 눈앞에 춤추는데</p>
<p><!-- /wp:paragraph --></p>
