---
layout: post
title: 24시 시즌8
date: 2010-05-29 18:06:33.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  _publicize_pending: '1'
  original_post_id: '1064'
  _wp_old_slug: '1064'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8112'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1064"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2010/05/cfile7-uf-144a38254ccc48db056a20.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>미드(미국 드라마)의 세계를 알게 해준 24시가 시즌 8을 마지막으로 끝났다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>2004년도에 처음 시즌 1을 봤었는데 시간이 참 많이도 흘렀다. 빠르기도 하고.지금까지 한 시즌도 놓치지 않았을 정도로 재밌게 봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">수고했어. 잭! 그리고 고마워.</p>
<p><!-- /wp:paragraph --></p>
