---
layout: post
title: 돌고래처럼!
date: 2011-11-29 16:50:35.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/13503622734/like-a-dolphin
  tumblr_choonsik_id: '13503622734'
  simplecatch-sidebarlayout: ''
  original_post_id: '142'
  _wp_old_slug: '142'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '1349'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/142"
---
<p><!-- wp:image {"align":"center","id":1349,"className":"wp-image-1349 size-large"} --></p>
<div class="wp-block-image wp-image-1349 size-large">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2011/11/tumblr_lvflgbx4gd1r5kvtbo1_1280.jpg?w=646" alt="" class="wp-image-1349" /><br />
<figcaption>like a dolphin!</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
