---
layout: post
title: 97 Things Every Software Architect Should Know
date: 2011-12-20 14:07:45.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/14509185172/97-things-every-software-architect-should-know
  tumblr_choonsik_id: '14509185172'
  simplecatch-sidebarlayout: ''
  original_post_id: '130'
  _wp_old_slug: '130'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7991'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/130"
---
<p><!-- wp:paragraph --></p>
<p>팀에서 함께 세미나 했던 책이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>각각의 주제에 대한 친절한 설명이 주어지지 않고, 제목과 내용이 약간 안맞는 것들도 있는 듯하지만 여러 가지 통찰력을 얻을 수 있어 읽어볼 만한 책인 것 같다. 여러 번 읽어보면 도움되는 주제들이 꽤 많다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>97 Things Every Software Architect Should Know, <a rel="noopener noreferrer" href="http://manohars.files.wordpress.com/2009/11/97-things-every-software-architect-should-know.pdf" target="_blank">PDF</a></li>
<li>Other Things Software Architects Should Know</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2011/12/L" alt="소프트웨어 아키텍트가 알아야 할 97가지 " /></figure>
</div>
<p><!-- /wp:image --></p>
