---
layout: post
title: D.D.D
date: 2011-11-29 12:08:30.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  geo_public: '0'
  geo_address: '0'
  geo_accuracy: '0'
  geo_longitude: '0.000000'
  geo_latitude: '0.000000'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/13497438872/domain-driven-design-essence
  tumblr_choonsik_id: '13497438872'
  simplecatch-sidebarlayout: ''
  original_post_id: '145'
  _wp_old_slug: '145'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7762'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/145"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2011/11/Maintaining_Model_Integrity.png" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><a href="http://aeternum.egloos.com/2422827" target="_blank" rel="noreferrer noopener">Domain-Driven Design Essence</a>: Domain-Driven Design 에 대한 정리가 잘 되어 있는 곳<br />열심히 세미나 했었는데 어렵다.</p>
<p><!-- /wp:paragraph --></p>
