---
layout: post
title: '2012'
date: 2011-12-31 12:35:42.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/15079244985/2012
  tumblr_choonsik_id: '15079244985'
  simplecatch-sidebarlayout: ''
  original_post_id: '122'
  _wp_old_slug: '122'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8003'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/122"
---
<p><!-- wp:paragraph --></p>
<p>2012년은</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">- 많이 웃고, 감사하며, 행복하기를<br />- 비교하지 않고, 불평하지 않으며, 작은 성공들로 채우기를<br />- 짜증보다는 인내하고, 미움보다는 이해하며, 자유롭게 살기를</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>소망합니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><img src="{{ site.baseurl }}/assets/img/2011/12/tumblr_lx2iysxTlo1r2syu9.jpg" alt="" /></p>
<p><!-- /wp:paragraph --></p>
