---
layout: post
title: It's Not About What You Do, But Why You Do It
date: 2011-02-23 21:26:24.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8047'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/3640"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2011/02/18ixsjdegr7ejjpg.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p> 아주 훌륭한 내용인 것 같습니다. 꼭 보세요. 보기<br /> 출처 : <a href="https://lifehacker.com/its-not-about-what-you-do-but-why-you-do-it-5648710" target="_blank" rel="noreferrer noopener">It’s Not About What You Do, but Why You Do It</a></p>
<p><!-- /wp:paragraph --></p>
