---
layout: post
title: 용어
date: 2011-11-24 16:22:43.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  geo_address: '0'
  geo_public: '0'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/13256169740
  tumblr_choonsik_id: '13256169740'
  simplecatch-sidebarlayout: ''
  original_post_id: '152'
  _wp_old_slug: '152'
  geo_latitude: '0.000000'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8043'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/152"
---
<p><!-- wp:image {"align":"center","id":3843} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2011/11/6.jpg" alt="" class="wp-image-3843" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>똑같은 단어를 쓰면서도 의견이 너무 다르다. 그래서 회의가 길어지고 길어진 회의는 사람을 지치게 한다. 좋게는 합의에 이르는 과정이라고 볼 수도 있겠지만 고민스러울 때가 많다. 서로 다른&nbsp;각자의 경험과 생각을 기반으로 이해하고 있기 때문이다. 우리가 자주 사용하는 용어(단어)를 정확하게 정의하고 시작하는 것이 필요하다.</p>
<p><!-- /wp:paragraph --></p>
