---
layout: post
title: The Architecture of Open Source Applications
date: 2012-06-26 05:39:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_public: '0'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/25910778246/the-architecture-of-open-source-applications
  tumblr_choonsik_id: '25910778246'
  simplecatch-sidebarlayout: ''
  original_post_id: '71'
  _wp_old_slug: '71'
  _edit_last: '1'
  geo_accuracy: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7839'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/71"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/06/cover1.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"align":"center"} --></p>
<p class="has-text-align-center"><a href="http://www.aosabook.org/en/index.html">The Architecture of Open Source Applications</a></p>
<p><!-- /wp:paragraph --></p>
