---
layout: post
title: 킨들 구매기
date: 2012-12-13 04:16:07.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  geo_accuracy: '0'
  _publicize_job_id: '11331580955'
  _edit_last: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/37811363665
  tumblr_choonsik_id: '37811363665'
  simplecatch-sidebarlayout: ''
  original_post_id: '46'
  _wp_old_slug: '46'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7754'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/46"
---
<p><!-- wp:heading {"level":4} --></p>
<h4>아마존(미국)에서 킨들(kindle)을 사다.</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>킨들은 왜?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>출퇴근 길에 책을 읽고 싶다. 무거운 건 들고 다니기 싫다. 휴대폰은 너무 작아 눈이 아프다. 그래서 관심을 가지게 된 것이 전자책. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그러던 어느 날 아이패드 미니가 세상에 나왔다. 살까 말까 고민하다가 포기. 이유는 2가지. 하나는 다른 재미난 것을 할 수 있으니 책을 읽지 않을 것임. 다른 하나는 직접 만져본 미니의 해상도가 맘에 들지 않았음.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>한글 컨텐츠가 많은 크레마를 놔두고 킨들은 선택한 것은 저렴한 가격과 영어 공부도 할 겸이라는 생각 때문(과연?) . 물론 킨들 사용자 동호회가서 영향을 받기는 했음.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>구매 대행 vs. 배송 대행</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>그러던 어느 날, 배송 대행을 해준다는 eHanEx(<a rel="noopener noreferrer" href="http://www.ehanex.com" target="_blank">http://www.ehanex.com</a>)의 광고 메일을 보고 시도해보기로 결정. 사실 예전엔 그냥 맘 편하게 구매 대행을 했었는데 비싼 느낌도 있고 해서.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그런데 배송 대행을 하다보니, “직접 구매(일명 직구)”라는 신세계가 있었음. 이런 배송 대행 업체들을 찾아보다 보고 깜짝 놀랐음. 예를 들면 몰테일(<a rel="noopener noreferrer" href="http://post.malltail.com" target="_blank">http://post.malltail.com</a>).</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>자 아마존으로!</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>일단 아마존 아이디가 있었고, 주소가 한국 집주소! 그러나 배송 대행 업체에 가입하면 나만의 미국 주소를 발행해 줌. 보통 물류 센터 주소에 개인 사서함 번호를 발급해 주는 형식.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>구매는 간단함. 아마존에서 구매하고 구매할 때 배송지를 배송 대행 업체가 알려준 주소를 사용하고. 해당 업체에 구매 사실을 알리면 됨(신청서 작성). 그리고 느긋하게 기다리면 끝.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>다만, 개인적으로 2번 취소하고 구매했는데 이유는 다음과 같았음</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>취소1: 주소지에 사서함 번호를 쓰지 않았음 (배송 대행 업체 안내를 꼭 봐야함)</li>
<li>취소2: 아마존에서 기본 선택이 배송비가 포함되어 있었음</li>
<li>구매: 배송 지역 별로 세금이 다름. (면세 지역으로 배송하는 것이 좋음) 구매 후에 알았음. 나는 LA로 했는데 세금이 $6.04, NJ나 DE로 했었다면 면세.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"center","id":3712} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/12/1.png" alt="1" class="wp-image-3712" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>직구는 기다림이라는 친구와 함께</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>한국에서 12월 3일 월요일 오후에 구매했는데, 12월 12일 아침에 배송이 되었음. 약 10일 정도 걸렸음. 배송료는 무게나 부피에 따라 틀리지만 킨들의 경우 10불. 한화로 11,400원.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":3714} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/12/2.png" alt="2" class="wp-image-3714" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>킨들의 경우, 가격이 저렴하기 때문에 별도의 관/부가세가 없었으나 기준을 넘으면 납부해야 함. 꼭 알아볼 것. 배송 대행 업체 사이트에 거의 모든 것을 안내하고 있음.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:heading {"level":5} --></p>
<h5>미국을 건너 한국에 온 킨들 배송 기록</h5>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>아마존에서 배송 대행 업체 물류 창고까지는 아마존에서 조회 가능.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":3717} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/12/3.png" alt="3" class="wp-image-3717" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>물류 창고에서 우리집까지는 당연히 배송 대행 업체에서 조회 가능.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":3716} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/12/4.png" alt="4" class="wp-image-3716" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":5} --></p>
<h5>배송된 킨들 인증샷!</h5>
<p><!-- /wp:heading --></p>
<p><!-- wp:image {"align":"center","id":3713} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/12/5.png?w=646" alt="5" class="wp-image-3713" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>좌우측에 다음 페이지를 넘기는 버튼이 있는데 클릭할 때 약간 뭔가 거슬림. 그것을 빼고는 만족.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":3715} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/12/6.png?w=646" alt="6" class="wp-image-3715" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>-끝-</p>
<p><!-- /wp:paragraph --></p>
