---
layout: post
title: Pro Git 번역본
date: 2012-07-28 13:51:32.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  geo_address: '0'
  geo_public: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/28196136894/pro-git
  tumblr_choonsik_id: '28196136894'
  simplecatch-sidebarlayout: ''
  original_post_id: '62'
  _wp_old_slug: '62'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7837'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/62"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/07/progit.book-big.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"align":"center"} --></p>
<p class="has-text-align-center"><a href="http://git-scm.com/book/ko/v2">Pro Git 번역본</a></p>
<p><!-- /wp:paragraph --></p>
