---
layout: post
title: The Nature of Order
date: 2012-01-27 02:51:39.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/16558154503/the-nature-of-order
  tumblr_choonsik_id: '16558154503'
  simplecatch-sidebarlayout: ''
  original_post_id: '118'
  _wp_old_slug: '118'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7980'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/118"
---
<p><!-- wp:paragraph {"align":"center"} --></p>
<p class="has-text-align-center"><a href="http://dreamsongs.com/Files/NatureOfOrder.pdf">Alexander Christoper 의 The Nature of Order 요약본</a></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7976,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2012/01/41bcgSnT7L._SX332_BO1204203200_.jpg" alt="" class="wp-image-7976" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
