---
layout: post
title: 기술 채무
date: 2012-02-22 01:14:08.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/18042231425/97
  tumblr_choonsik_id: '18042231425'
  simplecatch-sidebarlayout: ''
  original_post_id: '101'
  _wp_old_slug: '101'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7926'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/101"
---
<p><!-- wp:paragraph --></p>
<p>&lt;소프트웨어 아키텍트가 알아야할 97가지>라는 책에서 언급된 기술 채무에 대한 내용으로 우리가 가끔 무시하고 가볍게 생각하다가 나중에 힘들게 되는 이유 중 하나.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":1276} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/02/tumblr_lzrsmycgta1r5kvtbo1_1280.png?w=646" alt="" class="wp-image-1276" /></figure>
</div>
<p><!-- /wp:image --></p>
