---
layout: post
title: 안 맞는 옷
date: 2012-04-02 12:44:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/20346354624
  tumblr_choonsik_id: '20346354624'
  simplecatch-sidebarlayout: ''
  original_post_id: '93'
  _wp_old_slug: '93'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7909'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/93"
---
<p><!-- wp:paragraph --></p>
<p>안 맞는 옷에 대한 생각</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>안 맞는 옷을 입고 있어도 다른 사람에게는 멋져 보일 수 있다.</li>
<li>내게 맞는 옷이 뭔지 몰라서 그 옷을 벗지 못할 수 있다.</li>
<li>다른 사람의 의견이 더 중요해서 그 옷을 고집할 수 있다.</li>
<li>새로운 옷은 어색해서 안 맞는 옷이라고 착각할 수 있다.</li>
<li>오랫동안 익숙해서 안 맞는 옷이라고 느끼지 못할 수 있다.</li>
<li>안 맞는 옷이 나쁜 옷은 아니다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/04/d9647-25ec25bd259425eb2594259425ea25b0258025ec2595258825ed258b25b0.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>불편하고 맞지 않는 옷보다는 편안한 옷을 입고 싶은 것이 일반적이다. 나를 돋보이게 하는 매력적인 옷이 내게 편안함을 준다면 더 없이 좋다. 밖에서 입는 옷과 집에서 입는 옷이 다를 수 밖에 없고 옷은 종종 세탁과 관리를 잘해주어야 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>진로에 대한 고민은 끝이 없는 고민 중에 하나이다. 그것은 나 자신의 행복 즉 삶의 만족과 연관성이 많기 때문이다. 가끔 내가 하고 있는 일, 지금까지 해왔던 일들이 혹시 불편하고 잘 맞지 않는 옷은 아니었나 하는 생각을 한다. 그렇다면 편안한 옷을 찾아입거나 나를 더 매력적으로 만들 수 있는 옷을 찾아야 하지 않을까? 스스로 잘 찾아입는 사람도 있겠지만 코디가 필요한 사람도 있다. 그렇다고 코디가 항상 좋은 선택을 하는 것도 아니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>옷을 빨아야 하는 것일까? 세탁을 해야하는 것일까? 수선을 해야하는 것일까? 새 옷을 사야하는 것일까? 잠시 빌려입어봐야하는 것일까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이민정의 소름돋는 ‘코디가 안티’ 패션을 보자. 우리가 이런 모습을 하고 있는 건 아닌지…</p>
<p><!-- /wp:paragraph --></p>
