---
layout: post
title: DSM
date: 2012-01-27 02:54:36.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/16558343092/dependency-structure-matrix
  tumblr_choonsik_id: '16558343092'
  simplecatch-sidebarlayout: ''
  original_post_id: '117'
  _wp_old_slug: '117'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7961'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/117"
---
<p><!-- wp:paragraph --></p>
<p><a rel="noopener noreferrer" href="http://arload.wordpress.com/2009/11/02/dependency-structure-matrix/" target="_blank">Dependency Structure Matrix 를 이해하기 쉽게 설명해 놓은 글</a></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/01/simple-dsm.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
