---
layout: post
title: 실용주의 디버깅
date: 2012-07-19 06:36:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/27541515751
  tumblr_choonsik_id: '27541515751'
  simplecatch-sidebarlayout: ''
  original_post_id: '65'
  _wp_old_slug: '65'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7819'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/65"
---
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">디버깅은 ‘버그를 없애는 것’ 그 이상이다 (Debug It! 실용주의 디버깅)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/07/L" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>우리 팀에는 유명하고 실력있는 개발자들이 많은데 그 중 한분께서 “<a rel="noopener noreferrer" href="http://www.yes24.com/24/Goods/3937865?Acode=101" target="_blank">실용주의 디버깅</a>”을 소개해주었다. 아주 짧은 시간이었지만 무척 인상 깊었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>디버깅이라는 것이 문제의 원인을 찾는 것이고 그것은 곧 시스템을 이해한다는 것을 전제로 한다. 잊지말자!</p>
<p><!-- /wp:paragraph --></p>
