---
layout: post
title: 美
date: 2012-06-08 05:38:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_address: '0'
  geo_public: '0'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/24664135826
  tumblr_choonsik_id: '24664135826'
  simplecatch-sidebarlayout: ''
  original_post_id: '79'
  _wp_old_slug: '79'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7878'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/79"
---
<p><!-- wp:paragraph --></p>
<p>크리스토퍼 알렉산더의 미(美)에 대한 생각</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":1241,"className":"wp-image-1241 size-large"} --></p>
<div class="wp-block-image wp-image-1241 size-large">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/06/tumblr_m5aabyz1mc1r5kvtbo1_1280.png?w=646" alt="" class="wp-image-1241" /><br />
<figcaption>출처: (시간을 초월한 창조의 원칙) 패턴, WiKi 그리고 XP</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
