---
layout: post
title: RI 의 중요성
date: 2012-04-24 22:27:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/21713115917/ri
  tumblr_choonsik_id: '21713115917'
  simplecatch-sidebarlayout: ''
  original_post_id: '85'
  _wp_old_slug: '85'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7896'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/85"
---
<p><!-- wp:paragraph --></p>
<p>아키텍트 활동에 있어서 Reference Implementation(RI) 이라는 것이 있다. 설계한 구조를 실제 동작하는 Code로 작성해서 설계를 검증하고 함께 일하는 사람이 참조할 수 있도록 하는 샘플이다. 다른 말로는 Working&nbsp;Skeleton 이라고도 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>아키텍트가 아키텍쳐 수준에서만 일하는 것이 아니라 실제 코딩 수준까지 일하는 사람이기 때문에 이를 간과하면 중요한 부분을 놓치게 된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>모든 경우가 그런 것은 아니지만, 보통 새로운 코드를 추가할 때, 기존에 있는 소스 혹은 누군가 먼저 해놓은 방식을 보고 따라서 추가하는 경우가 많다. 그래서 사소한 것이라도 초기에 바로 잡지 않으면 많은 사람들이 동시에 작업하기 때문에 돌이키기 어려운 순간을 경험할 수 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이는 개발업무에 국한된 얘기는 아니다. 무언가 작업할 때 앞 사람의 것을 참조하는 경향이 커서 결과물이 유사해지는 경우가 많다. 일종의 RI가 많은 업무에 영향을 미친다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근에 기능별로 설계 문서를 함께 작성할 시간이 있었는데, 문서를 모아두기로한 폴더에 작은 참조용 샘플을 넣어두었다. 신기하게도 많은 설계 문서가 그 샘플가 너무도 유사했다. 그 샘플의 Context Diagram은 외부 요소가 4개로 구성되어 있었는데 취합된 기능별 설계 문서의 모든 Context Diagram이 외부 요소가 4개였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>모든 분야에 있어서 잘 만들어진 RI가 중요하다. 그것은 샘플, 템플릿, 표준 업무 방식, 패턴 등으로 다르게 표현될 수 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7898,"sizeSlug":"large","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2012/04/d4rhr0k-ee301631-49c0-4705-803d-410a8a4525f0-1024x628.jpg" alt="" class="wp-image-7898" /></figure>
</div>
<p><!-- /wp:image --></p>
