---
layout: post
title: Natural User Interface
date: 2012-02-16 08:07:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _edit_last: '1'
  geo_public: '0'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/17704148274/natural-user-interface
  tumblr_choonsik_id: '17704148274'
  simplecatch-sidebarlayout: ''
  original_post_id: '106'
  _wp_old_slug: '106'
  geo_accuracy: '0'
  geo_address: '0'
  _oembed_fbbae642b90c5a01f7bd878c1d663edc: "{{unknown}}"
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7857'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/106"
---
<p><!-- wp:paragraph --></p>
<p>2010년 말에 키넥트(Kinect)를 활용해서 새로운 실험이나 연습을 해보자고 제안 했던 기억이 있다. 그 당시에는 사람들이 큰 관심을 주지 않았다. 그러나 지금은 상황이 좀 달라졌다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>MS에서 공식적으로 SDK도 제공하는 등 새로운 Eco-System을 만들려는 노력이 느껴진다. MS가 게임을 통해 재미를 봤던 것이 사실이고 이를 활용한 더 나은 미래를 구상하려나 보다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>누구나 아는 사실이겠지만 이러한 인터페이스의 변화(<em>키보드-마우스-터치-음성인식-동작인식</em>)가 새로운 성공을 이끌어왔다. 애플의 아이폰이 터치와 음성인식으로, MS의 키넥트가 동작인식으로 말이다. 사람의 본성을 자극하는 아날로그적인 감성이 성공의 이유일 것이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>앞으로는 이러한 기술의 발전이 다른 기술(상황 인지, SNS, 빅데이타)과 연결되어 새로운 가치와 감동을 줄 것이다. 이미 그렇게 가고 있지 않은가.&nbsp;여기에&nbsp;BCI(Brain Computer Interface) 기술이 활용되다면 신기하게 느껴지는 일들이 벌어질지도 모르는 일이다.<br />TV는 리모컨에서 벗어나고 싶어하는 것 같다. 그래서 많은 시도들이 있었던 것 같은데 거의 실패했다. 동작인식과 음성인식으로 그 한계를 극복해 보려고 할것이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>컴퓨터(PC, 노트북)도 다양한 활용이 일어날 것이다. 내 안구의 움직임을 잘 활용해서 자동으로 스크롤 해주거나 한곳을 유심히 보고 있을 때 추가적인 정보를 제공해 주는 것도 가능해진다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>IT트렌드2012(http://msittrend.com) 에서도&nbsp;내츄럴 유저 인터페이스(Natural User Interface)가 언급되어 있다. 이미 큰 트렌트의 하나이고 많은 응용을 통해 사람들이 즐거워지는 일들이 벌어지리라 믿는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>아래는 작년 초에 잠깐 찾아본 링크들인데 요즘은 많이 업데이트 되어 있을 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><del>Natural Interaction™의 Prime Sense</del><br />Kinect가 이 회사의 기술을&nbsp;Reference해서 개발함</li>
<li>Open Kinect<br />Kinect 를 활용하여 다양한 시도들이 진행 중인 곳</li>
<li><del><a href="http://openni.org/" target="_blank" rel="noopener noreferrer">Open NI</a></del><br />Natural Interaction을 위한 Open Platform을 공개함</li>
<li><a href="http://projects.ict.usc.edu/mxr/faast/" target="_blank" rel="noopener noreferrer">Flexible Action and Articulated Skeleton Toolkit</a><br />Open NI기반으로 개발된 툴킷, Kinect용 Driver도 제공하고 있음</li>
<li><a href="http://codelaboratories.com/kb/nui" target="_blank" rel="noopener noreferrer">CL NUI Platform</a><br />Kinect를 사용하여 NUI를 사용할 수 있는 플랫폼</li>
<li>Natural User Interface - 멀티 터치 입력 기술<br />멀티 터치 입력 기술에 대한 포스팅</li>
<li><del><a href="http://www.wolfgangherfurtner.com/" target="_blank" rel="noopener noreferrer">Multitouch and Gesture Computing Blog</a></del><br />Kinect를 사용하여 PC에서 응용을 구현한 사례들이 많이 있음</li>
<li><a href="http://youtu.be/M-wLOfjVfVc" target="_blank" rel="noopener noreferrer">Kinect Controls Windows 7</a><br />Kinect로 Windows 7을 조작하는 동영상</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>추가적으로 오늘 팀 동료가 공유해준 동영상,&nbsp;<del>Kinect Effect</del>도 재밌다.<br />* 시간이 많이 흘러서 그런지 깨진 링크가 존재합니다. :)</p>
<p><!-- /wp:paragraph --></p>
