---
layout: post
title: 기회를 얻으려면
date: 2012-06-28 15:09:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/26072775966
  tumblr_choonsik_id: '26072775966'
  simplecatch-sidebarlayout: ''
  original_post_id: '69'
  _wp_old_slug: '69'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7861'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/69"
---
<p><!-- wp:paragraph --></p>
<p>오늘 처음 들었지만 많이 알려진 내용이라고 한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">CHANGE 의 G를 살짝 바꾸면 CHANCE가 된다<br />CHANGE(체인지)를 한자로 体忍知 로 쓸 수 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>설명하자면,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">변화하면 기회가 온다.<br />변화는 실행하고 인내하고 알아야 하는 것과 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/06/chance-to-change1.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
