---
layout: post
title: 객체가 같다는 것
date: 2012-07-20 14:36:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  geo_public: '0'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/27627656649
  tumblr_choonsik_id: '27627656649'
  simplecatch-sidebarlayout: ''
  original_post_id: '63'
  _wp_old_slug: '63'
  geo_accuracy: '0'
  geo_address: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7813'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/63"
---
<p><!-- wp:image {"align":"center","id":7812,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2012/07/tumblr_m7m5f6cEkZ1r2syu9-1.png" alt="" class="wp-image-7812" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":5} --></p>
<h5>레퍼런스 동치</h5>
<p><!-- /wp:heading --></p>
<p><!-- wp:list --></p>
<ul>
<li>동일한 오브젝트를 참조하는 녀석들은 완전한 동치</li>
<li>hashCode 도 당연히 같음</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:heading {"level":5} --></p>
<h5><strong>객체 동치</strong></h5>
<p><!-- /wp:heading --></p>
<p><!-- wp:list --></p>
<ul>
<li>서로 다른 오브젝트가 같다고 말할 수 있는 경우</li>
<li>hashCode() 함수와 equals() 함수를 overriding 해서 구현해야 함</li>
<li>서로 다른 객체의 hashCode 가 일치해야 하고, equals 함수도 True여야 함(A.equals(B)도 True, B.equals(A)도 True)</li>
<li>equals 함수가 True이면 두 객체의 hashCode 가 같지만, hashCode 가 같다고 equals가 반드시 True는 아님</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>◼︎ 객체 동치는 왜 쓰는걸까? Value Object를 만들기 위해서 쓴다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">Value Object<br />A small simple object, like money or a date range, <strong>whose equality isn’t based on identity</strong>.(객체 동치를 쓴다는 얘기)<br /><a rel="noopener noreferrer" href="http://martinfowler.com/eaaCatalog/valueObject.html" target="_blank">http://martinfowler.com/eaaCatalog/valueObject.html</a></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" />◼︎ hashCode가 같으면 객체 동치가 성립하는 것이 아닌가? 아니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">hashCode는 객체의 힙 메모리를 기준으로 hash 알고리즘에 따라 만들어 진다. 따라서 서로 다른 객체가 같은 hashCode를 가질 수 있다.<br /><a rel="noopener noreferrer" href="http://jnylove.tistory.com/182" target="_blank">http://jnylove.tistory.com/182</a></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" />◼︎ 테스트 코드 (<a rel="noopener noreferrer" href="http://stackoverflow.com/a/9662078" target="_blank">http://stackoverflow.com/a/9662078</a>)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:code --></p>
<pre class="wp-block-code"><code><meta charset="utf-8" />public static void testEquality(){
    String str1 = “Hello world.”;
<meta charset="utf-8" />    String str2 = “Hello world.”;

<meta charset="utf-8" />    if (str1 == str2)
<meta charset="utf-8" />    <meta charset="utf-8" />    <strong>System.out.print(“str1 == str2\n”);</strong>
<meta charset="utf-8" />    else
<meta charset="utf-8" />    <meta charset="utf-8" />    System.out.print(“str1&nbsp;!= str2\n”);

<meta charset="utf-8" />    if(str1.equals(str2))
<strong> <meta charset="utf-8" />   </strong><meta charset="utf-8" />    <strong>System.out.print(“str1 equals to str2\n”);</strong>
<meta charset="utf-8" />    else
<meta charset="utf-8" />    <meta charset="utf-8" />    System.out.print(“str1 doesn’t equal to str2\n”);

<meta charset="utf-8" />    String str3 = new String(“Hello world.”);
<meta charset="utf-8" />    String str4 = new String(“Hello world.”);

<meta charset="utf-8" />    if (str3 == str4)
<meta charset="utf-8" />    <meta charset="utf-8" />    System.out.print(“str3 == str4\n”);
<meta charset="utf-8" />    else
<strong><meta charset="utf-8" />    </strong><meta charset="utf-8" />    <strong>System.out.print(“str3&nbsp;!= str4\n”);</strong>

<meta charset="utf-8" />    if(str3.equals(str4))
<strong><meta charset="utf-8" />    </strong><meta charset="utf-8" />    <strong>System.out.print(“str3 equals to str4\n”);</strong>
<meta charset="utf-8" />    else
<meta charset="utf-8" />    <meta charset="utf-8" />    System.out.print(“str3 doesn’t equal to str4\n”);
}</code></pre>
<p><!-- /wp:code --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><meta charset="utf-8" />◼︎ Value Object 와 Reference Object</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">프로그램을 가장 훌륭하게 작성하는 방법은 상태가 변경되는 오브젝트들과 수학적인 값을 나타내는 오브젝트들의 조합으로 표현하는 것이다. - Kent Beck<br />여기에 있는 4개의 글 추천&nbsp;<a rel="noopener noreferrer" href="http://aeternum.egloos.com/1105776" target="_blank">http://aeternum.egloos.com/1105776</a></p>
<p><!-- /wp:paragraph --></p>
