---
layout: post
title: 착각
date: 2012-03-28 17:28:08.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/20063089791
  tumblr_choonsik_id: '20063089791'
  simplecatch-sidebarlayout: ''
  original_post_id: '94'
  _wp_old_slug: '94'
  _edit_last: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7920'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/94"
---
<p><!-- wp:paragraph --></p>
<p>정보의 홍수 속에서 살다보면 가끔 착각을 한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사실 내가 잘 모르는 것인데 마치 잘 알고 있는 내용인 것 처럼 말이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>책을 읽었거나 세미나를 통해 들었던 지식들도 마찬가지다. 어디선가 듣고 보았던 지식의 조각 혹은 반복되는 키워드들을 접할 때마다 내가 그것들을 잘 알고 있다고 착각한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그 착각은 아는 척하고 싶은 욕구와 함께 표출되곤 한다. 예를 들면, 질문을 던질 때 라던지 또는 부연 설명을 할 때 라던지 말이다. 남들이 잘 모를만한 정보를 한두마디 하는 것으로도 그 욕구를 채울 수 있을 때가 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>착각은 정말 조심해야 할 것 같다. 내가 잘 안다고 생각하고 있는 것이 사실 잘 아는 것이 아닐 때가 많기 때문이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>살아있는 지식은 사람들에게 진정성과 가치를 경험하게 해준다. 그것을 지혜라고 부르고 지혜는 겸손과 친구다. 아는 척하는 것, 잘난 채 하는 것, 남들보다 조금 먼저 알았다고 우쭐해 하는 것들에 심리적 보상을 얻을 때가 있다면 더욱 조심하자. 왜냐하면 거기엔 사실 잘 모른다는 두려움과 불안함이 함께 공존하고 있기 때문이다. 교만과 열등감이 동전의 양면인 것 처럼말이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>“키스를 글로 배웠습니다.” 라는 오래 전 유행어를 생각해 본다. 얼마나 우스운 일인가!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/03/tumblr_m1lnak3DMQ1r2syu9.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
