---
layout: post
title: 비트루비우스
date: 2012-09-19 00:42:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/31798386395
  tumblr_choonsik_id: '31798386395'
  simplecatch-sidebarlayout: ''
  original_post_id: '52'
  _wp_old_slug: '52'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7773'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/52"
---
<p><!-- wp:paragraph --></p>
<p>건축의 세 가지 본질이 ‘견고함’, ‘유용성’, ‘아름다움’이라고 말했던 사람 ‘<a rel="noopener noreferrer" href="http://ko.wikipedia.org/wiki/%EB%B9%84%ED%8A%B8%EB%A3%A8%EB%B9%84%EC%9A%B0%EC%8A%A4" target="_blank">비트루비우스</a>’. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>낯선 이 사람을 아키텍처의 역사를 찾아 거슬러 올라가던 길에 만났다. 우리에게는 ‘레오나르도 다 빈치’의 <a rel="noopener noreferrer" href="http://ko.wikipedia.org/wiki/%EB%B9%84%ED%8A%B8%EB%A3%A8%EB%B9%84%EC%9A%B0%EC%8A%A4_%ED%95%B4%EB%B6%80%EB%8F%84" target="_blank">작품</a>으로 만났던 경험이 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/09/353px-Da_Vinci_Vitruve_Luc_Viatour.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>비트루비우스는 고대 로마의 기술자이자 건축가였고, 건축십서(De achitectura)라는 10권짜리 저서가 많은 영향을 미칠만큼 유명하다고 한다. 미술가 ‘레오나르도 다 반치’도 그의 영향을 받아 유명한 그림, ‘비트루비우스 해부도’을 남겼을 정도다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>비트루비우스에게 강한 인상을 받은 것은 건축에 대한 그의 이해가 소프트웨어 아키텍처에도 깊은 영감을 주기 때문이다. (사실 건축에 소프트웨어를 비교하는 것이 가끔 불편하긴 하다.)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>인상적인 것은 아래와 같이 3가지다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>첫째, ‘건축이 인간에게 휴식처가 되어야 한다’는 그의 생각이다. 소프트웨어는 어떨까? 크게 틀리지 않을 것 같다. Apple 이 성공할 수 있었던 것도 이와 맥락을 같이 하는 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>둘째, ‘견고함, 유용성, 아름다움이라는 건축의 세 가지 본질이 균형을 이뤄야 한다’는 것이다.&nbsp;소프트웨어 아키텍처도 다르지 않다. 유용성은 고객의 요구사항을 만족시키는 것이고, 아름다움은 설계라 할 수 있으며, 견고함은 구현이라고 볼 수 있다. 뿐만 아니라 거기엔 동일하게 균형이 필요하다.&nbsp;기능과 품질과의 균형, 고객의 요구와 기술과의 균형, 등등.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>세째, ‘건축은 자연의 모방이며, 재료는 자연에서 구한 것이다’ 라는 부분이다. 이는 아키텍처 설계가 상식이 통하는 자연스러움(contextual sense)을 가져야 한다는 느낌으로 다가왔다. 우리가 많이 사용하는 패턴이라는 것도 자연스러운 모방이라는 점에서 통하는 점이 있는 것 같다.</p>
<p>아우구스투스에게 ‘건축십서’를 소개하는 비트루비우스의 모습에서 아키텍처를 설명하는 우리들의 모습을 다시 한번 보게 된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/09/320px-Vitruvius.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
