---
layout: post
title: 용기
date: 2012-06-10 22:59:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/24844708768/xp-5-xp-5
  tumblr_choonsik_id: '24844708768'
  simplecatch-sidebarlayout: ''
  original_post_id: '76'
  _wp_old_slug: '76'
  _edit_last: '1'
  _publicize_pending: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7874'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/76"
---
<p><!-- wp:image {"align":"center","id":1238,"className":"wp-image-1238 size-large"} --></p>
<div class="wp-block-image wp-image-1238 size-large">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2012/06/tumblr_m5fbwaxtnp1r5kvtbo1_1280.png?w=646" alt="" class="wp-image-1238" /><br />
<figcaption>XP의 5가지 가치 중 하나, “용기”</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><a rel="noopener noreferrer" href="http://ko.wikipedia.org/wiki/%EC%9D%B5%EC%8A%A4%ED%8A%B8%EB%A6%BC_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D" target="_blank">XP</a>의 5가지 가치</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>커뮤니케이션</li>
<li>단순함</li>
<li>피드백</li>
<li>용기</li>
<li>존중</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>사진 출처: (시간을 초월한 창조의 원칙) 패턴, WiKi 그리고 XP</p>
<p><!-- /wp:paragraph --></p>
