---
layout: post
title: Multiscreen Patterns
date: 2012-08-08 07:51:30.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/28970147559/multiscreen-patterns
  tumblr_choonsik_id: '28970147559'
  simplecatch-sidebarlayout: ''
  original_post_id: '60'
  _wp_old_slug: '60'
  _publicize_job_id: '11258849396'
  _oembed_17085f699b11b8d2f9a86914c508c3a2: "{{unknown}}"
  _last_editor_used_jetpack: block-editor
  _oembed_f1c8cb22d1457de0c0b6abd6d5f0f89d: '<iframe title="Patterns for Multiscreen
    Strategies" src="https://www.slideshare.net/slideshow/embed_code/key/1whblG9adfOHGd"
    width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
    style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width:
    100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a
    href="https://www.slideshare.net/preciousforever/patterns-for-multiscreen-strategies"
    title="Patterns for Multiscreen Strategies" target="_blank">Patterns for Multiscreen
    Strategies</a> </strong> from <strong><a href="https://www.slideshare.net/preciousforever"
    target="_blank">precious design studio</a></strong> </div>'
  _thumbnail_id: '7797'
  _oembed_time_f1c8cb22d1457de0c0b6abd6d5f0f89d: '1631198180'
  _oembed_dd08ab612d4e9320784ef12e7c461375: '<iframe title="Patterns for Multiscreen
    Strategies" src="https://www.slideshare.net/slideshow/embed_code/key/1whblG9adfOHGd"
    width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
    style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width:
    100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a
    href="https://www.slideshare.net/preciousforever/patterns-for-multiscreen-strategies"
    title="Patterns for Multiscreen Strategies" target="_blank">Patterns for Multiscreen
    Strategies</a> </strong> from <strong><a href="https://www.slideshare.net/preciousforever"
    target="_blank">precious design studio</a></strong> </div>'
  _oembed_time_dd08ab612d4e9320784ef12e7c461375: '1697866205'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/60"
---
<p><!-- wp:paragraph --></p>
<p>오래 전 참고했던 자료(http://precious-forever.com/2011/05/26/patterns-for-multiscreen-strategies)는 유효하지 않다. 검색해서 찾아보니, <a rel="noreferrer noopener" href="https://www.slideshare.net/preciousforever/patterns-for-multiscreen-strategies" target="_blank">https://www.slideshare.net/preciousforever/patterns-for-multiscreen-strategies</a>에 내용이 남아있다.</p>
<p><!-- /wp:paragraph --></p>
