---
layout: post
title: 늙어가면서 무엇을 읽고 쓰고 그려야 하는가?
date: 2012-06-22 12:33:14.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/25623076142
  tumblr_choonsik_id: '25623076142'
  simplecatch-sidebarlayout: ''
  original_post_id: '72'
  _wp_old_slug: '72'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7864'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/72"
---
<p><!-- wp:paragraph --></p>
<p>요즘 &lt;앤서니브라운 전&gt;을 하고 있다고 한다. 나중에 기회가 되면 방문해 봐야겠다. 회사 선배가 여기를 다녀와서 앤서니 브라운의 이야기를 공유해주었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">저는 어렸을 때 지금의 한국 어린이들보다 그림을&nbsp;잘 그리거나 글을 잘 쓰지 못했습니다.&nbsp;지금 한국 어린이들은 옛날 제가 그 나이 때 가졌던&nbsp;재능보다 더 많은 재능을 가지고 있습니다.&nbsp;커가면서 그림 그리기는 아이들이나 하는 것이라고&nbsp;포기하지 않기를 바랍니다.&nbsp;커가면서 그림책 보는 것을 아이들이나 하는 것이라고&nbsp;생각하지 않기를 바랍니다.&nbsp;계속 읽고, 쓰고, 그리도록 하세요. - 앤서니 브라운 (Anthony Edward Tudor Browne)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그리고 화두를 던졌다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">SW 개발자는 늙어가면서 무엇을 읽고 쓰고 그려야 하는가?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>단순하게 답할 수 있는 질문일 수 있겠지만 많은 생각을 해볼 수 있는 주제인 것 같다. 특히 앤서니 브라운이 직접 언급 했던 말! </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">커가면서 그림책 보는 것을 아이들이나 하는 것이라고&nbsp;생각하지 않기를 바랍니다.&nbsp;계속 읽고, 쓰고, 그리도록 하세요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://www.guardian.co.uk/books/gallery/2009/jun/08/childrens-laureate-gallery-anthony-browne?picture=348546969#/?picture=348565925&amp;index=8" target="_blank" rel="noopener noreferrer"><img src="{{ site.baseurl }}/assets/img/2012/06/Anthony-Browne-Gorilla-il-002.jpg" alt="" /></a></figure>
</div>
<p><!-- /wp:image --></p>
