---
layout: post
title: 맥미니 구매
date: 2013-01-03 15:37:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  publicize_twitter_user: like_olaf
  geo_accuracy: '0'
  _wpas_done_7169899: '1'
  _publicize_job_id: '11331735995'
  _post_restored_from: a:3:{s:20:"restored_revision_id";i:3773;s:16:"restored_by_user";i:16983174;s:13:"restored_time";i:1400162287;}
  _wpas_done_7169902: '1'
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:2417506070;b:1;}}
  publicize_tumblr_url: http://likeolaf.tumblr.com.tumblr.com/post/84199085942
  publicize_twitter_url: http://t.co/CDhEBYeiei
  _edit_last: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/39569324093
  tumblr_choonsik_id: '39569324093'
  simplecatch-sidebarlayout: ''
  original_post_id: '41'
  _wp_old_slug: '41'
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7396'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/41"
---
<p><!-- wp:paragraph --></p>
<p>NAS(Network Attached Storage)를 하나 사고 싶었다. 이유는 아래와 같다. 일종의 홈서버랄까.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>내 데이타가 클라우드에 점점 흩어진다. 관리가 힘들 뿐아니라 백업, 보안이 불편하다.</li>
<li>토렌트 및 여러 경로로 확보한 멀티미디어 컨텐츠를 거실 TV로 감상하고 싶다.</li>
<li>간단한 웹서버를 통해 컨텐츠를 가까운 지인과 공유하고 싶다.</li>
<li>드랍박스와 같은 클라우드 서비스를 간단히 구축하고 싶다.</li>
<li>항상 켜두어야 하니 소비 전력이 낮으면 좋겠다.</li>
<li>때론 강한 컴퓨팅 파워가 필요하다. 예를 들면 사진 관리, 동영상 편집 같은.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>주머니 사정이 허락하는 한도에서 이것 저것 시도해 본 것은 이렇다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>Apple TV를 구매해서 PC(iMac)와 연동</li>
<li>거실용 PC를 구매</li>
<li>안드로이드를 구동할 수 있는 작은 크기의 TV용 디바이스(MK802II) 구매</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>그러나 만족스럽지 못했다. 이유는 아래와 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>TV나 모니터에서 제공하는 멀티미디어 기능은 UI가 썩 좋치 않고 반응 속도가 느리며 코덱 사용에 문제가 있다. 그리고 TV를 최신으로 바꾸기엔 부담되었다.</li>
<li>작은 크기의 디바이스는 이래 저래 선을 연결하면 지저분해 지고, 전원이 부족해서 외장 하드와 연결을 위해 추가 전원이 필요하다. 내 TV HDMI를 고장낸 것이 중국산 MK802II 라고 심증만 있다.</li>
<li>Apple TV(3rd)는 해킹 버젼이 나오지 않아 XBMC를 돌리지 못하고 있다.</li>
<li>NAS는 가격이 비싸다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>그래서 고민해 봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>NAS와 라즈베리파이를 구매해서 &nbsp;XBMC 사용<br /><img src="{{ site.baseurl }}/assets/img/2013/01/Raspberry_Pi_Photo.jpg" alt="" width="200" /></li>
<li>HDMI출력을 지원하는 NAS</li>
<li><a href="http://chitsol.com/search/NUC" target="_blank" rel="noopener noreferrer">NUC</a>(Next Unit of Computing)</li>
<li>월9,900원의 구글 TV</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>이래 저래 고민을 해봐도 NAS를 중심으로 해결하는 것이 답이었던 것 같은데 NAS 기능만 사용하기에는 가격이 너무 비싸다는 점이다. (구매하고 싶은 브랜드는 <a href="http://www.synology.com/" target="_blank" rel="noopener noreferrer">시놀로지</a>)<br />나의 고민을 해결해 줄 수 있는 적당한 답이 맥미니였다. 물론 이것도 아주 저렴한 것은 아니지만 이것 저것 마음속으로 절충해보니,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>저전력</li>
<li>거실에 놓기에 적정한 디자인과 크기</li>
<li>충분한 컴퓨팅 파워</li>
<li>적외선 리모컨 지원</li>
<li>NAS와 비교적 비슷한 가격</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>그래서 맥미니 쿼드코어 버젼(<a href="https://web.archive.org/web/20140714190212/http://www.apple.com/kr/mac-mini/specs.html" target="_blank" rel="noopener noreferrer">MD388KH/A</a>) 큰 마음먹고 구매했다. 가격은 90만원.<br /><img src="{{ site.baseurl }}/assets/img/2013/01/mini.png?w=300" alt="mini" width="300" height="115" /><br />앞으로의 계획</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>거실에 놓고 홈서버로 쓰기</li>
<li>내 방에서는 Apple TV 미러링 기능을 활용해서 터미널처럼 쓰기 (아직 안해봤음)</li>
<li>다양한 멀티미디어 컨텐츠 감상하기</li>
<li>수많은 사진 및 동영상을 관리하기</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>-끝-</p>
<p><!-- /wp:paragraph --></p>
