---
layout: post
title: Dice Player 와 SMB
date: 2013-02-22 00:06:10.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_accuracy: '0'
  _publicize_job_id: '11331540328'
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:2417506070;b:1;}}
  publicize_twitter_user: like_olaf
  publicize_twitter_url: http://t.co/J6SrEWK6Jf
  publicize_tumblr_url: http://likeolaf.tumblr.com.tumblr.com/post/84199603312
  _wpas_done_7169902: '1'
  _wpas_done_7169899: '1'
  _edit_last: '1'
  original_post_id: '2682'
  _wp_old_slug: '2682'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7708'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/2682"
---
<p><!-- wp:paragraph --></p>
<p>안드로이드 앱 중에 Dice Player라는 녀석이 있다. 제법 똘똘해서 많은 사람들이 사용하는 동영상 플레이어 중 하나다. FTP나 <a rel="noopener noreferrer" href="http://www.samba.org/cifs/docs/what-is-smb.html" target="_blank">SMB</a>를 통해 네트웍에 있는 파일을 재생할 수 있다. 물론 안드로이드용 XBMC도 있지만&nbsp;앱스토어를 통해 정식으로 받을 수는 없다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그래서 이 녀석과 잠깐 놀아보려고 했는데 예상보다 길게 놀았다. 하고자 했던 놀이는,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">맥미니에 있는 동영상 파일을 실시간으로 휴대폰에서 재생하고&nbsp;<a rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Mobile_High-Definition_Link" target="_blank">MHL</a>을 통해 TV로 감상하는 것</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>FTP 사용</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>맥미니에&nbsp;<a href="http://www.maxum.com/Rumpus/" target="_blank" rel="noopener noreferrer">Rumpus</a>가 돌고 있어 FTP를 먼저 사용해 보았다. 그러나 몇 가지 문제를 경험했다. 이를 해결하는데 지루한 시간이 많이 흘렀다. 뿐만 아니라 만족도가 떨어졌다.&nbsp;1080p 해상도의 동영상을 재생하기엔 끊김이 있었고 재생 중 Forward/Rewind가 되지 않았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>SMB 사용</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>FTP에 실망하여 테스트 겸 SMB(삼바)를 사용했는데 만족스러웠다. FTP에 실망했던 2가지가 해결되었다. 만족스럽고 훌륭하다. SMB는 맥에서 "공유" 기능 설정으로 사용이 간단하다. 다만 하위 폴더가 있는 경우 Dice Player가 잘 처리해 주지 못하는 것 같고 최상위 폴더가 한글일 때 맥이 Decomposed UTF-8을 사용해서 그런지 한글이 풀려나오긴 한다 (예: 한글--&gt;ㅎㅏㄴㄱㅡ ㄹ). 하지만 폴더 안에 있는 한글은 잘 나온다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>만족스런 Dice Player 와 SMB의 조합</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>Dice Player에서 SMB를 통한 원격지 파일의 실시간 재생은 훌륭했다. MHL을 사용해서 TV로 감상하는 것은 MHL-HDMI 변환 젠더나 케이블을 구매한 후에 테스트 해볼 수 있을 듯 하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2013/02/U50-spD1sViEaMq_3trMeoC5TxzzvWleZqbP6Nh-CAmKdCNYSX2gQvg15tlgYyf9ZoqS=h900" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
