---
layout: post
title: 이런 일도 있군
date: 2013-01-20 16:42:15.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/41018636373
  tumblr_choonsik_id: '41018636373'
  _edit_last: '1'
  simplecatch-sidebarlayout: ''
  original_post_id: '37'
  _wp_old_slug: '37'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7728'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/37"
---
<p><!-- wp:image {"align":"center","id":3903} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2013/01/tumblr_inline_mgxnn6lcmp1r2syu9.jpg" alt="tumblr_inline_mgxnn6lCmP1r2syu9" class="wp-image-3903" /></figure>
</div>
<p><!-- /wp:image --></p>
