---
layout: post
title: 좋아하는 것 찾기
date: 2013-03-12 23:17:53.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_job_id: '9462294997'
  _edit_last: '1'
  original_post_id: '2724'
  _wp_old_slug: '2724'
  _thumbnail_id: '5850'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/2724"
---
<p>진로에 대한 고민은 중고등학교 시절에만 국한되지 않고 인생 전반에 걸쳐 지속된다. 누구나 좋아하는 일을 하고 싶고 행복과 성공을 꿈꾼다.</p>
<p>좋아하는 일이 무엇인지 혹은 무얼 하고 싶은 지를 답할 수 있는 사람이 생각보다 적다. 원인을 우리 교육의 문제라고 돌릴수도 있겠지만 우리 스스로 대답하지 못하는 것은 사실이다.</p>
<p>그래서 우리는 조언을 구하기도 하고 강연을 듣고 책을 읽는다. 그러나 원칙과 조언은 부족하지 않다. 오히려 좋은 내용이 너무 많은 시대에 살고 있어서 더욱 목이 마른 것은 아닐까?</p>
<p>누구나 좋아하는 뻔한 것 말고, 좋아하는 것으로 착각하는 것 말고, 아주 사소하지만 내가 진짜 좋아하는 것을 생각해 볼 필요가 있다. 내가 흥미로워하고 좋아하는 작고 사소한 어떤 것. 그것을 찾아보고 싶다.</p>
<p><img class="aligncenter" src="{{ site.baseurl }}/assets/img/2013/03/WN3shxkZxPNC4Wb1OPVpPiZHlfQmSpyHJBEIzysuTxHG8Jj0ypwMdpnYgnrEZsSgXyWqGCo0XT9kOKvkP2RkTARxZskRvgv9wlDmtqff2nlj71ZlT_3hF2cN" alt="" width="337" height="396" /></p>
<p><strong>누구나 좋아하는 것?</strong></p>
<p>가족과 함께 시간을 보내는 것, 매력적인 이성에 대한 열망, 돈을 많이 버는 것, 노는 것 등은 일반적이며 너무 추상적이다. 뿐만아니라 범위가 넓거나 막연하고 습관처럼 말한다. 그래서 큰 의미를 주지 못할 때가 많다.</p>
<p><strong>좋아하는 것으로 착각하는 것 - 욕구?</strong></p>
<p>내 이야기를 해보면 이렇다. 나는 아이들을 좋아한다고 말한다. 그리고 아이들을 위한 어떤 것을 해보고 싶다고 한다. 최근에는 아이들을 위한 프로그래밍 교육을 해보고 싶다 했었고, 성공해서 아이들을 위한 어린이집을 만들고 싶다. 물론 참 예쁜 마음이긴 하다. 그러나 가만히 들어가 보면 좀 다른 내면의 심리가 있다. 유명해지고 싶은 마음, 사람들이 나를 인정해 주었으면 하는 일종의 심리적 욕구가 숨어 있다.</p>
<p><strong>작지만 정말 좋아하는 것 - 남자의 물건?</strong></p>
<p>김정운 교수의 ‘남자의 물건’이란 책에는 유명하신 분들이 소장하고 아끼는 혹은 의미를 부여하는 물건들이 나온다. 예를 드면, ‘이어령의 책상’, ‘차범근의 계란 받침대’, ‘문재인의 바둑판’, ‘안성기의 스케치북’ 같은 것들. 사소해 보인다. 그런데 어떤 이야기가 있을지 궁금해 진다. 오늘 비슷한 이야기를 해주신 지인께서는 ‘단어’를 좋아하신다 얘기하셨다. 무척 흥미로웠다.</p>
<p><strong>찾아가는 즐거움</strong></p>
<p>내가 좋아하는 것을 찾아가는 과정은 즐거운 경험이다. 그래서 막연한 것보다는 작고 사소하지만 손에 잡히는 것을 찾아보는 것이 필요하다. 그것이 진짜 나를 만나게 해줄지도 모른다.<b id="internal-source-marker_0.3082953183911741"><br />
</b></p>
