---
layout: post
title: Apple TV로 iPhoto 사진 보기
date: 2013-01-20 16:37:46.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _publicize_pending: '1'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/41018314399/apple-tv-iphoto
  tumblr_choonsik_id: '41018314399'
  simplecatch-sidebarlayout: ''
  original_post_id: '38'
  _wp_old_slug: '38'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7729'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/38"
---
<p><!-- wp:paragraph --></p>
<p>iTunes를 업데이트 한 후&nbsp;iPhoto 사진을 Apple TV로 볼 수 없어서 의아해 하고 있었는데, 코 앞에 두고 찾지 못했던 것이었다. 한참을 찾았는데 이제야 찾았다. iPhoto에 있는 동영상도 바로 볼 수 있게 되어서 좋다. (원래 되었었나?)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2013/01/tumblr_inline_mgxn5r6dgr1r2syu9.png" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
