---
layout: post
title: 똑같지만 다른 사람
date: 2013-06-22 00:30:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  publicize_twitter_user: like_olaf
  publicize_twitter_url: http://t.co/wifz1JOK7N
  _wpas_done_7169902: '1'
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:2417506070;b:1;}}
  _wpas_done_7169899: '1'
  publicize_tumblr_url: http://likeolaf.tumblr.com.tumblr.com/post/84198543962
  _publicize_pending: '1'
  _edit_last: '1'
  original_post_id: '2757'
  _wp_old_slug: '2757'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7665'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/2757"
---
<p><!-- wp:image {"align":"center","id":2788,"linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2013/07/jzshvseflvuh5_e.jpg"><img src="{{ site.baseurl }}/assets/img/2013/06/jzshvseflvuh5_e.jpg" alt="jZSHvSEFLVUh5_e" class="wp-image-2788" /></a></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>똑같은 사람이 능력자가 되기도 하고 무능력자가 되기도 한다. 사람에게 어떠한 자극이 주어지는지에 따라. (春)</p>
<p><!-- /wp:paragraph --></p>
