---
layout: post
title: iDVD는 어디갔을까?
date: 2013-01-15 05:50:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  geo_address: '0'
  geo_accuracy: '0'
  tumblr_choonsik_permalink: http://choonsik.tumblr.com/post/40584536383/idvd
  tumblr_choonsik_id: '40584536383'
  simplecatch-sidebarlayout: ''
  original_post_id: '40'
  _wp_old_slug: '40'
  _publicize_job_id: '11309974218'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7737'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/40"
---
<p><!-- wp:paragraph --></p>
<p>돌잔치 때 iDVD를 유용하게 사용했었고 그 당시 만들어 놓았던 DVD는 소장해서 잘 활용하고 있다. 자주 사용하지는 않치만 iDVD는 유용한 프로그램이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그런데, 새로 구매한 맥미니에 iDVD가 사라졌다. 함께 있던 iWeb도 없다.&nbsp;Mac App Store에도, iLife ‘11 소개 페이지에도 iDVD와 iWeb에 대한 언급이 없다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>한참을 찾아보니, <a rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/ILife" target="_blank">iLife</a> ‘11 패키지 버젼에만 포함되어 있다. 이미 최신 버젼의 iLife 3총사(iPhoto, iMovie,&nbsp;GarageBand)가 설치된 상태라서 iDVD만 추가하고 싶다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>실패한 방법</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>iLife ‘11 패키지를 구했다.</li>
<li>iDVD.pkg 를 찾아서 설치했다.</li>
<li>실행이 안되었다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><strong>성공한 방법</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>iLife ‘11 패키지를 구했다.</li>
<li>패키지로 설치했다.</li>
<li>iMovie,&nbsp;GarageBand는 설치가 생략되고, iPhoto는 패키지에 있는 버젼으로 설치된다.</li>
<li>설치된 iPhoto 가 실행이 안된다.</li>
<li>Mac App Store에 있는 최신 버젼으로 iPhoto를 다시 설치한다.</li>
<li>실행이 된다.</li>
<li>소프트웨어 업데이트를 실행하여 업데이트 한다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2013/01/IDVD_icon.png" alt="image" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
