---
layout: post
title: Eclipse에서 UML 사용하기
date: 2013-03-26 14:54:19.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  publicize_twitter_url: http://t.co/A0zr8loy0v
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  publicize_twitter_user: like_olaf
  _wpas_done_7169902: '1'
  geo_public: '0'
  geo_accuracy: '0'
  geo_address: '0'
  _publicize_pending: '1'
  _edit_last: '1'
  original_post_id: '2746'
  _wp_old_slug: '2746'
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:2417506070;b:1;}}
  publicize_tumblr_url: http://likeolaf.tumblr.com.tumblr.com/post/84198694642
  _wpas_done_7169899: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7673'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/2746"
---
<p><!-- wp:image {"align":"center","id":2792} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2013/03/java-perspective.png?w=646" alt="" class="wp-image-2792" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:list --></p>
<ul>
<li>The ObjectAid UML Explorer for Eclipse (<a title="http://www.objectaid.com" href="http://www.objectaid.com" target="_blank" rel="noopener noreferrer">http://www.objectaid.com</a>)</li>
<li>papyrus (<a title="http://www.papyrusuml.org" href="http://www.papyrusuml.org" target="_blank" rel="noopener noreferrer">http://www.papyrusuml.org</a>)</li>
<li>그냥 자유롭게 그리고 싶으면&nbsp;<a href="http://softwarestencils.com">Visio Template for UML 2.2</a></li>
</ul>
<p><!-- /wp:list --></p>
