---
layout: post
title: Wedge Touch 마우스
date: 2013-02-06 23:43:51.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _wpas_skip_7254150: '1'
  _edit_last: '1'
  original_post_id: '1123'
  _wp_old_slug: '1123'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7715'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/1123"
---
<p><!-- wp:paragraph --></p>
<p>작고 쓸만한 무선 마우스를 찾던 중, 마이크로소프트의 Wedge Touch 마우스가 눈에 들어왔다. 무선 마우스 사용에 필요한 동글이 싫었다. 그래서 동글없이 쓸 수 있는 블루투스를 지원하는 제품을 선택, 구매했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>박스로 된 깔끔한 포장은 그럭저럭 알차게 느껴졌다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":1124,"linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2013/02/img_57101.png"><img src="{{ site.baseurl }}/assets/img/2013/02/img_57101.png?w=300" alt="IMG_5710" class="wp-image-1124" /></a></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>건전지 모양의 버튼을 누르면 "탁" 소리와 함께 열린다. AA건전지 하나를 넣으면 된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":1125,"linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2013/02/img_5713.png"><img src="{{ site.baseurl }}/assets/img/2013/02/img_5713.png?w=300" alt="IMG_5713" class="wp-image-1125" /></a></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>예상보다 더 작았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":1126,"linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2013/02/img_5712.png"><img src="{{ site.baseurl }}/assets/img/2013/02/img_5712.png?w=300" alt="IMG_5712" class="wp-image-1126" /></a></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>키보드에 올려봤다. 역시 작다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":1127,"linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2013/02/img_5715.png"><img src="{{ site.baseurl }}/assets/img/2013/02/img_5715.png?w=300" alt="IMG_5715" class="wp-image-1127" /></a></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>사용해 보고 있는 중인데 익숙해지는데 시간이 좀 필요하다. 작아서인지 느낌이 좀 어색하고, 특히 터치 스크롤 만족도가 살짝 기대에 못미친다. 물론 익숙해지면 좀 나아지리라 믿고 싶다. 스크롤 할 때 소리가 없어서 밤에 사용하기엔 좋은 것 같다. 클릭할 때 느낌도 나쁘지 않으나 오른쪽 버튼을 클릭할 때는 무지 이상했다. 이유는 작아서 일까? 물론 마우스 이동이나 왼쪽 버튼을 클릭하는 것은 나쁘지 않다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">결론, 사지 마세요. 비추!</p>
<p><!-- /wp:paragraph --></p>
