---
layout: post
title: 좋아하나요?
date: 2013-07-02 23:40:56.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_done_external: a:1:{s:7:"twitter";a:1:{i:2417506070;b:1;}}
  publicize_tumblr_url: http://likeolaf.tumblr.com.tumblr.com/post/84198501862
  publicize_twitter_user: like_olaf
  _wpas_done_7169899: '1'
  publicize_twitter_url: http://t.co/edRcCmelvs
  _wpas_done_7169902: '1'
  _publicize_pending: '1'
  _edit_last: '1'
  original_post_id: '2774'
  _wp_old_slug: '2774'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7662'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/2774"
---
<p><!-- wp:image {"align":"center","id":2782,"linkDestination":"custom"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2013/07/ibnog3ewkvdjt8.jpg"><img src="{{ site.baseurl }}/assets/img/2013/07/ibnog3ewkvdjt8.jpg" alt="ibnOG3eWKVDjT8" class="wp-image-2782" /></a></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>자식이 음악을 계속 할 수 있도록 지원해야 하는지 고민하던 아버지가 있었다. 쉽게 답을 내리지 못했던 그는 주변의 도움을 받아 보기로 하고, 조언을 해 줄 만한 훌륭한 멘토 5명을 찾았다. 그런데, 그 멘토 5명 모두가 똑같은 말을 했다고 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">멘토들: 음악을 좋아하나요?<br />아버지: 네<br />멘토들: 얼마나 좋아하나요?<br />아버지: 많이요.<br />멘토들: 그럼, 시키세요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>자식이 무엇을 진짜 좋아하는지 관찰하고 발견해 주는 것이 부모의 역할이 아닐까 생각해 본다.</p>
<p><!-- /wp:paragraph --></p>
