---
layout: post
title: 비루함
date: 2014-08-09 01:05:55.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _publicize_pending: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7584'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4703"
---
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote"><p>자신을 항상 비하하는 감정</p>
<p>겸손으로 위장된 감정</p>
</blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:paragraph --></p>
<p>참으로 낯선 단어다. 비루함. 오래 전에 형성되어 버린 낮은 자존감이라할까? 항상 스스로에게 만족하지 못하는 태도와 비슷한 것일까? 잘하고도 못했다고 느끼는 지겨운 감정.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>노예, 주인에게 무조건 복종할 수 밖에 없는. 심지어 자유가 주어진다해도 그 습관을 버릴 수 없는 답답함.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":4702} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><a href="http://bomchoon.kr/wp-content/uploads/2014/08/a0014295_49198698a031d.jpg"><img src="{{ site.baseurl }}/assets/img/2014/08/a0014295_49198698a031d.jpg" alt="" class="wp-image-4702" /></a><br />
<figcaption>이미지 출처: http://jungsu19.egloos.com/1834645</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
