---
layout: post
title: 아프리카 속담
date: 2014-06-19 16:19:25.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  geo_public: '0'
  _edit_last: '1'
  _publicize_pending: '1'
  _oembed_64d00392248f64a027cc036f755b255a: "{{unknown}}"
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7627'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4667"
---
<p><!-- wp:image {"align":"center","id":4672,"className":"wp-image-4672 size-large"} --></p>
<div class="wp-block-image wp-image-4672 size-large">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/06/860500_165646806917576_1452249147_o.jpg?w=584" alt="" class="wp-image-4672" /><br />
<figcaption>http://blog.naver.com/kimchangsub/70178894550</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>빨리 가려면 혼자 가고,<br />멀리 가려면 함께 가라<br />If you want to go fast, go alone.<br />If you want to go far, go together.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>- African proverb</p>
<p><!-- /wp:paragraph --></p>
