---
layout: post
title: 가디언즈 오브 갤럭시
date: 2014-08-11 23:41:44.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _oembed_fd47c68ab20b8d393dc60100393420f1: "{{unknown}}"
  _oembed_5d277c66b310a273a02fa6accb488604: "{{unknown}}"
  _edit_last: '1'
  _publicize_pending: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7573'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4716"
---
<p><!-- wp:paragraph --></p>
<p>예고편은 참 재미없게 느껴졌는데 예상보다 무척 재밌게 본 영화. 추천!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>초반의 낯선 느낌. 뭔가 캐릭터들이 이상하다고나 할까.</li>
<li>정말 재밌게 느꼈던 마지막 공중 전투씬. 정말 압권이었음.</li>
<li>예상치 못한 유머 코드. 영화보며 오랜만에 웃었음.</li>
<li>1980년대 음악이 참 좋았음.</li>
</ul>
<p><!-- /wp:list --></p>
