---
layout: post
title: 경탄
date: 2014-08-11 23:28:15.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7584'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4712"
---
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote"><p>몹시 놀라며 감탄함.</p>
</blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:paragraph --></p>
<p>처음에 느껴지는 어떤 것과 비슷하다. 그리고 익숙함이 되면 경탄이라는 단어는 사라진다. 처음이 아닌 것에서 혹은 익숙한 것으로부터 다른 처음을 발견할 수 있다면 놀라운 일이다. 거기엔 노력이 필요하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":4711} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/08/jbgr1muefo7phy.png" alt="" class="wp-image-4711" /></figure>
</div>
<p><!-- /wp:image --></p>
