---
layout: post
title: 24시 시즌9 (2014)
date: 2014-07-25 23:09:36.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 24시
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7590'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4694"
---
<p><!-- wp:image {"align":"center","id":4695} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/07/p9-1.jpg?w=584" alt="" class="wp-image-4695" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>24 시즌 9 (2014) -&nbsp;24 Live Another Day</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>예전에는 WOW 했는데 이제는 볼만하다 정도의 느낌이 든다.</p>
<p><!-- /wp:paragraph --></p>
