---
layout: post
title: 우리에게 필요한 것
date: 2014-03-26 14:02:53.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  _publicize_pending: '1'
  geo_latitude: '0.000000'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_address: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7654'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/3874"
---
<p><!-- wp:paragraph --></p>
<p>출근 길에 봤던 그림이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/03/carrotsgross.jpg" alt="" /><br />
<figcaption><a href="http://doug-johnson.squarespace.com/blue-skunk-blog/2009/12/15/drive-pink-on-motivation.html" data-type="URL" target="_blank" rel="noreferrer noopener">Drive: Pink on motivation</a></figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>그림을 보자마자 최근에 봤던 동영상이 생각나서 요약도 할 겸 낙서해 봤다. 제목은 "우리에게 필요한 것"</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":3875} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/03/image2014-3-26-13-51-9.png?w=646" alt="image2014-3-26 13-51-9" class="wp-image-3875" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>물론 이웃 중에 생존의 문제로 고생하시는 분들이 아직도 많다는 사실도 기억하자.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참고</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><a href="https://www.youtube.com/watch?v=AG3DzK6um4A" target="_blank" rel="noreferrer noopener">힐링이 아니라 빌리빙이다</a> (조벽)</li>
<li><a rel="noopener noreferrer" href="http://dobiho.com/?p=7110" target="_blank">드라이브</a> (다니엘 핑크)</li>
<li><a rel="noopener noreferrer" href="http://en.wikipedia.org/wiki/Maslow%27s_hierarchy_of_needs" target="_blank">Maslow's hierarchy of needs</a></li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>추가</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근에 어떤 자료를 보니 마케팅 분야도 버전을 붙이는 것 같다. 마케팅 1.0은 품질을, 마케팅 2.0은 디자인을, 마케팅 3.0은 의미를 키워드로 삼는다.</p>
<p><!-- /wp:paragraph --></p>
