---
layout: post
title: 크레이그 페더리기
date: 2014-06-04 23:44:15.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  _publicize_pending: '1'
  geo_public: '0'
  _edit_last: '1'
  _rest_api_client_id: "-1"
  _rest_api_published: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7595'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4650"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/06/1y7LjUU-nSo5HoVAUece8PqhbN9Ymopjq-rYl7efcPhnvfSgfZciYfyBNzHvtVrDqqzNBLLUE_y8b3iConC-CTQUjX_K1l1lyIwjHIDtdRaHbQhZIDjgFccCeJA96ShJJw" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>크레이그 페더리기 "슈퍼맨"으로 빵 떴다</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>즐겁고 유쾌한 모습 너무 보기 좋았습니다.</p>
<p><!-- /wp:paragraph --></p>
