---
layout: post
title: Apple Event
date: 2014-09-10 21:41:43.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  _oembed_fda66db9f0c3ff944020b053f51d31a9: "{{unknown}}"
  _oembed_a4f98bc03b814ca543ed22af56569bc4: "{{unknown}}"
  _oembed_f42ebed67d96fcd9d37587d5bb7d6e9b: "{{unknown}}"
  _oembed_dca9b3adba3d7f12a91e7debd7e6a0c4: "{{unknown}}"
  _oembed_eea7b9b378e60400e7f5d08293aaff2c: "{{unknown}}"
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _oembed_469cad3f4084b3c2f1425ad0aded5560: "{{unknown}}"
  _oembed_c9653856dea82708364b635d98a40215: "{{unknown}}"
  _oembed_91c1c923cdb4dfd5b69c4ffad99f1875: "{{unknown}}"
  _oembed_618cc34f2df09b1d323e3681b9ea8b03: "{{unknown}}"
  _oembed_398036d60a58da61f8a6662dc496a8e1: "{{unknown}}"
  _oembed_882d049c8c39e64d3e812b83e0d2ef25: "{{unknown}}"
  _oembed_00dc8454d88ebf26ba61a75332485b47: "{{unknown}}"
  _oembed_5d26ce244745fe9a77b529cdd839e04d: "{{unknown}}"
  _oembed_1ec794c25dfcc20c24d42885108548c3: "{{unknown}}"
  _last_editor_used_jetpack: block-editor
  _oembed_d2d0f1366a56656e14406d1abf1e4131: "{{unknown}}"
  _oembed_657963568fbbe2b093220f09b97381cc: "{{unknown}}"
  _thumbnail_id: '7569'
  _oembed_58ebb80936ba093ff76ad691b6d598bf: <iframe title="Apple — September Event
    2014" width="1200" height="675" src="https://www.youtube.com/embed/38IqQpwPe7s?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _oembed_time_58ebb80936ba093ff76ad691b6d598bf: '1631115558'
  _edit_last: '1'
  _oembed_691423442f33a1a4febfa34eb4fdfa6c: <iframe title="Apple — September Event
    2014" width="500" height="281" src="https://www.youtube.com/embed/38IqQpwPe7s?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_691423442f33a1a4febfa34eb4fdfa6c: '1697866201'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4722"
---
<p><!-- wp:paragraph --></p>
<p>새벽에 잠이 깼다. 뭔가 흥미로움을 주는 애플에 대한 기대감은 사라지지 않았나보다. 조금 늦게 깨서 One more thing... 이 나오는 바로 직전부터 시청했다. 오홋! 오랜만이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>첫 느낌 나쁘지 않았다. 패션과 디자인을 잘 모르는 사람이지만 좋아보였다. 이전의 스마트 시계와는 틀린 느낌이다. 다만 가격이 비싸기 때문에 내가 사게 되지는 않을 듯 싶은데 어찌될지 모르겠다. 내년에 생각이 바뀔 수도.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>라이브로 보지는 못했지만 iPhone 6 와 iPhone 6 Plus 는 절연선(?)이 너무 맘에 들지 않았다. 실제 보면 그렇게 밉지 않다는 글을 본 것 같긴한데 화면에서 보기에는 애플답지 않은 촌스러움이랄까...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>유플러스도 사용 가능하다하니 어떤 마케팅을 할지도 궁금해진다. 공격적으로 하려나?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:embed {"url":"https://www.youtube.com/watch?v=38IqQpwPe7s","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=38IqQpwPe7s
</div>
</figure>
<p><!-- /wp:embed --></p>
