---
layout: post
title: git 이해
date: 2014-10-07 10:16:06.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _edit_last: '1'
  geo_public: '0'
  _oembed_96a34fb8b6b31a52e73245f704c41bd0: "{{unknown}}"
  _oembed_27dbc14ecad92db8a3067635922eb571: "{{unknown}}"
  _publicize_pending: '1'
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _last_editor_used_jetpack: block-editor
  _oembed_ce420efd9ed3201cb3568bffc94fc59a: '<iframe title="svn 능력자를 위한 git 개념 가이드"
    src="https://www.slideshare.net/slideshow/embed_code/key/DkG5zY646VfABZ" width="427"
    height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px
    solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
    </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/einsub/svn-git-17386752"
    title="svn 능력자를 위한 git 개념 가이드" target="_blank">svn 능력자를 위한 git 개념 가이드</a> </strong>
    from <strong><a href="https://www.slideshare.net/einsub" target="_blank">Insub
    Lee</a></strong> </div>'
  _oembed_time_ce420efd9ed3201cb3568bffc94fc59a: '1631114854'
  _thumbnail_id: '7565'
  _oembed_246d648b72e9206febcd509b0b56e15b: '<iframe title="svn 능력자를 위한 git 개념 가이드"
    src="https://www.slideshare.net/slideshow/embed_code/key/DkG5zY646VfABZ" width="427"
    height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px
    solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
    </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/einsub/svn-git-17386752"
    title="svn 능력자를 위한 git 개념 가이드" target="_blank">svn 능력자를 위한 git 개념 가이드</a> </strong>
    from <strong><a href="https://www.slideshare.net/einsub" target="_blank">Insub
    Lee</a></strong> </div>'
  _oembed_time_246d648b72e9206febcd509b0b56e15b: '1697866201'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4737"
---
<p><!-- wp:list --></p>
<ul>
<li><a rel="noopener noreferrer" href="http://rogerdudler.github.io/git-guide/index.ko.html" target="_blank">git - 간편 안내서</a></li>
<li><a href="https://www.slideshare.net/einsub/svn-git-17386752" target="_blank" rel="noreferrer noopener">https://www.slideshare.net/einsub/svn-git-17386752</a></li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
