---
layout: post
title: 오버랩
date: 2014-05-12 22:59:12.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  ryu_tonesque: a:2:{s:5:"color";s:6:"2a1f3c";s:8:"contrast";s:11:"255,255,255";}
  _publicize_job_id: '9462244311'
  _thumbnail_id: '5852'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/3686"
---
<p><a href="http://bomchoon.kr/wp-content/uploads/2014/05/116420_129223_5327.jpg"><img class="aligncenter wp-image-3685 size-full" src="{{ site.baseurl }}/assets/img/2014/05/116420_129223_5327.jpg" alt="지난해 9월 JTBC 개편 당시 기자·앵커들의 단체사진" width="600" height="471" /></a></p>
<p><a href="http://bomchoon.kr/wp-content/uploads/2014/05/f0452602_526bee02b10ff.jpg"><img class="aligncenter wp-image-3684" src="{{ site.baseurl }}/assets/img/2014/05/f0452602_526bee02b10ff.jpg?w=646" alt="뉴스룸(The Newsroom)" width="600" height="381" /></a></p>
