---
layout: post
title: 무료 복구 프로그램
date: 2014-07-09 16:47:52.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  geo_public: '0'
  _publicize_job_id: '11331525272'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7587'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4686"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/07/photorec.png" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>대부분의 OS를 지원하는 복구 솔루션으로 아주 훌륭하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><a href="http://www.cgsecurity.org/wiki/TestDisk" target="_blank" rel="noopener noreferrer">TestDisk</a>:&nbsp;파티션이 날아갔을 때</li>
<li><a href="http://www.cgsecurity.org/wiki/PhotoRec" target="_blank" rel="noopener noreferrer">PhotoRec</a>:&nbsp;파일들을 복구할 때</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>윈도우 및 Linux &nbsp;환경에서 NAS 용으로 쓰던 HDD 의 데이타를 복구할 때 유용하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><a href="http://www.r-tt.com/ko/free_linux_recovery" target="_blank" rel="noopener noreferrer">R-Linux</a>:&nbsp;Ext2/Ext3/Ext4 FS 파일 시스템에 대한 무료 파일 복구 유틸리티</li>
</ul>
<p><!-- /wp:list --></p>
