---
layout: post
title: The Newsroom 시즌1
date: 2014-05-28 01:32:05.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  geo_address: '0'
  geo_latitude: '0.000000'
  _edit_last: '1'
  _publicize_pending: '1'
  geo_longitude: '0.000000'
  geo_accuracy: '0'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7651'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4409"
---
<p><!-- wp:image {"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/05/Season_1_poster.jpg" alt="" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>뉴스룸(The Newsroom) 시즌1 정말 재밌게 봤습니다.</p>
<p><!-- /wp:paragraph --></p>
