---
layout: post
title: 공허함
date: 2014-10-22 23:10:13.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '7552'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4745"
---
<p><!-- wp:image {"align":"center","id":4746} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2014/10/ee65b2ad68659e827e125633854abcfe.jpg?w=660" alt="" class="wp-image-4746" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>채워지지 않는 뭔가가 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>채우려해도 채워지지 않는 공허함 같은 것이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>하나님만이 채울 수 있는 영역이 있다고 들었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>바로 그것일까?</p>
<p><!-- /wp:paragraph --></p>
