---
layout: post
title: True Detective Season 2
date: 2015-10-11 12:05:27.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '15695702707'
  _thumbnail_id: '4831'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4830"
---
<p><a href="http://bomchoon.kr/wp-content/uploads/2015/10/150507-true-detective-1024x374.jpg"><img class="alignnone size-large wp-image-4831" src="{{ site.baseurl }}/assets/img/2015/10/150507-true-detective-1024x374.jpg?w=660" alt="150507-true-detective-1024x374" width="660" height="241" /></a></p>
<p>이 드라마의 가장 큰 특징 중 하나는 배우들의 연기력이 훌륭하다는 점이다. 다만 초반엔 너무 재미가 없었다. 그러나 계속 볼까 말까 고민하던 중반이 되면 이야기 전개와 함께 재밌어 진다. 시즌 1에 비해서는 부족했던 느낌이고 시즌 1과는 전혀 관계가 없다.</p>
<p>여자 주인공이 무척이나 익숙한 인물이다. 이름이 생각나지 않아 보는 내내 계속 궁금했었는데 찾아보니 레이첼 맥아담스(<a href="https://movie.daum.net/person/main?personId=42666" target="_blank" rel="noopener noreferrer">Rachel McAdams</a>). 연기 변신 시도는 성공.</p>
<p>남자 주인공 콜린 파렐(<a href="https://movie.daum.net/person/main?personId=2768" target="_blank" rel="noopener noreferrer">Colin Farrell</a>)도 오랜만.</p>
