---
layout: post
title: 시도니아의 기사
date: 2015-06-05 23:53:22.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '11367797387'
  _wp_old_slug: "%ec%8b%9c%eb%8f%84%eb%8b%88%ec%95%84%ec%9d%98-%ea%b8%b0%ec%82%ac"
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '4791'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4790"
---
<p><!-- wp:paragraph --></p>
<p>요즘 재미있게 보고 있는 애니!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"left","id":7532,"sizeSlug":"large","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="alignleft size-large"><img src="{{ site.baseurl }}/assets/img/2015/06/19d72bdfb6a4d71880fda293fe068871a9b473c4e4ae681422fa6aa061122507762b91719e45e1572caa87e0dec9ecf84159431a753f38bcb8e78b0b137d90bfbee2e2598c08bc826fdceec561f15f8a72a0b66df3cb00ed228f7fb7a736ed22-721x1024.jpg" alt="" class="wp-image-7532" /></figure>
</div>
<p><!-- /wp:image --></p>
