---
layout: post
title: True Detective Season 1
date: 2015-06-30 23:53:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _oembed_ddb4997a355a4825efbb7fedb48715aa: "{{unknown}}"
  _oembed_5ce3f06e8cce8998508dddf1cc21580f: "{{unknown}}"
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '12185314958'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '7529'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4818"
---
<p><!-- wp:paragraph --></p>
<p>추천 미드!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>이야기 전개상 초반에는 다소 지루했지만 점점 몰입하게 만든다.</li>
<li>주인공들의 연기는 훌륭하다. 특히 인터스텔라 주인공이었던&nbsp;<a href="https://movie.daum.net/person/filmography?personId=744" target="_blank" rel="noreferrer noopener">매튜 매커너히(Matthew McConaughey)</a>&nbsp;의 연기가 인상적이다.</li>
<li>잠깐이지만 밴쉬(Banshee)에 나오는&nbsp;<a href="https://movie.daum.net/person/filmography?personId=340156" target="_blank" rel="noreferrer noopener">릴리 시몬스(Lili Simmons)</a>가 나와서 반갑다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:columns --></p>
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} --></p>
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:jetpack/tiled-gallery {"columnWidths":[["31.90795","68.09205"]],"ids":[7540,7538]} --></p>
<div class="wp-block-jetpack-tiled-gallery aligncenter is-style-rectangular">
<div class="tiled-gallery__gallery">
<div class="tiled-gallery__row">
<div class="tiled-gallery__col" style="flex-basis:31.90795%">
<figure class="tiled-gallery__item"><img alt="" data-height="500" data-id="7540" data-link="https://bomchoon.kr/archives/4818/afd2e0bb05197f254956c180e3016ef6" data-url="https://bomchoon.kr/wp-content/uploads/2021/09/afd2e0bb05197f254956c180e3016ef6.jpg" data-width="333" src="{{ site.baseurl }}/assets/img/2015/06/afd2e0bb05197f254956c180e3016ef6.jpg?ssl=1" data-amp-layout="responsive" /></figure>
</div>
<div class="tiled-gallery__col" style="flex-basis:68.09205%">
<figure class="tiled-gallery__item"><img alt="" data-height="337" data-id="7538" data-link="https://bomchoon.kr/archives/4818/ustv_true-detective2" data-url="https://bomchoon.kr/wp-content/uploads/2021/09/ustv_true-detective2.jpg" data-width="480" src="{{ site.baseurl }}/assets/img/2015/06/ustv_true-detective2.jpg?ssl=1" data-amp-layout="responsive" /></figure>
</div>
</div>
</div>
</div>
<p><!-- /wp:jetpack/tiled-gallery --></div>
<p><!-- /wp:column --></div>
<p><!-- /wp:columns --></p>
