---
layout: post
title: 내부자들
date: 2015-11-23 23:06:19.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '17125407220'
  _thumbnail_id: '4849'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4842"
---
<p><!-- wp:paragraph --></p>
<p>관객을 몰입시키는 탄탄한 연기력과 쉴 틈을 주!는! 단타성 유머. 충분히 빠져들게 하는 스토리. 최근에 봤던 한국 영화 중에는 최고인 듯. 다소 아쉽지만 이해되는 부분이 있으나 스포일러가 될 수 있어서 생략.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":4849} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2015/11/poster.jpeg" alt="poster" class="wp-image-4849" /></figure>
<p><!-- /wp:image --></p>
