---
layout: post
title: SOSCON 참석
date: 2015-10-27 23:35:43.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags:
- 컨퍼런스
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '16259383302'
  _thumbnail_id: '4837'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4836"
---
<p><!-- wp:image {"id":4837,"linkDestination":"custom"} --></p>
<figure class="wp-block-image"><a href="http://bomchoon.kr/wp-content/uploads/2015/10/20151027_114022-animation.gif"><img src="{{ site.baseurl }}/assets/img/2015/10/20151027_114022-animation.gif?w=660" alt="20151027_114022-ANIMATION" class="wp-image-4837" /></a></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>아주 인상 깊었다.</p>
<p><!-- /wp:paragraph --></p>
