---
layout: post
title: 답답함
date: 2015-11-03 00:13:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '16461569219'
  _thumbnail_id: '4840'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4839"
---
<p>답답할 때가 있다. "좋아하는게 뭐에요?"라는 질문에 머뭇거릴 때가 그렇다.</p>
<p>나는 내 자신이 언제 집중하고 있으며 무엇에 즐거워하는가를 잘 모른다. 불혹의 나이에도 말이다.</p>
<p>좋아하는 뭔가가 있다는 것도 멋진 행복이다.</p>
<p>내 짧은 경험에 혹은 각인된 어떤 기억에 갇힌 느낌이 든다.</p>
<p>"아!" 하는 순간! 몸에서 생성된다는 다이돌핀(didorphin)이라는 호르몬을 자주 경험하고 싶다.</p>
<p>감동과 깨달음은 어디로 가버린 것일까?</p>
<p><img class="size-medium wp-image-4840 aligncenter" src="{{ site.baseurl }}/assets/img/2015/11/jq9zl9c4yn24w.jpg?w=249" alt="jq9zl9C4Yn24W" width="249" height="300" /></p>
