---
layout: post
title: G Pro 2 (D838)
date: 2015-03-16 23:23:13.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _edit_last: '1'
  _publicize_job_id: '11331730176'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _wpas_skip_facebook: '1'
  _wpas_skip_google_plus: '1'
  _wpas_skip_twitter: '1'
  _wpas_skip_linkedin: '1'
  _wpas_skip_tumblr: '1'
  _wpas_skip_path: '1'
  _last_editor_used_jetpack: block-editor
  _oembed_abfd2b6f9cafa14eac36e4461b31cba1: "{{unknown}}"
  _thumbnail_id: '7550'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4763"
---
<p><!-- wp:paragraph --></p>
<p>좋은 점</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>큰 화면</li>
<li>불필요한 DMB 없음</li>
<li>저렴한 가격</li>
<li>오래가는 배터리</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>아쉬운 점</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>화면이 다른 폰에 비해 노란색 느낌이 살짝남</li>
<li>무선 충전 미지원 (한국향은 지원)</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>참고</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><a rel="noreferrer noopener" href="https://www.lg.com/hk_en/mobile-phone/lg-D838" target="_blank">https://www.lg.com/hk_en/mobile-phone/lg-D838</a></li>
<li><a rel="noreferrer noopener" href="https://namu.wiki/w/LG%20G%20Pro%202" target="_blank">https://namu.wiki/w/LG G Pro 2</a></li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
