---
layout: post
title: 제2회 SW Architect 성과 공유회
date: 2016-01-26 02:15:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '19111841735'
  _thumbnail_id: '4914'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4906"
excerpt: 130명 규모의 SW Architect 행사를 진행한 경험을 나누고 싶다.
---
<p>우리 회사는 SW Architect 인증 제도를 운영한다. 이러한 제도를 좋아하지 않는 분들도 계시지만 개인과 회사에 도움이 되는 방향으로 발전을 도모하고 있다. 최근 130명 규모의 SW Architect 행사를 진행했고 이 경험을 이야기 하고 싶다. SW 개발자의 축제라고 생각하시면 될 것 같다.</p>
<p><img class="alignnone size-full wp-image-4914" src="{{ site.baseurl }}/assets/img/2016/01/dsc1377.jpg" alt="_DSC1377" width="1112" height="742" /></p>
<p>앞으로 쓸 글을 통해 &lt;오호, 이런 행사도 하는구나&gt; 라는 소식을 전하고 싶고, &lt;이런 행사는 어떻게 준비할까?&gt; 라는 궁금증을 행사 비 전문가 입장에서 도움이 되고 싶다. 그리고 가능하다면 SW 개발과의 유사점들을 정리해 보고 싶다. 재미로.</p>
<blockquote><p>행사를 준비하는 사람의 애정과 정성이 가장 중요하다. 참석자들은 그것을 느낀다.</p></blockquote>
<p><img class="alignnone size-full wp-image-4959" src="{{ site.baseurl }}/assets/img/2016/01/dsc1282.jpg" alt="_DSC1282" width="1111" height="742" /></p>
<p>쓸 수 있을까?</p>
