---
layout: post
title: 저렴한 Bluetooth 헤드폰 비교
date: 2016-11-29 23:11:52.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _thumbnail_id: '5670'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '29430372165'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5601"
excerpt: 저렴한 Bluetooth 헤드폰을 사려거든 Bluedio A(Air)를 사라
---
<p><!-- wp:paragraph --></p>
<p>이어폰은 귀에서 잘 떨어진다. 때론 귀지가 묻어서 싫다. 거기에 얇은 줄이 따라오면 귀찮다. 그래서 난 이어폰 보다는 헤드폰을 선호한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>다만, 용기가 없어서 고급 헤드폰을 사지 않는다. 구매했던 저렴한 Bluetooth 헤드폰이 벌써 4개째다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>Syllable G600($19.17)</li>
<li>AEC BQ-618($11.94)</li>
<li>Bluedio T3($29.92)</li>
<li>Bluedio A(Air)($40,00)</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>재밌는 사실이 하나 있다. 혹시 같은 음악을 2명이 같이 감상하고 싶을 때가 있는가? 그렇다면 해답이 있다. 위 제품들은 3.5mm Audio In/Out을 지원한다(G600의 Audio Out이 확실치 않다).</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>Bluetooth로 연결된 헤드폰과 Bluetooth로 연결되지 않은 헤드폰을 유선으로 연결하면 동시에 같은 음악을 감상할 수 있다. 생각보다 괜찮다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:gallery {"ids":[5670,5669,5668,5667],"columns":2,"linkTo":"none"} --></p>
<figure class="wp-block-gallery columns-2 is-cropped">
<ul class="blocks-gallery-grid">
<li class="blocks-gallery-item">
<figure><img src="{{ site.baseurl }}/assets/img/2016/11/61tdj1g-awl-_sl1001_.jpg" alt="" data-id="5670" class="wp-image-5670" /></figure>
</li>
<li class="blocks-gallery-item">
<figure><img src="{{ site.baseurl }}/assets/img/2016/11/61el4gsylzl-_sl1100_.jpg" alt="" data-id="5669" class="wp-image-5669" /></figure>
</li>
<li class="blocks-gallery-item">
<figure><img src="{{ site.baseurl }}/assets/img/2016/11/41agn7vhgl.jpg" alt="" data-id="5668" class="wp-image-5668" /></figure>
</li>
<li class="blocks-gallery-item">
<figure><img src="{{ site.baseurl }}/assets/img/2016/11/61m9m3-uxvl-_sl1024_1.jpg" alt="" data-id="5667" class="wp-image-5667" /></figure>
</li>
</ul>
</figure>
<p><!-- /wp:gallery --></p>
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote"><p>싼 맛에 쓰기엔&nbsp;AEC BQ-618, 절대 사지 말아야 할&nbsp;Bluedio T3,<br />쓰면 안 이쁜&nbsp;Syllable G600, 또 산다면&nbsp;<span style="color: #333399;"><strong>Bluedio A(Air)</strong></span></p>
</blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:paragraph --></p>
<p>Bluedio T3는 너무 무겁다.Bluedio A(Air)는 착용감이 좋고 가볍다.Syllable G600을 쓰고 있으면 사람들이 이상하게 보인다고 말한다.&nbsp;AEC BQ-618은 비행기에서 나눠주는 1회용 헤드셋 느낌이 든다.</p>
<p><!-- /wp:paragraph --></p>
