---
layout: post
title: Archer C9
date: 2016-11-22 00:59:35.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '29152471075'
  _thumbnail_id: '5526'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5356"
excerpt: Archer C9 공유기는 가격과 성능을 모두 만족시킬 수 있는 좋은 제품이라고 생각된다. 약간의 발열이 신경쓰이긴 한다.
---
<p><strong>인터넷 공유기</strong></p>
<p>언제부터 공유기를 썼을까. 기억이 잘 나지 않는다. 꼭 기억해야할 이유도 없다.</p>
<p>다만 꽤 오래 전엔 ISP(Internet Service Provider, 인터넷 서비스 제공자)가 인터넷 공유를 허가하지 않았고 심지어 공유하려면 추가 요금을 내라 했던 것 같다. 지금은 이해하기 어려운. 아무튼 그 시절부터 인터넷 공유기를 사용했으니 꽤 오래되었다.</p>
<p>인터넷에 연결된 컴퓨터의 MAC 주소를 복사해서 ISP 모르게 인터넷을 공유할 수 있다는 것은 공유기가 해줄 수 있는 아주 멋진 일이었다.</p>
<p><strong>ipTIME</strong></p>
<p>인터넷 공유의 역사(?)를 함께 했던 제품이 ipTIME 제품들이다. 한국에선 공유기의 대표 브랜드. 그냥 ipTIME 제품을 사면 별 탈 없이 쓸 수 있었다.</p>
<p>언제부터였을까. ipTIME 제품에 대한 신뢰에 금이 가기 시작했던 시점이. 특정 문제 패턴이 체감적으로 자주 발생했는데 어떤 제품부터였는지는 기억에 없다. 예를 들면 구매 후 일정 시간이 지나면 인터넷이 먹통이 되거나 느려지는 문제였다. 그래서 전원을 자주 뽑았다 꽂았는데 짜증이 좀 났다.</p>
<p><strong>D-Link</strong></p>
<p>결국 새로운 공유기를 찾게 되었고 지인 추천으로 <a href="https://www.amazon.com/gp/product/B00CCIL9NU" target="_blank" rel="noopener noreferrer">D-Link DIR-860L</a>을 아마존에서 구매했다. 성능이 참 좋았고 여러가지 면에서 인상적이었다. 그동안 '우물안 개구리였구나' 하는 생각을 했을 정도로.</p>
<p><img class="aligncenter size-medium wp-image-5523" src="{{ site.baseurl }}/assets/img/2016/11/71nsocuncrl-_sl1500_1.jpg?w=156" alt="71nsocuncrl-_sl1500_" width="156" height="300" /></p>
<p>그런데 문제를 하나 발견했다. 국내 IPTV와의 호환성 문제. 특정 시간이 지나면 특정 시간 동안 화면이 멈추었다가 재생되는 문제였다. 확인 결과 국내 정식 출시된 제품은 문제가 없었고 해외 제품에만 문제가 있었다. 결국 국내에선 ipTIME이 진리라는 생각에 지금까지 ipTIME A2004(펌웨어 9.96.8)을 사용해 오고 있다.</p>
<p>그러나 성능에 대한 사람의 욕심이 끝이 없다. 아쉬운 무선 성능. 벽에 벽을 넘었을 때의 답답함이 불편함으로 다가오고 있었다. 그래서 대안으로 Extender를 살까 USB 3.0을 지원하는 무선 랜카드를 살까 고민했고 후자(A2000UA) 선택하고는 다시는ipTIME 제품을 안쓰겠노라 다짐했다. 당연히 환불했고.</p>
<p><strong>ASUS</strong></p>
<p>또 다시 찾은 새로운 대안은 공유기의 전설 ASUS의 RT-AC66U와 RT-AC68U. IPTV 사용에도 문제가 없는 것으로 보이고 성능은 이미 많은 리뷰를 통해 검증된 상태였다. 문제는 역시 가격. 그래서 상대적으로 저렴한 RT-AC66U을 마음을 정했으나 10만원이라는 희망 가격과의 거리감이 좁혀지질 않는다. 그래서 눈팅만 계속하다 눈이 튀어나올 것 같아 포기하고 말았다.</p>
<p><img class="alignnone size-full wp-image-5520" src="{{ site.baseurl }}/assets/img/2016/11/transparent.jpg" alt="transparent" width="850" height="268" /></p>
<p><strong>TP-Link</strong></p>
<p>그러던 와중에 희망 가격에 근접 했던 새로운 모델이 눈에 들어왔으니 TP-Link Archer C9. 사실 ASUS의 대안으로 비교 범위 안에 있던 모델이었는데 10만원 이하에 판다는 소식에 바로 구매했다. 아마 국내에서 인지도가 높지 않고 예상보다 잘 안팔려서 그랬을 것 같다는 추측을 해본다. 아직도 싼 가격에 팔고 있으니 관심있으신 분은 <a href="http://11st.kr/QR/P/1572980070" target="_blank" rel="noopener noreferrer">여기</a>를 방문해 보기 바란다. 남은시간은 4 일이다.</p>
<p><img class="alignnone size-full wp-image-5521" src="{{ site.baseurl }}/assets/img/2016/11/archer-c9-03.jpg" alt="archer-c9-03" width="960" height="720" /></p>
<p>결론,</p>
<p><strong>가격 대비 성능 대 만족</strong> (약간의 발열은 애교)</p>
