---
layout: post
title: 3만원으로 배운 것
date: 2016-11-26 15:39:06.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _publicize_job_id: '29317274462'
  _thumbnail_id: '5535'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5536"
excerpt: Nano SIM Card Adapter를 사용할 때 주의하지 않으면 SIM Card Slot 핀이 부러질 수 있다.
---
<p><!-- wp:paragraph --></p>
<p>다양한 휴대폰을 사용하기 위해 Nano SIM을 선택하고&nbsp;Nano SIM Card Adapter를 구매했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":5534} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2016/11/2016-nano-sim-card-adapter-4-in-1-micro-sim-adapter-with-eject-pin-key-retail.jpg" alt="2016-nano-sim-card-adapter-4-in-1-micro-sim-adapter-with-eject-pin-key-retail" class="wp-image-5534" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>큰 문제가 없을 것이라고 생각했는데 휴대폰이 SIM을 인식하지 못하는 문제가 발생했다. 휴대폰의 SIM Card Slot이 고장났다. 정확히는 핀이 부러졌다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":5535} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2016/11/20161126_151439.jpg" alt="20161126_151439" class="wp-image-5535" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>3만원 정도 수리비로 고치긴 했는데 메인보드 일체형의 경우에는 비용이 더 비싸다고 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>3만원으로 배운 것은 SIM&nbsp;Adapter를 사용할 때는 주의해야 한다는 사실. 특히&nbsp;Adapter와 SIM이 잘 떨어지는 경우에는 테이프(양면)를 사용해서 잘 고정시키고 사용해야 한다는 점! 잊지말자.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>테두리형 Adapter는 더 조심해야 한다는 의견도 있다.</p>
<p><!-- /wp:paragraph --></p>
