---
layout: post
title: 대한민국 커뮤니티데이 참석 후기
date: 2016-01-26 01:22:13.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '19110318433'
  _thumbnail_id: '3843'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/4853"
excerpt: '커뮤니티는 도움과 재미를 주는 부담없는 장이 되어야 하고 그것을 유지하는 그릇과 같은 사람들이 필요하다는 것이다. '
---
<p><!-- wp:paragraph --></p>
<p>커뮤니티가 중요하다는 사실은 알고 있다. 막연하게나마.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>SW 분야에 일하면서 여러 커뮤니티로 부터 도움을 받았고 커뮤니티가 주최하는 다양한 행사에 참여하며 동기를 얻었던 기억이 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근 개인적으로도 변화가 있었다. 회사 내 SW 아키텍트 커뮤니티의 참여자에서 책임자로 역할이 바뀐 것이다. 당연하게 생각이 많아지는 현상이 발생한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그러던 와중에&nbsp;http://kcd2015.onoffmix.com를 접하게 되었고 아래와 같은 주제에 강한 관심이 생겼다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">주제: '커뮤니티란 무엇인가', '커뮤니티가 왜 중요한가'와 같은 커뮤니티 본질에 대하여 알고 참여하고 소통하는 축제의 장</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>결론부터 말하자면 기대했던 원하는 답은 얻지 못했다. 기대가 컸던 것 같고 큰 것을 얻으려는 욕심이 컸던 것 같다. 하지만 몇 가지 의미있는 힌트를 얻어왔다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">커뮤니티는 참여자에게 도움이 되고 재미를 주어야 한다. 도움과 재미는 참여자로 하여금 자연스러운 동기를 유발하고 기여자가 되게 한다. &lt;도움+재미></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>너무 쉽고 당연한 말이다. 하지만 어떻게 도움이 될 것인가? 어떻게 재미를 줄 것 인가?라는 질문을 던지면 그리 쉽지는 않다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">커뮤니티는 우리 동네같은 곳이다. 너와 나의 연결 고리이며 아무나 들어와서 놀 수 있는 곳이다. 그곳엔 부담이란 존재하지 않는다. &lt;부담 없는 장></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사람들의 연결 고리가 생긴 곳에 아무나 들어와 부담없이 놀 수 있을까? 연결고리 없던 내가 이 행사에 참여하면서 느낀 어색함과 낯섬은 쉽게 극복할 수 있는 문제가 아니다. 그럼에도 불구하고 커뮤니티는 새로운 참여자가 부담없이 들어올 수 있도록 열려있는 것이 필요하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">커뮤니티를 운영하는 것은 컵과 같은 역할을 하는 것이다. 물을 담을 수 있는 그릇의 역할. 누군가의 노력과 희생, 봉사가 필요하다. &lt;그릇의 역할></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>컵의 역할에 대해 무척이나 공감한다. 쉽게 잊혀지는, 잘 알려지지 않는, 잘 보이지 않는 역할이다. 그러나 없으면 안된다. 문득 든 생각은 종이컵 보다는 귀한 그릇이 되는 것이 필요하겠다는 생각이 스쳐지나갔다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>결론,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>커뮤니티는 도움과 재미를 주는 부담없는 장이 되어야 하고 그것을 유지하는 그릇과 같은 사람들이 필요하다는 것이다. 역시 새롭지 않치만 어려운 것이다. -끝-</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":4904} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2016/01/20160123_111005.jpg" alt="20160123_111005" class="wp-image-4904" /></figure>
<p><!-- /wp:image --></p>
