---
layout: post
title: 변명
date: 2016-10-15 00:47:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '27842269554'
  _thumbnail_id: '5334'
  _oembed_7829ddb7b0ab1dd1b545260f51209477: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5295"
---
<p>#1</p>
<p>경험해 보지 못한 혹은 잘 알지 못하는 내용에 대한 검토 및 의견을 요청 받았을 때,</p>
<p>예전에는 빨리 알아보고 혹은 공부해서 대응했던 젊음이 있었다면</p>
<p>지금은 더 잘 아는 사람에게 혹은 그 내용에 대해 경험이 많은 사람에게 위임하는 늙음이 있는 것 같다.</p>
<p>누군가에게는 그것이 자신감 없음으로 혹은 무기력으로 느껴지기도 하는 것 같다.</p>
<p>공감할 수는 있다.</p>
<p>아주 오래 전 우리 팀이 새로운 기술을 맡았을 때 우리 팀의 리더가 그랬다. 나는 거기에 불만을 가졌고 화가 났었다.</p>
<p>#2</p>
<p>어떤 회의에서 두 사람이 비슷한 주제에 대해 발표를 했다. 적용된 제품은 다르지만 동일한 분야이며 기술이었다. 심지어 해결하고자 하는 문제도 동일 했고.</p>
<p>두 분의 대화를 듣고 있자니 특정 분야에 대한 오랜 경험에 무게감이 느껴졌다.</p>
<p>그래서 나는 #1에서 언급한 주제에 대해 늙음에 무게를 두고 싶다.</p>
<p>작은 지식과 경험의 범위에서 무엇가에 대해서 확신하거나 단정짓는 것이 불편하다.<br />
(물론 불편한 행동을 내가 안한다는 것은 아니다.)</p>
<p>#3</p>
<p>점점 시원 시원해지지 못하는 것 같다. 의사 결정도 업무 추진력도.</p>
<p>이른 나이에 핸드폰을 멀리 보게 되고 피로감에 허우적거리는 저질 체력도 1+1.</p>
<p>Early Adapter라고 불리우던 내가 아니었는가.</p>
<p>오늘 내 휴대폰에 알 수 없는 현상이 나타났다. 의문이 가득한 순간 후배가 한 방에 해결해 주었다.</p>
<p>아! 내 머리 위로 느낌표가 딱!</p>
<p>누가 이 글을 읽으면 환갑 쯤 된 어르신으로 알겠다.</p>
<p>-끝-</p>
