---
layout: post
title: 최대 절전 모드 끄기
date: 2016-10-08 23:35:27.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '27639277388'
  _thumbnail_id: '5255'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5243"
---
<p><!-- wp:paragraph --></p>
<p>초등학교에 올라간 딸이 컴퓨터를 배우고 싶다 해서 일체형을 사줄까 미니PC를 사줄까 고민하다가 아내의 노트북을 활용하기로 했다. 아내의 노트북은 Lenovo S405, 가격 대비 성능을 고려해서 오래 전에 샀던 모델이고 개인적으로는 맘에 들지 않는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>1. 아무리 그래도 느린 것은 견디기 힘들어, SSD 업그레이드</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>메모리를 늘리는 것도 필요하겠지만 ROI(Return on investment)가 가장 좋은 것이 SSD 교체다. 경험적 진리다. 집에 있는 Mac Mini도 그 효과를 봤고 회사에서 사용하고 있는 노트북도 SSD 모델이라 확실하다. 당연히 기존에 있는 HDD를 교체할 생각을 했다. 그런데 mSATA라는 방식으로 아주 쉽게 추가할 수 있는 방법이 있었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":5261} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2016/10/msata.png" alt="msata" class="wp-image-5261" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>역시 SSD는 삼성이라는 것도 진리. 120G는 7만원선에서 구입이 가능하다. S405, mSATA로 검색해 보면 설치 방법도 쉽게 찾아 볼 수 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>2. 다 좋은데 왜 Sleep에서 깨어나지 않는 걸까?</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>윈도우 10을 설치하고 1주년 기념 Upgrade도 끝냈더니 빠릿 빠릿할 뿐 아니라 아주 맘에 든다. 노트북을 화면을 함께 사용할 생각이 없기 때문에 뚜껑을 닫고 세워서 데스크탑 역할을 주었다. 좋은 모니터에 연결해서 그런지 몰라도 아주 훌륭하다. 문제는 Sleep에 들어가서 일정 시간이 지나면 무선으로 연결한 키보드 혹은 마우스로는 깨어나지 않는다. 아주 깊은 잠에 들었는지 뚜껑을 열고 다시 전원 키를 눌러야 한다. 아! 뚜껑을 열고 닫고 너무 불편!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그것은 바로 바로 "최대 절전 모드" 혹은 "hibernate" 때문이었다. 이 녀석을 사용하지 않으면 외부에 연결된 키보드 혹은 마우스로 깨어난다. 관련 내용은 검색해 보시면 많이 나오니 생략하고.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>관리자 권한의 DOS창에서 아래와 같이 입력하면 끝!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:code --></p>
<pre class="wp-block-code"><code>powercfg /h off</code></pre>
<p><!-- /wp:code --></p>
<p><!-- wp:paragraph --></p>
<p>이렇게 사이다 처럼 시원한 순간이...&nbsp;추가 parameter가 꽤 많은 듯 하나 "powercfg /a"를 사용하여 설정을 확인하는 정도면 되겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>3. One more thing.</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사용 중에 마치 누가 내 마우스를 사용하는 것과 같이 마우스 포인터가 마음대로 움직이는 경우가 발생! 이게 무슨 일일까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>누군가 PC에 들어와서 정말 Remote Desktop을 사용하듯 원격 제어하고 있는 것일까? 그럴리가 이제 막 윈도우 클린 설치하고 특별히 한 것이 없는데...</li>
<li>동일한 키보드와 마우스를 아래 층 혹은 위 층 누군가가 사용하고 있어서 일종의 간섭? 그런 걸일까? 간섭이...</li>
<li>정확하지는 않는데 USB 3.0 포트에 무선 마우스, 키보드 수신기를 달면 동작을 멈추거나 하는 일이 있다는데...</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>약간의 의문이 남아 있지만 만족스럽게 마무리가 되었다.</p>
<p><!-- /wp:paragraph --></p>
