---
layout: post
title: Steve Jobs, 2015
date: 2016-02-23 01:45:49.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '20063581193'
  _thumbnail_id: '5063'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5062"
---
<p><img class="alignnone size-full wp-image-5063" src="{{ site.baseurl }}/assets/img/2016/02/stevejobs.jpg" alt="SteveJobs" width="640" height="427" /></p>
<p>재밌다. 찾아보니 실제와는 차이가 큰 것 같다.</p>
<ul>
<li>Steve Jobs역을 맡은 Michael Fassbender(마이클 패스벤더)가 김창옥 대표와 닮은 것 같다.</li>
<li>Kate Winslet(케이트 윈슬렛) 연기했던 Joanna Hoffman이 맘에 든다. 내게도 이런 동료가 있으면 좋겠다.</li>
<li>Apple 제품에 영감을 주는 듯 연상되는 장면들이 재미를 준다.</li>
<li>LISA의 존재가 영화 전반에 걸쳐 특별한 감정선을 만들어 낸다.</li>
</ul>
<p>Steve Jobs가 그립다.</p>
