---
layout: post
title: 영향력
date: 2017-06-15 00:12:34.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  _edit_last: '1'
  original_post_id: '80'
  _wp_old_slug: '80'
  _thumbnail_id: '6008'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6080"
---
<p>대학교 1학년 여름, 좋아하는 사람들과 함께 떠났던 여행이 기억납니다. 저녁이 되면 오손도손 모여 앉아 다양한 이야기 꽃을 피웠습니다.</p>
<p>누군가 제게 물었습니다. "어떤 사람이 되고 싶으세요?"</p>
<p>갑작스러운 질문에 머뭇거림없이 답했던 기억이 납니다. "누군가에게 선한 영향을 미치는 사람이 되고 싶어요."라고.</p>
<p>평소에 제가 그렇게 생각하고 있었던 것인지 혹은 나도 누군가에게 주어 들은 말인지 기억이 나지는 않습니다. 하지만 그 말을 한 순간부터는 내가 했던 말로 기억되기 시작했습니다.</p>
<p>오늘은 문득 그런 생각이 들었습니다. 시간이 흐르면서 내가 좋은 영향을 미치고 살고 있는지를 어떻게 알 수 있을까.</p>
<p>회사에서 한 친구가 퇴사를 하면서 메일을 보냈습니다. 나를 기억해 주어서 무척이나 고마웠습니다. 그 친구가 퇴사한 다음 날 소식을 하나 받았습니다. 초대장이었습니다.</p>
<p>퇴사한 친구의 주변 지인들이 마련한 파티 초대장이었습니다. 퇴사의 아쉬움을 달래는 모임이죠. 초대장은 영화 포스터를 패러디해서 만들었습니다. 부럽기도 하고 멋지다는 생각이 들었습니다.</p>
<p>[caption id="attachment_81" align="aligncenter" width="960"]<img class="wp-image-81 size-full" src="{{ site.baseurl }}/assets/img/2017/06/kakaotalk_photo_2017-06-15-00-09-11.jpeg" alt="" width="960" height="523" /> 허락없이 공유하면 안될 것 같은데...[/caption]</p>
<p>내가 좋은 영향력을 미치고 살고 있다면 다양한 형태의 의미있는 사건들이 일어나야 한다고 생각합니다. 지금 바로 생각나는 일들이 없는 것으로 보아 아직은 아닌가 봅니다.</p>
<p>아직 아니라면 앞으로는 나타날 수도 있겠죠. 여러분에게도 나에게도.</p>
