---
layout: post
title: 걱정통
date: 2017-09-15 23:53:49.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_pending: '1'
  _edit_last: '1'
  original_post_id: '325'
  _wp_old_slug: '325'
  _thumbnail_id: '6022'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/325"
---
<p><!-- wp:paragraph --></p>
<p>저는 걱정을 많이 하는 사람입니다. 쓸데없는 걱정임을 알면서도 걱정합니다. 걱정은 사람을 피곤하게 만들죠. 그런 저에게 도움이 되었던 방법을 하나 소개합니다. 이 방법이 만병통치약은 아니지만 나름대로 효과가 있습니다.&nbsp;바로 '걱정통'을 사용하는 겁니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>걱정이 생기면 종이에 적습니다. 그리고 그 종이를 통에 넣습니다. 통의 이름이 '걱정통'입니다. 그리고 통에 넣었으니 '나중에 꺼내서 걱정하자' 생각합니다. '걱정하지 말자'가 아니라 '조금 이따가 걱정하자'입니다. 여기까지만 해도 효과가 있습니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>통이 없다면 '걱정노트'를 하나 만들어도 됩니다. 저는 손바닥 크기의 작은 노트를 하나 사서 거기에 적습니다. 그리고 나중에 열어봅니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;<a href="http://www.yes24.com/24/Goods/11120499" target="_blank" rel="noopener noreferrer">감정은 습관이다</a>&gt;라는 책에 비슷한 내용이 나옵니다. 책 5장에 가면 &lt;걱정은 '걱정하는 시간'에 몰아서 하기&gt;라는 제목의 글이 있습니다. 이 글에서 저자는 걱정을 몰아서 해볼 것을 추천합니다. 걱정통을 사용하는 방법과 똑같습니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>저와 같이 걱정이 많으시면 꼭 해 보시길 바랍니다.&nbsp;마음이 조금 편해지고 걱정에 대한 느낌이 평소와 조금 달라지길 기대합니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참, 걱정 인형 기억하시나요? 갑자기 생각나네요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":352} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2017/09/1080.jpg" alt="" class="wp-image-352" /></figure>
</div>
<p><!-- /wp:image --></p>
