---
layout: post
title: 무엇에 행복을 느끼나요?
date: 2017-12-19 00:26:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  original_post_id: '444'
  _wp_old_slug: '444'
  _thumbnail_id: '6013'
  _publicize_job_id: '16909667665'
  _oembed_23d41d6d8c286feaaf6e0a9d60ba6a46: <iframe title="[347회] 놓지 않는 피곤한 삶 / 김창옥의
    포프리쇼 / 교보 강연 최고의 휴식" width="580" height="326" src="https://www.youtube.com/embed/D7jCy6ejBCs?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_23d41d6d8c286feaaf6e0a9d60ba6a46: '1589293620'
  _oembed_3890d9ad7912f3f537e268468d091ced: "{{unknown}}"
  _oembed_8bae1b9fc7b08d0e3b4434bf0200e5b8: <iframe title="[347회] 놓지 않는 피곤한 삶 / 김창옥의
    포프리쇼 / 교보 강연 최고의 휴식" width="500" height="281" src="https://www.youtube.com/embed/D7jCy6ejBCs?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_8bae1b9fc7b08d0e3b4434bf0200e5b8: '1697866211'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6552"
---
<p>페이스북 왼쪽에는 자기 자신을 소개하는 공간이 있습니다. 저는 입력을 하지 않았습니다. 페이스북은 입력하라고 질문을 던집니다.</p>
<blockquote><p>좌우명은 무엇인가요? 좋아하는 음식은 무엇인가요? 취미가 무엇인가요? 가보고 싶은 곳은 어디인가요? 무엇에 행복을 느끼나요?</p></blockquote>
<p>질문들을 흘려보내다가 멈칫할 때가 있습니다. "무엇에 행복을 느끼나요?"라는 질문을 받았을 때입니다.</p>
<p>이 질문에 쉽게 답을 하지 못해 답답함을 느낍니다. 내가 좋아하는 것이 무엇인지, 내가 무얼 할 때 행복한지 잘 모릅니다.</p>
<p>영화를 볼 때, 정리할 때, 나의 말에 사람들이 재밌어할 때 행복해하는 것 같습니다. 하지만 다른 뭔가가 있지 않을까 기대합니다.</p>
<blockquote><p>사람은 자기가 가장 좋아하는 것을 할 때 그게 진정으로 쉬는 거예요. - 故 앙드레김</p></blockquote>
<p>오늘도 이 질문에 잠시 멈추었습니다. 그리고 다시금 생각해 봅니다. 나는 지금 무엇에 행복을 느끼고 있는가.</p>
<p>[embed]https://www.youtube.com/watch?v=D7jCy6ejBCs[/embed]</p>
