---
layout: post
title: 지금행복
date: 2017-10-12 01:24:55.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _edit_last: '1'
  original_post_id: '388'
  _wp_old_slug: '388'
  _publicize_job_id: '16909564706'
  _thumbnail_id: '6014'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6547"
---
<p><img class="size-full wp-image-389 alignnone" src="{{ site.baseurl }}/assets/img/2017/10/12e08a8103e1f96e0aea3518c9437204-backpacking-packs-traveling-europe.jpg" alt="" width="236" height="236" /></p>
<p>오래된 기억 속에 파란색 캠핑 가방이 생각납니다.</p>
<p>그 가방에는 한번도 사용하지 않은 캠핑 용품들이 들어있었습니다.</p>
<p>아버지는 나중을 위해 캠핑 용품을 하나씩 장만하신 듯 합니다.</p>
<p>아버지는 그 파란색 캠핑 가방을 한번도 써보지 못하고 돌아가셨습니다.</p>
<p>나중으로 미룬 행복은 없는 것 같습니다.</p>
<p>지금, 지금과 가까운 시간의 행복에 관심이 필요해 보입니다. 미루지 말고요.</p>
