---
layout: post
title: Apple Special Event
date: 2018-10-31 00:11:45.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  _thumbnail_id: '6819'
  timeline_notification: '1540912307'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '23743163751'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6818"
---
<p>아직도 애플 이벤트가 궁금하긴 한가보다. 생방송을 보겠다고 사파리를 열고 기다리고 있는 것을 보니 말이다.</p>
<p>시작했다. 다양한 애플로고, 내가 방문해본 곳들이 보인다. 이벤트를 보면서 인상적인 것만 메모하고 자자.</p>
<p>그나저나 팀쿡 아저씨 목소리가 쉬었다.</p>
<p>■ 새로운 맥북에어가 나왔다. 더(17%) 작아졌다. 근데 발표자가 발표를 잘하지 못한다.</p>
<p><img class="alignnone size-full wp-image-6820" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-30-e1848be185a9e18492e185ae-11-13-35.png" alt="스크린샷 2018-10-30 오후 11.13.35.png" width="1097" height="610" /></p>
<p>■ 앗! 맥미니가 새로 나왔다. 오호! 검은색이다. 가격은 $799에서 시작한다.</p>
<p><img class="alignnone size-full wp-image-6821" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-30-e1848be185a9e18492e185ae-11-27-24.png" alt="스크린샷 2018-10-30 오후 11.27.24.png" width="1097" height="610" /></p>
<p>■ 애플이 애플스토어를 중심으로 제공하는 다양한 세션을 소개한다. 전 세계적으로 1800개 정도가 있고 오늘 60개를 새롭게 추가했다. 그나저나 오늘 박수와 함성이 평소보다 크다.</p>
<p><img class="alignnone size-full wp-image-6822" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-30-e1848be185a9e18492e185ae-11-39-07.png" alt="스크린샷 2018-10-30 오후 11.39.07.png" width="1097" height="610" /></p>
<p>■ 새로운 아이패드 프로가 나왔다. 유출된 거랑 비슷하다. 애플펜슬이 아이패드에 붙는다. 충전도 되면 좋겠다. 1000배 좋아진 그래픽 성능, 1TB 저장 공간, 앗! 애플펜슬! 무선 충전이 된다.</p>
<p><img class="alignnone size-full wp-image-6823" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-30-e1848be185a9e18492e185ae-11-46-17.png" alt="스크린샷 2018-10-30 오후 11.46.17" width="1086" height="623" /></p>
<p><img class="alignnone size-full wp-image-6824" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-30-e1848be185a9e18492e185ae-11-56-28.png" alt="스크린샷 2018-10-30 오후 11.56.28.png" width="1110" height="623" /></p>
<p>■ 환상적인 앱과 게임. 이번에 소개된 게임은 농구게임이다. 아이패드 그래픽 성능을 자랑하기에 충분해 보인다. Adobe에서 Photoshop 시연도 한다. 애플펜슬의 터치 기능도 사용한다. 오매. AR 기능까지 시연한다.</p>
<p><img class="전체 전체 크기 wp-image-6825 크기 alignnone" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-31-e1848be185a9e1848ce185a5e186ab-12-03-44.png" alt="스크린샷 2018-10-31 오전 12.03.44.png" /></p>
<p><img class="alignnone size-full wp-image-6826" src="{{ site.baseurl }}/assets/img/2018/10/e18489e185b3e1848fe185b3e18485e185b5e186abe18489e185a3e186ba-2018-10-31-e1848be185a9e1848ce185a5e186ab-12-07-18.png" alt="스크린샷 2018-10-31 오전 12.07.18.png" width="1110" height="623" /></p>
<blockquote><p>새로운 맥북에어, 업그레이드된 맥미니, 완벽해진 아이패드 프로와 애플펜슬!</p></blockquote>
<p>이벤트가 아직 끝나지 않았는데 내일 출장도 가야 하니 자야겠다. 더 새로운 내용은 없을 것 같다.</p>
