---
layout: post
title: 와이즐리 면도기
date: 2018-10-26 23:13:06.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _thumbnail_id: '6810'
  timeline_notification: '1540563189'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '23609006710'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6809"
---
<p>와이즐리(https://wiselyshave.com) 면도기를 하나 샀다.</p>
<ul>
<li>좋아하고 잘 사용하던 면도날(질레트 퓨전)을 구매해야 하는데 가격이 너무 비싼 것 같아서 주춤하고 있었다. 부담스러워서 면도기를 바꿀까 고민 중이었다.</li>
<li>안경 시장에서 돌풍을 일으킨 와비파커(Warby Parker, https://www.warbyparker.com)가 생각나서 써보고 싶었다. 스타트업 제품이라 호기심도 있었다.</li>
</ul>
<p><img class="aligncenter size-full wp-image-6811" src="{{ site.baseurl }}/assets/img/2018/10/change1.jpg" alt="change1.jpg" width="451" height="451" /></p>
<p>첫 느낌을 간단히 적어보면,</p>
<ul>
<li>뭐랄까 약간의 무게감이 있었다. 좋은 의미이다.</li>
<li>기존에 익숙하게 사용하던 면도기와 느낌이 다르다 보니 어색했다.</li>
</ul>
<p>어색함에 대하여 좀 더 자세히 적어보면</p>
<ul>
<li>기존에 사용하던 면도기, 질레트 퓨전은 '쓱싹쓱삭' 수염이 잘 잘려나간다는 느낌이 좀 있었다. 역시 면도기는 질레트라는 충성심은 여기서 시작했다.</li>
<li>와이즐리 면도기는 수염이 잘 잘려나가긴 한 것 같은데 '쓱싹쓱삭' 느낌이 아니라 '스으윽'하는 느낌이다. 기존에 익숙함 때문인지 뭔가 어색했다. 그래서 '좋다', '굿'이라고 말하기 어려웠다.</li>
</ul>
<p>결론,</p>
<p>더 사용해 보고 판단해 봐야겠다.</p>
<p>희망 사항은 내 인생 면도기의 면도날이 가격이 확! 떨어질 날이 왔으면 좋겠다.</p>
<p><img class=" size-full wp-image-6812 aligncenter" src="{{ site.baseurl }}/assets/img/2018/10/14-gillette-fusion-manual-razor-sm.jpg" alt="14-gillette-fusion-manual-razor-sm.jpg" width="114" height="280" /></p>
<p>&nbsp;</p>
