---
layout: post
title: 그림 그리기 12주
date: 2018-06-13 01:32:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 그림
tags: []
meta:
  _publicize_job_id: '18891797520'
  _thumbnail_id: '6688'
  timeline_notification: '1528821126'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6671"
---
<p><!-- wp:paragraph --></p>
<p><a href="http://bomchoon.kr/2012/06/22/%eb%8a%99%ec%96%b4%ea%b0%80%eb%a9%b4%ec%84%9c-%eb%ac%b4%ec%97%87%ec%9d%84-%ec%9d%bd%ea%b3%a0-%ec%93%b0%ea%b3%a0-%ea%b7%b8%eb%a0%a4%ec%95%bc-%ed%95%98%eb%8a%94%ea%b0%80/" target="_blank" rel="noopener noreferrer">늙어가면서 무엇을 읽고 쓰고 그려야 하는가?</a>&nbsp;에서 인용했던 말을 다시 적어 본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">계속 읽고, 쓰고, 그리도록 하세요.<br />- 앤서니 브라운 (Anthony Edward Tudor Browne)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>짬을 내서 계속 그리기를 시도해 본 것 같다. 잘하고 못하고보다는 완성했는지를 중요하게 생각하도록 연습했다. 물론 아쉬움은 계속 함께했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>12주라는 시간이 참 빠르게 지나간 것 같다. 그림 그리기라는 경험을 얻었다. 좋은 취미를 하나 발견했다. 짬을 내서 지속할 수 있을 것 같다. 먼 미래에 어떤 그림을 그리게 될지 모르겠지만 그림을 보며 나와 주변이 흐뭇해졌으면 좋겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6685} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/06/scan00002.jpg" alt="SCAN0000.jpg" class="wp-image-6685" /></figure>
<p><!-- /wp:image --></p>
