---
layout: post
title: 기년회 2018
date: 2018-12-31 10:14:05.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회고
tags:
- 기년회
meta:
  _thumbnail_id: '6887'
  _publicize_job_id: '26013800317'
  timeline_notification: '1546218849'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6889"
---
<p><!-- wp:paragraph --></p>
<p>서로 다른 장소에서 일하던 지인들이 홍대 근처에 모였다. 한 해를 마감하는 기년회 모임을 위해서다. 지속되고 있는 힘의 원천이 궁금하다. 서로에게 유익하고 재밌기 때문에 지속되는 것 같다. 역시 각기 다른 삶에서 보여주는 이야깃거리와 통찰을 경험했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사람마다 준비하는 스타일이 다르다. 공통점은 모임 전에 개인 시간을 확보해서 한 해를 돌아본다. 그 내용을 요약해서 5분 이내로 공유할 수 있는 자료를 준비한다는 점이다. 기년회 모임에서는 그 내용을 공유하고 서로 반응한다. 그 반응이 기년회의 핵심이다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나는 이번 회고를 준비하면서 회고를 위한 양식을 고민했다. 다른 분의 도움으로 아래와 같은 구조로 한 해를 돌아보았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6891} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/12/r_frame.jpeg" alt="" class="wp-image-6891" /><br />
<figcaption class="wp-element-caption">기년회 2018에 사용했던 회고 프레임워크</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>가족, 취미, 도전의 영역에서는 좋았던 일들이 많았다. 아마도 평생 취미로 그림을 시작했던 것이 의미가 있었던 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>직업, 건강, 재정의 영역은 아쉬움이 있다. 뱃살을 빼고자 했던 프로젝트에 참여했다가 초반에 실패했던 일이 생각난다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>성장과 정신의 영역은 고민이 많았다. 변화와 성장에 대해 간절히 바라고 있지만 마음 같지 않았다. 그래서 이번 기년회 발표 주제를 갈망渴望으로 정했다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>2019년이 온다. 또 다른 시작을 위해 준비할 수 있는 한 해가 되기를 기대한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6893} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/12/end2018start2019-1.jpeg?w=720" alt="" class="wp-image-6893" /></figure>
<p><!-- /wp:image --></p>
