---
layout: post
title: 비교로 2행시를 만들면
date: 2018-09-11 23:13:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  timeline_notification: '1536675233'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '22029308688'
  _oembed_4b276576df868502f2b1995bf0cb7376: "{{unknown}}"
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '7490'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6772"
---
<p><!-- wp:paragraph --></p>
<p>2019년 6월 즈음, '완벽한 공부법'의 저작권 침해 논란(<a rel="noreferrer noopener" href="http://imnews.imbc.com/replay/2019/nwdesk/article/5401839_24634.html" target="_blank">좋은 구절은 다 모아서…'오려 붙인' 베스트셀러?</a>)을 보면서 예전에 썼던 이 글을 지울까 하다가 그냥 놔둔다. (동영상 링크, 저자 사진은 삭제했다)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>처음에 나는 '완벽한 공부법'을 읽으면서 이런 생각을 했었다. "다른 좋은 책에서 나온 내용 혹은 원리들을 잘 정리한 책이다." </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>당시 나는, 이 부분을 심각하게 생각하지 않았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>인기를 끌 던 신씨의 '개념 주례사' 동영상을 보면서도 뭔가 불편하긴 했지만 아래 언급한 비교 관련 내용에 공감도 했다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>저 사람과 관련된 동영상을 찾아보고 팟캐스트를 들은 적도 있었다. 듣다보면 뭔가 내가 잘못하는 것 같고 혼나는 것 같은 느낌을 주기 때문에 불편했다. 하지만 베스트 셀러의 저자이기도 하고 기타 등등의 이유로 비판하지는 못했다.  </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'빅보카(BIGVOCA)'도 구매 했다. 나중에 쓰레기통에 버렸다. (참고: <a rel="noreferrer noopener" href="https://www.dogamdan.org/" target="_blank">도서사기감시단</a>)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝&gt;</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:separator --></p>
<hr class="wp-block-separator" />
<!-- /wp:separator --></p>
<p><!-- wp:paragraph --></p>
<p>'완벽한 공부법'을 오래전에 읽었다. 내용은 기억나지 않는다. 하지만 꼭 다시 읽어야지 생각했던 책이다. 이 책의 저자가 저분이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>개인적으로 2행시가 마음에&nbsp;꽂혔다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><strong>비</strong>참해지거나,</li>
<li><strong>교</strong>만해집니다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>기억하자.</p>
<p><!-- /wp:paragraph --></p>
