---
layout: post
title: 바이올렛 에버가든
date: 2018-06-13 13:33:31.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _rest_api_published: '1'
  timeline_notification: '1528864414'
  _thumbnail_id: '6691'
  _rest_api_client_id: "-1"
  _publicize_job_id: '18909576429'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6690"
---
<p><img class="alignnone size-full wp-image-6693" src="{{ site.baseurl }}/assets/img/2018/06/keyvisual-1.jpg" alt="keyvisual-1.jpg" width="1920" height="1411" /></p>
<p>나를 울렸다. 최고의 애니였다.</p>
<ul>
<li><a href="https://namu.wiki/w/%EB%B0%94%EC%9D%B4%EC%98%AC%EB%A0%9B%20%EC%97%90%EB%B2%84%EA%B0%80%EB%93%A0/%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98" target="_blank" rel="noopener noreferrer">나무위키</a></li>
<li><a href="http://violet-evergarden.jp/" target="_blank" rel="noopener noreferrer">공식 홈페이지</a></li>
<li><a href="https://www.netflix.com/title/80182123" target="_blank" rel="noopener noreferrer">네플릭스</a></li>
</ul>
<p>&nbsp;</p>
