---
layout: post
title: 아트토이컬쳐2018
date: 2018-05-12 17:50:49.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _oembed_d6fd367573810bb4397efb130fbc6313: "{{unknown}}"
  _oembed_5477c73003a13136482d7e399908e46e: "{{unknown}}"
  _oembed_f68bcc45e58dc43bdb600b9bec23720e: "{{unknown}}"
  _rest_api_published: '1'
  _oembed_ca8c7f2c9c1bd7937582c2d7d88ad2dd: "{{unknown}}"
  _rest_api_client_id: "-1"
  _thumbnail_id: '6638'
  _publicize_job_id: '17764164504'
  timeline_notification: '1526115057'
  _oembed_aca7cdcd320baa5eefaec3b6acfd612f: "{{unknown}}"
  _oembed_ed6e898ce3cb2df7921d2935f3fcb351: "{{unknown}}"
  _oembed_98518492c88f0e03bfc75a2210904dd5: "{{unknown}}"
  _oembed_fbd270ac899e398910ff8684dbec2c47: "{{unknown}}"
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _oembed_b781bc4136d8975ead2fed4e1744024e: "{{unknown}}"
  _oembed_0f6580e53ec18c719833b89eca01a3b3: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6634"
---
<p><!-- wp:paragraph --></p>
<p>호기심에 가봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6635} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/05/egg_50c1a44591b244dd923a25b7e5a2a65a.jpg" alt="egg_50c1a44591b244dd923a25b7e5a2a65a.jpg" class="wp-image-6635" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>두근두근, 내 심장이 반응해서 좀 놀랬다. 흐뭇했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>2가지 기억을 적어보려고 한다. 아티스트에게서 들었던 말이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>1. 가장 많이 받는 질문</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>가장 많이 받는 질문이 "어떻게 만들어요?"라고 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">어떻게 만드느냐보다 뭘 만들려고 하는가에 더 많은 고민을 한다.<br />물론 시작은 어떻게 만드는지에 대한 흥미에서 시작하지만, 시간이 흐를수록 어떻게 보다는 무엇에 더 많은 시간을 보낸다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>2. 자신 만의 이야기</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사람들이 그냥 스쳐 지나갈 만한 작은 작품 하나에도 예술가의 이야기와 섬세함이 묻어있다. 어떤 모형인형(figure, 피겨) 귀여워서 지켜보는데 만드신 분이 다가와 이야기를 들려주신다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">이 친구는요. 배가 몹시 고픈 거에요. 그래서 이렇게 앉아서 빈 밥통을 ...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내년 행사에도 가보게 될 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>http://www.arttoyculture.com/</p>
<p><!-- /wp:paragraph --></p>
