---
layout: post
title: 기묘한 이야기
date: 2018-01-10 00:18:53.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '13392529512'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7495'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/5975"
---
<p><!-- wp:paragraph --></p>
<p>드라마에 대한 정보는 <a href="https://namu.wiki/w/%EA%B8%B0%EB%AC%98%ED%95%9C%20%EC%9D%B4%EC%95%BC%EA%B8%B0(%EB%AF%B8%EA%B5%AD%20%EB%93%9C%EB%9D%BC%EB%A7%88)" target="_blank" rel="noopener noreferrer">나무위키</a>를 참조하는 것이 좋겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>개인적인 평을 하자면,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>재밌다. 흥미롭다.</li>
<li>다양한 요소들이 섞여있다.</li>
<li>의외로 무섭다.</li>
<li>구니스와 같이 아이들의 모험담은 내 취향은 아니다.</li>
<li>시즌3이 기다려진다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"align":"center","id":5976} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2018/01/22785c53d4fba349e02f8a8a30d902252473a02c257b9c5fbfc2a4f0de0eeb37193570cfb901dfe32ca41a89b870e11039391b870b8fcc306d5d4b427888778b08626d48e58dcbc4c29728ca566cf15c.jpg" alt="22785c53d4fba349e02f8a8a30d902252473a02c257b9c5fbfc2a4f0de0eeb37193570cfb901dfe32ca41a89b870e11039391b870b8fcc306d5d4b427888778b08626d48e58dcbc4c29728ca566cf15c" class="wp-image-5976" /></figure>
</div>
<p><!-- /wp:image --></p>
