---
layout: post
title: 완성을 하자
date: 2018-05-04 00:39:16.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 그림
tags: []
meta:
  timeline_notification: '1525361962'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _thumbnail_id: '6632'
  _publicize_job_id: '17449075963'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6630"
---
<p>그림 선생님께서 해주신 말씀이 있다.</p>
<blockquote><p>잘하고 못하고가 중요한 것이 아니라 완성했나 안했느냐가 중요한 것이다.</p></blockquote>
<p>그림을 이제 막 시작했기 때문에 조금 그리다 보면 자주 실망한다. 못한 것에 대한 아쉬움 같은. 그래서 다시 그리고 싶다. 멈추고 싶다. 다른 사람의 잘 그린 그림을 보면 주눅이 든다. 역시 소질이 없나보다 생각한다.</p>
<p>이런 경험은 내 삶의 일면을 투영한다. 지금까지 지내오면서 남들과 비교하면서 살아왔다. 잘해야한다는 강박과 함께.</p>
<p>그래서 끝까지 완성한다는 작은 실천은 위로가 된다.</p>
<p><img class="alignnone size-full wp-image-6631" src="{{ site.baseurl }}/assets/img/2018/05/20180503_230030.jpg" alt="20180503_230030" width="1105" height="829" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
