---
layout: post
title: IAMO
date: 2018-08-23 21:29:01.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 그림
tags: []
meta:
  timeline_notification: '1535027345'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '21381069260'
  _thumbnail_id: '6756'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6754"
---
<p><!-- wp:image {"id":6753} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/08/20180813_231432.jpg" alt="20180813_231432.jpg" class="wp-image-6753" /></figure>
<p><!-- /wp:image --></p>
