---
layout: post
title: 나르코스
date: 2018-03-21 00:16:49.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _thumbnail_id: '6068'
  _publicize_job_id: '15922654733'
  timeline_notification: '1521559013'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6066"
---
<p><img class="alignnone size-full wp-image-6067" src="{{ site.baseurl }}/assets/img/2018/03/9lnsj7l6dc7axvrywblfxhnqxef.jpg" alt="9lNSJ7l6Dc7aXVrywBlFxhNqXeF" width="1000" height="1500" /></p>
<p>시즌1, 2를 봤는데 재밌다. 시즌3는 약간 아쉽다. 아직 다 안봤지만.</p>
