---
layout: post
title: 얼터드 카본
date: 2018-02-26 23:46:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 영화
tags: []
meta:
  _thumbnail_id: '6060'
  timeline_notification: '1519656420'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '15159435088'
  _edit_last: '1'
  geo_public: '0'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6059"
---
<p><!-- wp:image {"id":6061} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/02/alteredcarbon_kovacs_vertical-core_rgb_us.jpg" alt="alteredcarbon_kovacs_vertical-core_rgb_us" class="wp-image-6061" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>초반엔 적응이 안되서 몰입을 못했는데 재밌게 진행된다. 원작에 대해서는 잘 모르지만 시나리오가 탄탄하다. 남자 주인공이 하우스오브카드에서 봤던 사람이고 여배우도 나름 매력이 있었다.</p>
<p><!-- /wp:paragraph --></p>
