---
layout: post
title: 인생에서 만난 귀한 사람들에 대한 기억
date: 2018-11-02 18:01:16.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  timeline_notification: '1541149279'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '23839303829'
  _thumbnail_id: '6848'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6834"
---
<p><!-- wp:paragraph --></p>
<p>조금 전 아내가 GS25 쿠폰을 오늘까지 써야 한다며 모바일용 쿠폰을 보여주었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내 시야에 들어온 것은 giftpop(https://giftpop.co.kr) 로고였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6835} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/11/common_topbi.png" alt="common_topBI.png" class="wp-image-6835" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"align":"center"} --></p>
<p class="has-text-align-center">
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 존경하고 좋아하는 분이 대표로 있는 회사의 브랜드이다. 최근에는 베트남에 성공적으로 진출하셨다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>뜬금없이 이야기를 꺼낸 이유는 내 인생 첫 번째 직장에서 만난 귀한 사람들에 대한 기억들이 마구마구 떠오르고 있기 때문이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>뵌 지 오래되었고, 연락하며 지내지는 않지만 떠오르는 기억을 기록해 두고 싶다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><a href="http://www.m12.co.kr" target="_blank" rel="noopener noreferrer">㈜엠트웰브</a>&nbsp;Y 대표</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">참 좋다. 그지? 숨을 쉬고 있는 것이 참 감사하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>항상 밝은 미소를 보여주셨다. 지금 내 웃는 이미지는 이분께 영향을 받았다.</li>
<li>회사에서 발생한 옳지 못한 사건에 관해 정의로우셨다.</li>
<li>세상에 없던 새로운 일들을 기획하고 실행하셨다. 어려웠던 순간에 늘 성실함과 인내를 보여주셨다.</li>
<li>길거리에 함께 누웠던 기억도 있다. 하늘을 보며 "참 좋다. 그지? 숨을 쉬고 있는 것이 참 감사하다!"라는 말이 아직도 기억난다.</li>
<li>고객이 활짝 웃으며 휴대폰을 보고 있는 모습을 보여주신 적이 있었다. 아직도 그 화면을 찾고 싶다. 고객이 즐거워하는 모습을 항상 상상하셨던 것 같다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><a href="https://www.finotek.co.kr" target="_blank" rel="noopener noreferrer">피노텍</a>&nbsp;K 대표</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">당신은 대기업에 가면 참 잘할 스타일이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>직장 생활에서 유머와 재치가 무엇인지를 몸소 보여주셨다. 어쩌면 지금 내 직장 생활 태도는 이분을 통해서 배운 것 같다.</li>
<li>내가 대기업에 가면 잘할 스타일이라고 조언해 주셨다. 그래서인지 잘하고 있는 것 같다.</li>
<li>고가 문제로 고뇌하고 있을 때 오랜 시간 대화를 해주셨던 분이다.</li>
<li>삼성 출신으로 일에 대한 전문성과 자부심을 느낄 수 있었다.</li>
<li>사적인 기념일에 사비를 봉투에 넣어 축하한다고 전해주셨던 일은 감동으로 남아있다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>그밖에도 나는 운 좋게 멋진 분들이 주변에 있었다. 나중에 더 써봐야겠다. 예전에 썼던 글도 있다.&nbsp;<a href="http://bomchoon.kr/2009/06/25/%ea%b8%b0%ec%96%b5%eb%82%98%eb%8a%94-%eb%a6%ac%eb%8d%94/" target="_blank" rel="noopener noreferrer">기억나는 리더</a></p>
<p><!-- /wp:paragraph --></p>
