---
layout: post
title: PAPER PRO
date: 2018-12-04 23:04:42.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 구매
tags: []
meta:
  _thumbnail_id: '6872'
  timeline_notification: '1543932284'
  _publicize_job_id: '24953020670'
  _oembed_dabe2c62659aeeeb0bd94104b5c745d1: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6871"
---
<p><!-- wp:paragraph --></p>
<p>대국민 독서지원 <a href="https://ridibooks.com/event/12738" target="_blank" rel="noreferrer noopener" aria-label="대국민 독서지원 이벤트를 하길래 하나 장만했다. (opens in a new tab)">이벤트</a>를 하길래 하나 장만했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>만족스럽다.&nbsp;크기가 딱 좋다. 이동에 적당하지 않은 의견이 있어서 걱정했는데 딱 좋다. 약간 얇아졌는데 맘에 든다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>아쉬운 점이 있다.&nbsp;조명 밝기가 균일하지 않다. 정상인 것 같긴 하지만 아쉽다.&nbsp;</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>반값에 혹 해서 케이스와 필름을 같이 구매했다. 케이스는 맘에 들지만 필름은 불필요해 보인다.&nbsp;</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝&gt;</p>
<p><!-- /wp:paragraph --></p>
