---
layout: post
title: Fate
date: 2018-11-22 23:50:18.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _thumbnail_id: '6866'
  timeline_notification: '1542898220'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '24539193121'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6864"
---
<p><!-- wp:image {"id":6865} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/11/0f12b0676a5d6ebcef7cbe030267857e3385ab8d7202b48f4c97ba8142ee2a6ff1c40569a1807ae1caebacfe3867f303793a0ecbe19e5fb93cf69e644b688d48c60bd7e4844124e191d408b1c47a3e43affd4c55a2776cdc15bc2ff55c.jpg" alt="0f12b0676a5d6ebcef7cbe030267857e3385ab8d7202b48f4c97ba8142ee2a6ff1c40569a1807ae1caebacfe3867f303793a0ecbe19e5fb93cf69e644b688d48c60bd7e4844124e191d408b1c47a3e43affd4c55a2776cdc15bc2ff55c496d29.jpg" class="wp-image-6865" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>네플릭스 추천으로 <a class="wiki-link-internal" title="Fate/stay night [Unlimited Blade Works]" href="https://namu.wiki/w/Fate/stay%20night%20%5BUnlimited%20Blade%20Works%5D" target="_blank" rel="noopener noreferrer">Fate/stay night UBW</a>(운명의 밤: 무한의 검제)를 처음 본 것이 3월이다. 재밌게 보다보니 어느 새 아래 시리즈를 다 봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li><a class="wiki-link-internal" title="Fate/stay night [Unlimited Blade Works]" rel="noopener noreferrer" href="https://namu.wiki/w/Fate/stay%20night%20%5BUnlimited%20Blade%20Works%5D" target="_blank">Fate/stay night UBW</a> (2014, <a class="wiki-link-internal" title="ufotable" rel="noopener noreferrer" href="https://namu.wiki/w/ufotable" target="_blank">ufotable</a>)</li>
<li><a class="wiki-link-internal" title="Fate/Zero/애니메이션" rel="noopener noreferrer" href="https://namu.wiki/w/Fate/Zero/%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98" target="_blank">Fate/Zero</a> (2011, ufotable)</li>
<li><a class="wiki-link-internal" title="Fate/Apocrypha/애니메이션" rel="noopener noreferrer" href="https://namu.wiki/w/Fate/Apocrypha/%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98" target="_blank">Fate/Apocrypha</a> (2017, <a class="wiki-link-internal" title="A-1 Pictures" rel="noopener noreferrer" href="https://namu.wiki/w/A-1%20Pictures" target="_blank">A-1 Pictures</a>)</li>
<li><a class="wiki-link-internal" title="극장판 Fate/stay night [Heaven`s Feel] Ⅰ.presage flower" rel="noopener noreferrer" href="https://namu.wiki/w/%EA%B7%B9%EC%9E%A5%ED%8C%90%20Fate/stay%20night%20%5BHeaven%60s%20Feel%5D%20%E2%85%A0.presage%20flower" target="_blank">극장판 Fate/stay night HF I</a> (2017, ufotable)</li>
<li><a class="wiki-link-internal" title="Fate/EXTRA Last Encore" rel="noopener noreferrer" href="https://namu.wiki/w/Fate/EXTRA%20Last%20Encore" target="_blank">Fate/EXTRA Last Encore</a> (2018, <a class="wiki-link-internal" title="샤프트(기업)" rel="noopener noreferrer" href="https://namu.wiki/w/%EC%83%A4%ED%94%84%ED%8A%B8(%EA%B8%B0%EC%97%85)" target="_blank">샤프트</a>)</li>
<li><a class="wiki-link-internal" title="극장판 Fate/stay night Unlimited Blade Works" rel="noopener noreferrer" href="https://namu.wiki/w/%EA%B7%B9%EC%9E%A5%ED%8C%90%20Fate/stay%20night%20Unlimited%20Blade%20Works" target="_blank">극장판 Fate/stay night UBW</a> (2010, <a class="wiki-link-internal" title="스튜디오 딘" rel="noopener noreferrer" href="https://namu.wiki/w/%EC%8A%A4%ED%8A%9C%EB%94%94%EC%98%A4%20%EB%94%98" target="_blank">스튜디오 딘</a>)</li>
<li><a href="https://namu.wiki/w/Fate/stay%20night(%EC%95%A0%EB%8B%88%EB%A9%94%EC%9D%B4%EC%85%98)" target="_blank" rel="noreferrer noopener">Fate/stay night</a> (2006, 스튜디오 딘)</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>ufotable의 극장판 Fate/stay night HF II와 III까지만 보고 그만 봐야겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>조언을 하자면, Last Encore는 보지 마라. 시작은 Fate/stay night UBW(ufotable)로 하면 된다.</p>
<p><!-- /wp:paragraph --></p>
