---
layout: post
title: 진격의 거인
date: 2018-11-04 00:24:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _thumbnail_id: '6852'
  timeline_notification: '1541258675'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '23881227090'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6851"
---
<p>진격의 거인을 처음 봤을 때가 생각난다. 충격이었다. 잔인한 설정도 있었지만, 이야기 전개와 상상력이 놀랍다는 생각을 했었다. 작가의 극우 성향 논란이 있을 때 관심을 꺼두었다. 오랜만에 시즌3을 봤는데 역시 재밌다. 50화 '시작의 도시'는 내년 4월이 오기를 기다려야 한다.</p>
<p><img class="alignnone size-full wp-image-6854" src="{{ site.baseurl }}/assets/img/2018/11/vlcsnap-2018-11-04-00h15m36s271.png" alt="vlcsnap-2018-11-04-00h15m36s271.png" width="1280" height="720" /><img class="alignnone size-full wp-image-6853" src="{{ site.baseurl }}/assets/img/2018/11/vlcsnap-2018-11-04-00h14m02s824.png" alt="vlcsnap-2018-11-04-00h14m02s824" width="1280" height="720" /></p>
