---
layout: post
title: 개구리 스케치
date: 2018-10-23 22:09:49.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 그림
tags: []
meta:
  timeline_notification: '1540300193'
  _rest_api_published: '1'
  _rest_api_client_id: "-1"
  _publicize_job_id: '23496898762'
  _wp_old_slug: "%ea%b0%9c%ea%b5%ac%eb%a6%ac-%ec%8a%a4%ec%bc%80%ec%b9%98"
  _thumbnail_id: '6795'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6793"
---
<p><!-- wp:image {"id":6792} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2018/10/20181023_212554.jpg" alt="20181023_212554.jpg" class="wp-image-6792" /></figure>
<p><!-- /wp:image --></p>
