---
layout: post
title: 닌텐도 스위치용 마인크래프트
date: 2019-02-15 21:32:23.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 게임
tags: []
meta:
  _thumbnail_id: '6920'
  _publicize_job_id: '27663628334'
  timeline_notification: '1550233947'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6912"
excerpt: 닌텐도 스위치용 마인크래프트는 크로스 플랫폼 플레이를 지원하지만 로컬 네크워크에서는 지원하지 않습니다.
---
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote"><p>닌텐도 스위치용 마인크래프트는 크로스 플랫폼 플레이를 지원하지만, 로컬 네트워크에서는 안 됩니다. -참고: <a href="https://www.reddit.com/r/Minecraft/comments/8sil5i/info_post_minecraft_bedrock_for_nintendo_switch/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Minecraft (Bedrock) for Nintendo Switch Unofficial FAQ</a></p>
</blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:image {"id":6919,"align":"center"} --></p>
<div class="wp-block-image">
<figure class="aligncenter"><img src="{{ site.baseurl }}/assets/img/2019/02/51j1alhmul._ac_sx215_.jpg" alt="" class="wp-image-6919" /><br />
<figcaption>닌텐도 스위치용 마인크래프트, 영문판이지만 한글로 나온다.</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>Windows 10을 사용하는 노트북에서, 휴대폰에서, 태블릿에서 아이들과 함께 플레이할 때가 있다.  플랫폼 통합 버전인 <a href="https://namu.wiki/w/마인크래프트/베드락%20에디션" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">베드락에디션</a>이기 때문에 가능하다. 닌텐도 스위치 버전도 통합되었다는 소식을 듣고 <a rel="noreferrer noopener" aria-label="아마존 (opens in a new tab)" href="https://www.amazon.com/gp/product/B07D13QGXM" target="_blank">아마존</a>에서 구매했다. 그러나 로컬 네트워크 상태에서는 크로스 플랫폼 플레이가 되지 않는다. 인터넷이 연결된 온라인에서는 가능하단다. 온라인을 위해서는 닌텐도 온라인 서비스 구독과 Xbox Live 아이디가 필요하다. 한국에서 Xbox Live 아이디는 나이 인증(live.xbox.com/ageverification)도 해야한다.</p>
<p><!-- /wp:paragraph --></p>
