---
layout: post
title: 객관적 자기인식
date: 2019-12-25 01:49:54.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _thumbnail_id: '7185'
  _coblocks_attr: ''
  timeline_notification: '1577206197'
  _publicize_job_id: '38815345996'
  _coblocks_dimensions: '{"coblocks-hero-112511442284":{"padding":{}}}'
  _coblocks_responsive_height: ''
  _coblocks_accordion_ie_support: ''
  advanced_seo_description: ''
  amp_status: ''
  spay_email: ''
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7184"
---
<p><!-- wp:paragraph --></p>
<p>마른 여자분이 자신이 뚱뚱해서 체중 감량을 해야 한다고 말하면, 듣는 사람은 어이없어한다.  예쁜 연예인이 방송에 나와 자신이 이쁘지 않다고 말하는 것과 똑같다.  </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그런데 본인은 진짜 그렇게 생각할 수 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7187,"sizeSlug":"large"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2019/12/wmjpg.jpg?w=420" alt="" class="wp-image-7187" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>한 해를 기억하는 <a href="https://bomchoon.kr/2019/12/20/retrospective-2019/">기년회</a>를 마치고 '객관적 자기인식'에 대한 생각을 하고 있다. 자기 생각을 판단하는 능력인 '메타인지'라고 해야 할까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">삶이 그대를 속일지라도 - 푸시킨</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내 이야기를 들은 동료들은 나의 한 해를 "다양한 시도와 재미로 가득찬 멋진 한 해"로 피드백을 주는 반면, 내가 경험하고 있는 감정은 아쉬움, 피곤, 우울이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내 동료들은 내 이야기를 하이라이트(highlight)-가장 흥미 있거나 중요한 연출을 이끌어내는 장면-로 본 것이다. 관점이 다를 수 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>어쩌면 나는, 나 자신을 객관적으로 보지 못하고 있는 것인지 모른다. '늘 뚱뚱하다고 생각하는 마른 여자처럼' 말이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>스스로에게 질문을 해본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>사실을 인지하는 것과 그 사실을 해석하는 관점을 나누면 어떨까? 다양한 관점으로 균형을 이루면 마음이 더 편해지지 않을까?</p>
<p><!-- /wp:paragraph --></p>
