---
layout: post
title: 취미
date: 2019-07-02 23:30:35.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _oembed_4b276576df868502f2b1995bf0cb7376: "{{unknown}}"
  timeline_notification: '1562077838'
  _publicize_job_id: '32411712337'
  _wp_old_slug: "%ec%b7%a8%eb%af%b8-2"
  _oembed_d78b214d300ea0073e42176f0c9830be: "{{unknown}}"
  _thumbnail_id: '7104'
  _oembed_4747c23adbaa65ec5b25eebf8c752481: "{{unknown}}"
  _oembed_1a2ab49b7d214874f911e52c807e0006: '<div class="embed-slideshare"><iframe
    title="하고 싶은 일, 취미에 대하여" src="https://www.slideshare.net/slideshow/embed_code/key/w3CxBVNuqDqPHv"
    width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
    style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width:
    100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a
    href="https://www.slideshare.net/ssuser14cb83/ss-153358207" title="하고 싶은 일, 취미에
    대하여" target="_blank">하고 싶은 일, 취미에 대하여</a> </strong> from <strong><a href="https://www.slideshare.net/ssuser14cb83"
    target="_blank">춘식 이</a></strong> </div></div>'
  _oembed_time_1a2ab49b7d214874f911e52c807e0006: '1562423012'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7099"
---
<p><!-- wp:image {"id":7102} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2019/07/65707106_1320112048146952_4677376456592982016_o-1.jpg" alt="" class="wp-image-7102" /><br />
<figcaption>행사 담당자가 만든 발표 홍보물</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>갑작스러운 발표 요청에 망설임 없이 수락하고 최선을 다해 준비해서 발표했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>스트레스를 잘 받는 '나'란 사람이 재미와 즐거움을 위해 취미를 찾아가는 과정을 그렸다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>잘 끝났으니 되었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":7163,"sizeSlug":"large"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2019/07/190702_lg-ted.jpg?w=1024" alt="" class="wp-image-7163" /></figure>
<p><!-- /wp:image --></p>
