---
layout: post
title: 100D100D
date: 2019-04-10 20:47:48.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 그림
tags: []
meta:
  _edit_last: '1'
  _oembed_852e0a2fdad3b67b5fbc6c74683971bf: "{{unknown}}"
  _oembed_21e1f5b797e603159a17b0096548ffe1: "{{unknown}}"
  _oembed_87bc37edd5a1e6be44b6c5a348712d29: "{{unknown}}"
  _oembed_048e4b2333d36aff42f0f4773583df77: "{{unknown}}"
  _oembed_39e59a4277ff50966a08d4367d7e7e5d: "{{unknown}}"
  _thumbnail_id: '7014'
  timeline_notification: '1554896871'
  _publicize_job_id: '29604830971'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6982"
---
<p><!-- wp:paragraph --></p>
<p>하루에 1개씩 100일 동안 100개의 그림을 그리는 도전에 비공식적으로 참여했다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>100일 중에 1번, 자정을 넘기고 말았다. 그래서 아주 정확하게 보면 도전은 실패다. 하지만 괜찮다. 재미난 경험이었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이 도전을 통해,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">아이들과 함께 그림 그릴 기회를 많이 만들었다.<br />큰 실력 향상은 없었지만 "그려지네?" 하는 경험을 했다.<br />100개 중 몇 개는 맘에 드는 그림이 나왔다.<br />맘에 들지 않아도 끝까지 그렸고 중간에 멈추지 않았다.<br />함께 참여한 분들의 그림을 통해 좋은 느낌을 많이 받았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이 도전을 수행하는 동안 그렸던 그림은,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">매일 매일 인스타에 올렸다. <br />스캔해서 구글 포토(<a rel="noreferrer noopener" aria-label="(새 탭에 열림)" href="https://j.mp/100day100drawing" target="_blank">https://j.mp/100day100drawing</a>)에도 올렸다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>개인적으로 맘에 드는 그림은, </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7007,"width":869,"height":613} --></p>
<div class="wp-block-image">
<figure class="aligncenter is-resized"><img src="{{ site.baseurl }}/assets/img/2019/04/0324.jpg" alt="" class="wp-image-7007" width="869" height="613" /><br />
<figcaption>모델이 기억나지 않는 오토바이</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center","id":7008,"width":869,"height":613} --></p>
<div class="wp-block-image">
<figure class="aligncenter is-resized"><img src="{{ site.baseurl }}/assets/img/2019/04/0325.jpg?w=1024" alt="" class="wp-image-7008" width="869" height="613" /><br />
<figcaption>오래전 키웠던 닭, 미리</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>맘에 드는 그림이 더 있지만 예상외로 고르기 쉽지 않았다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>평생 취미로 그림은 나쁘지 않은 선택인 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝&gt;</p>
<p><!-- /wp:paragraph --></p>
