---
layout: post
title: SEED 2019 준비 중
date: 2019-07-20 00:39:29.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags:
- 컨퍼런스
meta:
  _publicize_job_id: '33041027044'
  timeline_notification: '1563550772'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7469'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7116"
---
<p><!-- wp:paragraph --></p>
<p>요즘 'SEED 2019'를 준비하고 있다. 사내 '소프트웨어 개발자의 날' 행사이다. 영문으로는 Software Engineers' Energizing Day, 줄여서 SEED라 부른다. &nbsp;</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>소프트웨어 개발자들이 한자리에 모여 소프트웨어 관련 기술을 공유하고 전문가로 성장하고자 하는 열정을 나누며 이를 통해 서로 활력을 주고받는, Energizing 하는 날이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>12개의 세션 발표(40분)와 이그나잇발표(5분) 9개를 준비했다. 맛있는 간식과 기념품 그리고 행사의 꽃(?) 푸짐한 경품도 있다. 점심시간을 이용해서  福不福(복불복) 타자왕 이벤트도 열린다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참석자들에게 좋은 경험이 되었으면 한다.  </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7114,"sizeSlug":"large"} --></p>
<figure class="wp-block-image aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2019/07/logo_white_only_text.png?w=720" alt="" class="wp-image-7114" /></figure>
<p><!-- /wp:image --></p>
