---
layout: post
title: GUNNM(銃夢, 총몽)
date: 2019-02-11 00:01:40.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _thumbnail_id: '6907'
  timeline_notification: '1549810903'
  _publicize_job_id: '27483623943'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6903"
---
<p><!-- wp:image {"id":6904} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2019/02/vlcsnap-2019-02-10-23h17m31s271.png" alt="" class="wp-image-6904" /><br />
<figcaption>왠지 반가운 한글</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><a rel="noreferrer noopener" aria-label="알리타: 배틀 엔젤 (opens in a new tab)" href="https://namu.wiki/w/알리타:%20배틀%20엔젤" target="_blank">알리타: 배틀 엔젤</a>을 재밌게 봤다. 당연히 원작 <a rel="noreferrer noopener" aria-label="총몽 (opens in a new tab)" href="https://namu.wiki/w/총몽" target="_blank">총몽</a>이 궁금했다. 애니메이션으로 봤는데 알리타가 원작에 참 충실한 영화임을 알았다. 원작에선 모터볼 내용은 없었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
