---
layout: post
title: 나는 안녕한가?
date: 2019-05-07 14:57:37.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _publicize_job_id: '30539344564'
  timeline_notification: '1557208660'
  _thumbnail_id: '7069'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7059"
---
<p><!-- wp:image {"id":7060} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2019/05/20190429_162012199.jpg" alt="" class="wp-image-7060" /><br />
<figcaption>내 이야기를 듣고 교육 참석자들이 찾아준 감정 표현들</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote">
<p>인생은 한 번뿐이고, 너의 인생도 끝나가고 있다. 그런데도 너는 너 자신을 존중하지 않고, 다른 사람들이 너를 어떻게 평가하느냐에 마치 너의 행복이 달려있다는 듯이 다른 사람들의 정신 속에서 너의 행복을 찾고 있구나. 공동체의 유익을 위해 행하는 일이 아니라면, 다른 사람들에 대해 이런저런 생각을 하는데 너의 남은 생애를 허비하지 말라. 너는 너 자신을 학대하고 또 학대하고 있구나. 그것은 너 자신을 존귀하게 할 기회를 스스로 없애버리는 것이다. 너는 왜 너의 외부에서 일어나는 일들에 휘둘리고 있는 것이냐? 그럴 시간이 있으면 네게 유익이 되는 좋은 것들을 더 배우는 일에 시간을 활용하고, 아무런 유익도 없는 일들에 쓸데없이 이리저리 끌려다니는 것을 멈추라.</p>
<p><cite><em>마르쿠스 아우렐리우스, ‘명상록’에서</em></cite></p></blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:paragraph --></p>
<p>지금까지 비교하면서 살았다. '비교하지 말라'는 많은 가르침에 공감하면서 계속 비교하면서 산다. 어쩔 수 없나 보다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>리더십 관련 교육을 받고 있다. 누군가 이야기를 하면 주변 사람들이 그 이야기를 듣고 이야기한 사람의 감정을 찾아주는 실습을 했다. 위에 사진은 내 이야기를 듣고 주변 사람들이 찾아준 내 감정이다. 저 사진을 지인에게 보여주었더니, '누구나 저렇다. 그러면서 하루하루 산다'고 피드백을 주었다. 나만 그런 것이 아니라 어쩌면 많은 사람이 비슷할지 모른다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나는 잘살고 있는 것일까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>페이스북 같은 SNS(Social Networking Service)에서 전해지는 사람들을 소식을 보면, 나와 달리 다들 잘살고 있는 것 같다. 주변 사람들의 크고 작은 성공을 들을 때마다 나는 정말 잘살고 있는지 의심이 든다.</p>
<p><!-- /wp:paragraph --></p>
