---
layout: post
title: 행사로 시작하는 새해
date: 2019-01-21 23:07:12.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  timeline_notification: '1548079634'
  _publicize_job_id: '26770031462'
  _wp_old_slug: "%ed%96%89%ec%82%ac%eb%a1%9c-%ec%8b%9c%ec%9e%91%ed%95%98%eb%8a%94-%ec%83%88%ed%95%b4"
  _oembed_e6c5928bdcf706c0263cf05c7f772817: "{{unknown}}"
  _thumbnail_id: '6978'
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6898"
---
<p><!-- wp:image {"id":6899} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2019/01/20190117_163626_hdr.jpg" alt="" class="wp-image-6899" /><br />
<figcaption>곤지암리조트  대연회장<br /></figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>최근 몇 년 동안 나의 1월, 새해는 늘 곤지암에서 시작한다. 분주하게 보내다 보면 1월은 어느새 화살처럼 사라진다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":6900} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2019/01/20190117_074809.jpg" alt="" class="wp-image-6900" /><br />
<figcaption>곤지암 스키하우스<br /></figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>행사가 시작하기 전 아침 일찍 눈이 왔다. 코끝으로 느껴지는 겨울 냄새가 난 좋다. 마음은 참 차분하다. </p>
<p><!-- /wp:paragraph --></p>
