---
layout: post
title: Self Talk
date: 2019-05-25 21:55:49.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _oembed_9b82d972c6eee7c90d7a45fc017f34f4: "{{unknown}}"
  _publicize_job_id: '31169094103'
  _thumbnail_id: '7077'
  timeline_notification: '1558788953'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7074"
---
<p><!-- wp:paragraph --></p>
<p>나는 나에게 진심으로 잘했다고 칭찬한 기억이 적다. 나에게는 인색하다. 나에게 항상 높은 기준을 설정한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>반면에 다른 이의 감정을 잘 읽고 분위기를 잘 파악한다. 다른 이에 대한 칭찬은 인색하지 않다. 좋은 면을 잘 찾는다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그래서일까? 사람들에게 보이는 모습과는 반대로 내 마음은 늘 아픈 것 같다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그래서 가끔 거울을 보며 나에게 이야기해 본 경험이 있고 독백으로 나에게 말하곤 한다. 이게 도움이 된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근 새로운 방법을 하나 더 찾았다. 녹음해서 듣는 거다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 나에게 이름을 부르고 구체적인 사실을 언급하며 칭찬을 한다. 중요한 것은 그것을 녹음한다. 그리고 약간 시간을 둔 후에 다시 듣는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>저녁에 녹음하고 다음 날 아침 출근하며 들어봤는데 코끝이 찡했다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이 경험을 주변에 이야기했는데 반응이 나쁘지 않았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>칭찬이 아니라도 좋다. 자신에게 위로하자. 자신을 안아주자. 내가 왜 그렇게 했는지 마음속 욕구를 표현하자.</p>
<p><!-- /wp:paragraph --></p>
