---
layout: post
title: 바람이 부네요
date: 2019-04-21 00:37:36.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 노래
tags: []
meta:
  _publicize_job_id: '29998869762'
  timeline_notification: '1555774658'
  _wp_old_slug: "%eb%b0%94%eb%9e%8c%ec%9d%b4-%eb%b6%80%eb%84%a4%ec%9a%94"
  _thumbnail_id: '7046'
  _oembed_136b230f60dc852cc8b0af0fe6bed4f6: "{{unknown}}"
  _oembed_2dce96e45d1935e6852e7b2ecc111dbd: <iframe title="The wind is blowing (바람이
    부네요)" width="580" height="435" src="https://www.youtube.com/embed/X1Rk32XTWdk?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_2dce96e45d1935e6852e7b2ecc111dbd: '1589128026'
  _oembed_time_da1a17570ad316aaebed804a4a185766: '1638175920'
  _oembed_da1a17570ad316aaebed804a4a185766: <iframe title="The wind is blowing (바람이
    부네요)" width="1200" height="900" src="https://www.youtube.com/embed/X1Rk32XTWdk?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _last_editor_used_jetpack: block-editor
  _oembed_810e63d90c58213589b8e17c413e8333: <iframe title="The wind is blowing (바람이
    부네요)" width="1200" height="900" src="https://www.youtube.com/embed/OkJbiJH1S4g?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _oembed_time_810e63d90c58213589b8e17c413e8333: '1638175919'
  _edit_last: '1'
  _oembed_0f9cfcba659e70b1afab0b1c789c3c36: <iframe title="The wind is blowing (바람이
    부네요)" width="500" height="375" src="https://www.youtube.com/embed/OkJbiJH1S4g?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_0f9cfcba659e70b1afab0b1c789c3c36: '1697866209'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7041"
---
<p><!-- wp:embed {"url":"https://www.youtube.com/watch?v=OkJbiJH1S4g","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-4-3 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=OkJbiJH1S4g
</div>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:paragraph --></p>
<p>언제인진 모르겠다. 자동차 광고에서 들었던 노래다. 가슴에 닿았던 노래!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">가슴 뛴 그대 미소 떨리던 그 목소리 많은 상처에 얼어붙은 내 마음 감쌌던...</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
