---
layout: post
title: 엄마가 딸에게
date: 2019-04-15 23:19:31.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 노래
tags: []
meta:
  _publicize_job_id: '29786504066'
  timeline_notification: '1555337974'
  _wp_old_slug: "%ec%97%84%eb%a7%88%ea%b0%80-%eb%94%b8%ec%97%90%ea%b2%8c"
  _oembed_d5f3d47bae488dfd936255bfa33e81a0: "{{unknown}}"
  _thumbnail_id: '7039'
  _oembed_aa49b64ae232349740fd4d621edcd808: <iframe title="양희은 (Yang Hee Eun) - 엄마가
    딸에게 (Mother to daughter) (Feat. 김규리) MV" width="580" height="326" src="https://www.youtube.com/embed/8rWuQI9ljsY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_aa49b64ae232349740fd4d621edcd808: '1589128026'
  _oembed_5c92869b91940d5c9319b422fae2aed4: <iframe title="양희은 (Yang Hee Eun) - 엄마가
    딸에게 (Mother to daughter) (Feat. 김규리) MV" width="1200" height="675" src="https://www.youtube.com/embed/8rWuQI9ljsY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _oembed_time_5c92869b91940d5c9319b422fae2aed4: '1610140699'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _oembed_bbaad7ef96121f919545c18503ba02d4: <iframe title="양희은 (Yang Hee Eun) - 엄마가
    딸에게 (Mother to daughter) (Feat. 김규리) MV" width="1200" height="675" src="https://www.youtube.com/embed/8rWuQI9ljsY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _oembed_time_bbaad7ef96121f919545c18503ba02d4: '1610548669'
  _oembed_81ad71fa988ec5c216c67664ff4f43ee: <iframe title="양희은 (Yang Hee Eun) - 엄마가
    딸에게 (Mother to daughter) (Feat. 김규리) MV" width="500" height="281" src="https://www.youtube.com/embed/8rWuQI9ljsY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_81ad71fa988ec5c216c67664ff4f43ee: '1697866197'
  _oembed_56c598df0a7c1eddf18d98ca007400f9: <iframe title="양희은 (Yang Hee Eun) - 엄마가
    딸에게 (Mother to daughter) (Feat. 김규리) MV" width="500" height="281" src="https://www.youtube.com/embed/8rWuQI9ljsY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_56c598df0a7c1eddf18d98ca007400f9: '1697866196'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7018"
---
<p><!-- wp:paragraph --></p>
<p>깊은 허무가 찾아오는 밤, 우연히 이 노래를 들었다.  한참 울었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote"><p>아빠인 나는 딸과 아들에게, 아들인 나는 어머님께, 남편인 나는 아내에게 어떤 고백을 할 수 있을까?</p>
</blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:embed {"url":"https://youtu.be/8rWuQI9ljsY","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://youtu.be/8rWuQI9ljsY
</div>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:list --></p>
<ul>
<li>악동뮤지션과 함께 부른 것도 좋다. </li>
<li>타이미가 랩을 부른 것도 좋다. </li>
<li>김세정과 함께 부른 <a rel="noreferrer noopener" aria-label="(새 탭에 열림)" href="https://tv.naver.com/v/8030963" target="_blank">것</a>도 좋다. </li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
