---
layout: post
title: 골프 초보
date: 2019-10-02 01:35:08.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 골프
tags: []
meta:
  _thumbnail_id: '7153'
  timeline_notification: '1569947711'
  _publicize_job_id: '35880472093'
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7151"
---
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">잘 치고 싶다는 마음만 먹었을 뿐인데 스윙이 흐트러진다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":7154,"sizeSlug":"large"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2019/10/golf-1802020_960_720.png?w=960" alt="" class="wp-image-7154" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>운동 신경이 있는 줄 알았는데 착각이었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
