---
layout: post
title: 마인크래프트 서버
date: 2019-05-05 23:24:26.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 게임
tags: []
meta:
  timeline_notification: '1557066269'
  _publicize_job_id: '30483793233'
  _thumbnail_id: '7055'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7049"
---
<p><!-- wp:paragraph --></p>
<p>조카들과 함께 떨어진 장소에서 마인크래프트를 즐기고 싶다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>가장 쉬운 방법은 렐름(<a rel="noreferrer noopener" aria-label="REALM(새 탭에 열림)" href="https://www.minecraft.net/ko-kr/realms/" target="_blank">REALM</a>) 서비스를 사용하면 된다. 다만, 가끔 플레이하는 것을 고려하면 무척 비싸다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>마인크래프트 서버를 직접 운영하는 것도 방법이다. 친절하게 WINDOWS 용 또는 UBUNTU 용 서버 소프트웨어를 <a rel="noreferrer noopener" aria-label="지원(새 탭에 열림)" href="https://www.minecraft.net/ko-kr/download/server/bedrock/" target="_blank">지원</a>(Bedrock Edition)해준다.  이래저래 구축하는 것도 일이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>딱 적당한 중간 방법이 하나 있다. 마인크래프트 서버를 유료 또는 무료로 임대하는 서비스를 사용하면 된다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>무료인 <a rel="noreferrer noopener" aria-label="ATERNOS(새 탭에 열림)" href="https://aternos.org/ko" target="_blank">ATERNOS</a>를 써봤다. 편하고 좋다. 다만 서버가 내게 할당되는 데까지 많은 시간이 소요된다. 이것만 참을 수 있으면 된다. 서버가 시작되고 아무도 사용하지 않으면 몇 분 뒤에 자동으로 종료된다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":7052} --></p>
<figure class="wp-block-image"><img src="{{ site.baseurl }}/assets/img/2019/05/ec8aa4ed81aceba6b0ec83b7-2019-05-05-ec98a4ed9b84-11.10.45.png" alt="" class="wp-image-7052" /><br />
<figcaption>59분 정도를 기다려야 한다. 실제로는 조금 더 소요되는 느낌이다.</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>아이들과 함께 재밌게 놀았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참고할 것이 하나 있다. 닌텐도 용은 제공하는 서버 외에는 서버를 추가할 수 없다. 그래서 못한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:quote --></p>
<blockquote class="wp-block-quote"><p>Can I join external servers via IP address?<br />No. Server access on Nintendo Switch is limited to the partner servers due to platform restrictions.</p>
<p><cite>출처: <a href="https://www.reddit.com/r/Minecraft/comments/8sil5i/info_post_minecraft_bedrock_for_nintendo_switch/" target="_blank" rel="noreferrer noopener" aria-label="Info Post: Minecraft (Bedrock) for Nintendo Switch Unofficial FAQ(새 탭에 열림)">Info Post: Minecraft (Bedrock) for Nintendo Switch Unofficial FAQ</a></cite></p></blockquote>
<p><!-- /wp:quote --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
