---
layout: post
title: 학습
date: 2019-04-07 21:58:10.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  timeline_notification: '1554641894'
  _publicize_job_id: '29492498755'
  _thumbnail_id: '6990'
  _oembed_048e4b2333d36aff42f0f4773583df77: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/6945"
---
<p><!-- wp:paragraph --></p>
<p>학습과 관련된 최근 경험들을 꺼내 보자.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>공부, 교육, 콘퍼런스, 책을 통해 수많은 정보를 입력했다. 하지만 입력만 있다.</li>
<li>내공(역량, 공부, 훈련 등)을 더 쌓은 후에 해야지(적용, 실행) 하는 생각을 한다. 그리고 아웃풋은 미뤄지고 사라진다.</li>
<li>준비된 이후에 라고 말했지만, 준비된 시점이 언제인지 알 수 없다.</li>
<li>상대적으로 멀리 있는 목표를 향해 힘을 다했다. 목표 달성 후에 힘이 빠져서 그만둔다.</li>
<li>혼자 열심히 해서 사례를 만들지만, 누군가 그것을 따라 하기 어렵다. 결국 내 책임만 늘어갔다. </li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>야생학습에서 얻은 힌트를 이렇게 적용해 보는 건 어떨까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>먼저 해보고 필요한 것들을 찾는다.</li>
<li>내 수준 범위 내에서 바로 적용할 수 있는 것을 찾는다. 가치 있고 유용하면 더 좋고.</li>
<li>가까운 목표를 설정하고 작은 성취를 이룬다.</li>
<li>함께 공부하고 함께 성장한다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>최근 지인들과 스터디 모임을 하나 시작했다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>말이 나온 김에 바로 시작했다. 그리고 해보면서 변화를 주기로 했다. 주제를 함께 정하고 무엇보다 즐거움에 초점을 두기로 했다.</li>
<li>목차를 쭉 스캔하고 중간에 하나를 골라서 어떻게 동작하는 것인지 감을 익혔다. 나는 그것을 어떻게 써먹을지 고민했다. 고민한 결과를 당장 써먹지는 않았지만, 고민을 시도했다.</li>
<li>책에 있는 한 가지만 하지 말고 여러 가지를 시도해보자고 했다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>작은 변화들이 슬슬 일어나기 시작한 것이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p></p>
<p><!-- /wp:paragraph --></p>
