---
layout: post
title: 제주도 여행
date: 2021-09-29 15:36:34.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 여행
tags:
- 제주도
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '8755'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/8750"
---
<p><!-- wp:paragraph --></p>
<p>드라마 &lt;오징어게임&gt; 주인공 <a rel="noreferrer noopener" href="https://namu.wiki/w/%EA%B0%95%EC%83%88%EB%B2%BD" target="_blank">강새벽</a>이 가보고 싶어했던 제주도. 얼마전에 다녀왔는데 다음에는 좀 길게 다녀왔으면 좋겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이번 여행에서 처음 경험해 본 것들은 기억해 보면, </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>갈치회 먹기</li>
<li>낙타 타보기</li>
<li>달리는 말타기</li>
<li>바다 카약 경험</li>
<li>제주도에서 가족 사진 찍기</li>
<li>오름 올라기기</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"id":8751,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2021/09/20210923_120943-1024x576.jpg" alt="" class="wp-image-8751" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"id":8752,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2021/09/20210924_181205-1024x577.jpg" alt="" class="wp-image-8752" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"id":8753,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2021/09/20210925_090523_HDR-1024x577.jpg" alt="" class="wp-image-8753" /></figure>
<p><!-- /wp:image --></p>
