---
layout: post
title: 바다가 보고 싶었다
date: 2021-01-24 05:10:00.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 여행
tags:
- 속초
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _wp_old_date: '2021-03-28'
  _thumbnail_id: '7452'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7369"
---
<p><!-- wp:image {"id":7370,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2021/01/20210124_171022-1024x768.jpg" alt="" class="wp-image-7370" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>답답할 때는 바다가 최고인 것 같다.</p>
<p><!-- /wp:paragraph --></p>
