---
layout: post
title: 골프티
date: 2021-12-02 22:51:48.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 골프
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8821'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/8815"
---
<p><!-- wp:paragraph --></p>
<p>티에 올라 드라이버를 칠 때, 골린이에게 가장 큰 불안 요소가 '티 높이' 이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>스크린에 가서 혹은 연습장에서 가장 잘 맞는 나만의 티 높이를 찾게 된다. 나는 기본 설정(?)인 45mm에서 시작했고 지금은 40mm를 선택한다. 어쨌거나 설정한 티 높이를 맞추고 스윙 연습을 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>필드에 나가면, 티 높이를 맞게 꽂았는지 의심한다. 의심은 불안을 불안은 스윙 실수로 연결된다. 그래서 내가 설정한 안정적인 티 높이를 꽂아야 마음에 평화를 찾는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>티를 멋지게 꽂고 티 높이를 맞추는 방법은 유튜브에 찾아보면 많이 나온다. 하지만, 골린이에게 그런 여유가 잘 생기지 않는 것 같다. 그래서 신경을 덜 쓰기 위해 티 높이를 항상 맞출 수 있는 기능성 티를 찾게 된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>높이 표시가 되어 있는 우드 티</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>티 높이가 표시된 우드 티가 있다. 비교적 저렴하고 적당하게 위치를 찾을 수 있어서 좋았으나 여전히 티 높이를 일정하게 맞추는 것은 쉽지 않았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":8819,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/pts.png" alt="" class="wp-image-8819" /><br />
<figcaption>프라이드스포츠 PTS 티타늄 스트렝스 우드티</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>처음으로 티 높이 스트레스를 없애준 애벌레 티</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>나의 티 높이인 45mm를 항상 맞출 수 있는 티를 찾다가 발견한 티가 애벌레 티이다. 티 높이 스트레스를 깔끔하게 없애주었다. 잘 부러지지 않는다. 처음엔 티 2개(1세트)에 10,000원 정도로 비쌌다. 요즘은 비슷한 제품이 많아서 저렴하고 1+1 행사도 많이 한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":8818,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/tee.png" alt="" class="wp-image-8818" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>처음엔 애벌레 티라고 부르지 않았는데 <a rel="noreferrer noopener" href="https://www.youtube.com/watch?v=LFwid6VXjpw&amp;t=165s" target="_blank">지석진이 뻐꾸기 TV에 출연</a>한 이후 명명되었다. 그래서 나같은 골린이가 많이 찾는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":8820,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/tee2.jpg" alt="" class="wp-image-8820" /><br />
<figcaption><meta charset="utf-8" /><a href="https://www.coupang.com/vp/products/1487905966" target="_blank" rel="noreferrer noopener">골프웰 DYNAMIC 실리콘 골프티</a></figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>에이밍과 높이 조절을 도와주는 골프 티</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>티 높이 45mm를 유지하다가 언제부터인가 40mm로 변경했다. 그래서 40mm의 애벌레 티를 찾다가 확신이 없어서 티 높이를 약간 변경할 수 있는 기능성 티를 찾았다. 높이 조절도 할 수 있고 에이밍하는 데 도움을 준다. 큰 단점이 하나 있는데, 높이를 조절해 주는 삼각 받침대를 쉽게 분실한다. 구매할 때는 이 받침대를 넉넉하게 구매하는 것이 좋겠다. 다소 비싸다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":8817,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/8280053437_l-1.jpg" alt="" class="wp-image-8817" /><br />
<figcaption><a href="https://smartstore.naver.com/xnells/products/5658292456" target="_blank" rel="noreferrer noopener">엑스넬스 에이밍 높이조절 컨트롤 골프티</a></figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>내 마음에 드는 것이 가장 좋은 티</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>사실, 스크린이 아닌 필드에서는 기능성 티를 사용한다고 하더라도 바닥 상태에 따라 오차가 생기기 때문에 기대처럼 정확할 수 없다고 생각한다. 그러나, 이런 기능성 티는 골린이에게 필요하다. 왜냐하면, 의심을 줄이고 마음을 편하게 만들어 준다. 그래서 내린 결론은 내 마음에 드는 티가 가장 좋은 티인 것 같다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
