---
layout: post
title: iMovie 10.2.4 문제
date: 2021-06-29 00:40:45.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애플
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '7451'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7420"
---
<p><!-- wp:paragraph --></p>
<p>애플이 기본적으로 제공해 주는 동영상 편집 프로그램인 아이무비(iMovie)를 사용하고 있다. 문제 없이 사용하고 있는데, 10.2.4로 업데이트 되면서 편집된 내용을 공유할 때 비정상 종료가 발생하면서 기능을 사용할 수 없다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>꼭 필요할 때 이런 문제가 발생하니 답답했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>몇 일 동안 해결 방법을 찾지 못했다. 그래서 파이널컷프로(Final Cut Pro) 시험판을 설치해서 임시로 사용하고 있다. 아이무비(iMovie)에서 파이널컷프로(Final Cut Pro)로 동영상을 보낼 수 있다. 시험판은 90일 동안 사용가능하다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근에 <a rel="noreferrer noopener" href="https://discussions.apple.com/thread/252886735" target="_blank">iMovie 10.2.4 crashes when export to file</a> 자문자답이 올라왔다. 지난 번에 검색 했을 때는 답변이 없었는데 방법을 찾았나 보다. 사용 언어(선호 언어)를 영어로 바꾸면 된다고 한다. 그래서 따라했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>된다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>한국어만 되어 있는 설정에서 영어를 추가하고 영어를 맨 위로 올렸다. 재시작(restart)이 필요하다. 익숙하지 않아서 다시 한국어로 바꿔 놓았는데 문제가 해결되었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>Updated: 최근에 10.2.5로 업데이트 되면서 해당 문제가 해결된 것 같다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":7424,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} --></p>
<figure class="wp-block-image size-large is-style-default"><img src="{{ site.baseurl }}/assets/img/2021/06/10.2.5.png" alt="" class="wp-image-7424" /></figure>
<p><!-- /wp:image --></p>
