---
layout: post
title: 극장판, 바이올렛 에버가든
date: 2021-10-16 00:07:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '8774'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/8773"
---
<p><!-- wp:paragraph --></p>
<p>나를 또 울리고, 심장을 건드렸다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8775,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/10/20211016am120211.png" alt="" class="wp-image-8775" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>푹 빠져서 봤다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>간혹 아쉬운 <a rel="noreferrer noopener" href="https://namu.wiki/w/%EC%9E%91%ED%99%94" target="_blank">작화</a> 때문에 신경이 쓰였다. 결말이 다소 익숙하고 예상되는 방향으로 흘러가긴 했다. 조금 다르게 이야기를 끌어갔으면 더 좋았을 것 같다. 중간에 어린 소년의 이야기가 나온다. 울지 않을 수 없다. 이 부분은 실망시키지 않는다.</p>
<p><!-- /wp:paragraph --></p>
