---
layout: post
title: 자동차 건강검진
date: 2021-08-26 23:02:37.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7466'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7464"
---
<p><!-- wp:paragraph --></p>
<p>2005년 9월, 뒷모습에 반해 <a rel="noreferrer noopener" href="https://bomchoon.kr/archives/516" data-type="post" data-id="516" target="_blank">SM3</a>를 구매했다. 내가 직접 구매한 첫 차였다. 많은 시간을 함께 했다. 내 눈에는 잘 보이지만 다른 사람들 눈에는 잘 보이지 않는 긁힘 자국도 아직 간직하고 있다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>시간이 지나면서 새차보다 보험료가 비싸다. 문제가 생겨 수리를 하게되면 비용도 만만치 않게 나온다. 중고로 팔아야 하나, 폐차를 해야하나 고민한다. 하지만, 아쉬울 때 도움을 많이 받았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>오늘 이 녀석이 종합건강검진을 받는 날이다. 검사 받는 날에 번호판 등이 항상 죽어있다. 그래서 오늘은 사전에 정비소 가서 점검을 받았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>큰 문제 없으리라 믿고 기다리고 있었는데, 가장 중요한 제동장치에 문제가 있다는 사실을 알았다. 수리를 해야하나, 폐차를 해야하나 고민이 든다. 휠 실린더를 교체해야 할 것 같다. 견적을 받아보고 결정하자.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>오늘 이 녀석에게 짠 한 느낌이 들었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7465,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2021/08/20210826_182432_HDR.jpg" alt="" class="wp-image-7465" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>고쳐서 쓰기로 했다. 수리 비용 65만원. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7471,"width":512,"height":381,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} --></p>
<div class="wp-block-image is-style-default">
<figure class="aligncenter size-large is-resized"><img src="{{ site.baseurl }}/assets/img/2021/08/20210827_172524-1024x761.jpg" alt="" class="wp-image-7471" width="512" height="381" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>보통 인터넷 쇼핑을 하면 가격 비교, 쿠폰 검색, 카드 할인 등을 고려해서 몇 천원 싸게 사려고 많은 노력을 한다. 자동차 수리비는 순식간에 지불하고 혹시 견적을 잘못 받은 건 아닐까 의심한다. 꼼꼼히 물어보기는 했지만 미련은 남는다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7473,"width":400,"height":184,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full is-resized"><img src="{{ site.baseurl }}/assets/img/2021/08/PXL_20210827_082529939.jpg" alt="" class="wp-image-7473" width="400" height="184" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝></p>
<p><!-- /wp:paragraph --></p>
