---
layout: post
title: 업무 체크인
date: 2021-08-24 18:18:41.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회사
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7444'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7442"
---
<p><!-- wp:paragraph --></p>
<p>오랜 시간 동안 출근이라는 습관 때문에 재택업무는 생각보다 낯선 경험이다. 코로나 덕분에 익숙해졌지만 아직도 회사 책상에 앉아야 편안함을 느낀다.  </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>재택업무 초반에 업무에 몰입(집중)을 못했다. 몰입을 못했던 원인을 생각해 봤다. 먼저 떠오르는 것은 '업무 루틴'의 변화다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>회사에 출근을 하면, 간단히 인사를 하고 커피머신에서 커피 한 잔을 뽑는다. 코 끝에 느껴지는 커피 향은 업무 시작을 알린다. 잠시 창밖의 풍경을 보고 컴퓨터를 켜고 메일을 확인하면 업무가 시작된다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>어두워지는 창밖 풍경과 배고픔을 느끼면 퇴근할 때가 되었다는 신호가 온다. 식사를 하고 퇴근할지를 고민한 후에 컴퓨터를 끈다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내 몸과 마음의 근육은 이 루틴에 따라 반응을 해왔다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>재택 환경으로 바뀌면서 기존과 다르다. 몸에 익숙해진 업무 시작과 끝이 명확하지 않다. 익숙한 경계가 없어졌다. 환경이 달라졌다. 집이라는 공간은 나에게 일을 하는 공간이 아니었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 재택에 적응하게 된 시작점이 "업무 체크인, 업무 체크아웃" 이라는 루틴을 만들면서였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>어느 날, 새롭게 선임된 리더가 제안을 했었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>우리 회사에서는 이슈 트래커(Issue Tracker)로 지라(<a rel="noreferrer noopener" href="https://www.atlassian.com/software/jira" target="_blank">Jira</a>)를 사용한다. 매일 업무 시작 전, 이슈를 발행(Opened)해서 해야할 일과 생각들을 적어보고 업무가 끝날 때 했던 일과 생각들을 적은 후(회고 한 후) 이슈를 종료(Closed)하는 행동을 하자는 것이다. 이것을 <meta charset="utf-8" />"업무 체크인, 업무 체크아웃"이라고 이름을 붙였다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나에게 있어서, 이 행동은 작은 습관이 되었다. 재택업무의 루틴이 되었다. 효과가 있다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7443,"sizeSlug":"full","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2021/08/checkinout.png" alt="" class="wp-image-7443" /><br />
<figcaption>업무 체크인, 체크아웃</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝&gt;</p>
<p><!-- /wp:paragraph --></p>
