---
layout: post
title: 2021년 돌아보기
date: 2021-12-16 22:10:01.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 회고
tags:
- 기년회
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9007'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9006"
---
<p><!-- wp:image {"id":9008,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/2021-&#4352;&#4469;&#4354;&#4455;&#4523;&#4370;&#4460;-&#4363;&#4469;&#4366;&#4462;&#4523;&#4361;&#4469;&#4520;.jpg" alt="" class="wp-image-9008" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>2021년은 21개의 질문에 답하는 방식으로 돌아보았다. 올해 바랬던 일들은 어떻게 되었는가? 가장 뿌듯하게 느꼈던 순간은? 잘했다고 칭찬할 수 있는 일들은? 실력이 확 올라가는 경험을 했는가? 올해 힘들었던 일들을 통해 배운 것은? ... 내년에 가장 하고 싶은 일은? </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>질문에 답하면서 자신을 돌아보게 된다. 질문을 찾고 선택하고 수정하는 과정도 재밌었다.  </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9009,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/2021-qa.jpg" alt="" class="wp-image-9009" /></figure>
<p><!-- /wp:image --></p>
