---
layout: post
title: 오징어 게임
date: 2021-09-29 19:43:59.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _oembed_93fa7cc964296650c21d46372907ee0c: "{{unknown}}"
  _oembed_0c5940c454e1d3edaf59c6524a3c9ba0: <iframe title="Squid Game | Official Trailer
    | Netflix" width="1200" height="675" src="https://www.youtube.com/embed/oqxAJKy0ii4?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture" allowfullscreen></iframe>
  _oembed_time_0c5940c454e1d3edaf59c6524a3c9ba0: '1632912213'
  _thumbnail_id: '8759'
  _edit_last: '1'
  _oembed_4aeeb3598739d3915665ff44c70aaa63: <iframe title="Squid Game | Official Trailer
    | Netflix" width="500" height="281" src="https://www.youtube.com/embed/oqxAJKy0ii4?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_4aeeb3598739d3915665ff44c70aaa63: '1697866212'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/8758"
---
<p><!-- wp:paragraph --></p>
<p>처음 제목을 보고 왜 &lt;오징어 게임&gt;일까? 하는 생각을 했는데, 그 <a rel="noreferrer noopener" href="https://namu.wiki/w/%EC%98%A4%EC%A7%95%EC%96%B4(%EB%86%80%EC%9D%B4)" target="_blank">오징어 게임</a>이다. 참 재밌게 만들었다. 그리고 무척 슬펐다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>플릭스패트롤(flixpatrol) <a rel="noreferrer noopener" href="https://flixpatrol.com/top10/netflix/" target="_blank">TOP TV Shows on Netflix</a>에서 보니 현재(2021년 9월 28일 기준) 1등이다. 전 세계적으로 인기를 끌기에 충분하다는 생각이다. 어렸을 때 즐겼던 한국의 전통 놀이 문화가 이 드라마를 통해 알려지게 될 것 같다. 신기한 문화 컨텐츠의 힘이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참고로 잔인한 장면이 많다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:embed {"url":"https://www.youtube.com/watch?v=oqxAJKy0ii4","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=oqxAJKy0ii4
</div>
</figure>
<p><!-- /wp:embed --></p>
