---
layout: post
title: 코스트코 웨지 세트 구매
date: 2021-03-06 11:12:04.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 골프
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7384'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7382"
---
<p><!-- wp:paragraph --></p>
<p>골프 스코어에 관심을 갖게 되면서 웨지, wedge가 필요하다는 생각을 했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>Pitching Wedges, PW 44~48°</li>
<li>Gap Wedge, GW 50~53° (Attack Wedge, Utility Wedge)</li>
<li>Sand Wedge, SW 54~58°</li>
<li>Lob Wedge, LW 60~64°</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>내가 가지고 있는 웨지는 Callaway Steelhead X-14 P(46.5°)와 S(55°)이다. 이제 알았다. 개인적으로, 항상 80미터를 공략하는데 어려움이 있었다. 실력이 부족하기에 GW가 필요하지 않나 생각하고 있었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>코스트코에서 웨지 세트를 저렴한 가격(187,900원)에 판다는 소식을 듣고 주저하지 않고 구매했다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7383,"sizeSlug":"large","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2021/03/20210305_125919.jpg" alt="" class="wp-image-7383" /></figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>가격 대비 훌륭했다. 평소에 치던 채에 비해 다소 무거운 느낌은 있으나 헤드 무게를 잘 느낄 수 있을 것 같다. 풀스윙을 하는 채가 아니니 더더욱! 만족스럽다. 이제 실력만 준비되면 된다.</p>
<p><!-- /wp:paragraph --></p>
