---
layout: post
title: 캠프닉
date: 2021-10-19 18:58:55.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 여행
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '8783'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/8780"
---
<p><!-- wp:paragraph --></p>
<p>가끔 주말에 가까운 캠핑장에 가서 쉬고 온다. 텐트도 치고 타프(Tarp)도 친다. 모닥불 피고 고기도 구어먹는다. 단, 1박을 하지 않는다. 1박을 하지 않기 때문에 캠핑은 아닌 것 같다. 그래서 누군가 캠프닉(campnic)이란 말을 만들었나 보다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">캠프닉(<meta charset="utf-8" />campnic) = 캠핑(camping) + 피크닉(picnic)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>단점</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>캠핑장을 예약하기가 쉽지 않다.</li>
<li>바람이 많이 불 때는 타프 설치하기가 너무 어렵다. </li>
<li>설치하고 철거하는 일을 당일에 하다보니 즐기는 시간이 적어진다. 설치하고 철거하는 것 자체가 즐기는 과정이라는 생각도 하지만 노동은 노동이다. </li>
<li>장비를 찾아보고 하나씩 구매하게 된다. 뭔가를 사고 싶어진다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p>장점</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:list --></p>
<ul>
<li>답답한 일상에서 벗어나 잠시나마 에너지 충전의 기회를 주기도 한다.</li>
<li>야외에서 먹는 즐거움이 있다. </li>
<li>아이들과 함께 할 수 있는 활동들이 있다. 예를 들어 축구, 연날리기, 모닥불 피우기, 텐트에서 보드게임 하기.</li>
<li>지인들과 함께 가면 소소한 대화의 즐거움이 있다.</li>
</ul>
<p><!-- /wp:list --></p>
<p><!-- wp:image {"id":8782,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2021/10/fire-830x1024.jpg" alt="" class="wp-image-8782" /></figure>
<p><!-- /wp:image --></p>
