---
layout: post
title: 시도니아의 기사
date: 2021-12-17 11:14:03.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9016'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9011"
---
<p><!-- wp:paragraph --></p>
<p>오래 전에 <a rel="noreferrer noopener" href="https://bomchoon.kr/archives/4790" data-type="post" data-id="4790" target="_blank">시도니아의 기사</a>를 재밌게 봤다. TV판으로 시즌1, 시즌2를 봤었고 요약한 극장판을 끝으로 잊고 있었다. 사실 끝이 애매하게 끝나서 시즌3가 나오는 건가? 하는 생각을 했는데 오랫동안 소식이 없었다. 가끔 찾아보긴 했었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>새로운 극장판이 나왔다. 시도니아의 기사 : 사랑을 잣는 별(Knights of Sidonia: Love Woven in the Stars, シドニアの騎士　あいつむぐほし, 2021)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>생략된 내용이 많은 것 같다. 하지만 잘 마무리했다. 고화질로 다시 한번 보고 싶다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":9013,"sizeSlug":"large","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2021/12/FGm7c-kVkAMvHFE-883x1024.jpeg" alt="" class="wp-image-9013" /><br />
<figcaption><a href="https://sidonia-anime.jp" target="_blank" rel="noreferrer noopener">https://sidonia-anime.jp</a></figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">잣다: 물레 따위로 섬유에서 실을 뽑다. (출처: <a rel="noreferrer noopener" href="https://ko.dict.naver.com/#/entry/koko/98a4e7b296254468bc26549408c76c9b" target="_blank">네이버</a>)</p>
<p><!-- /wp:paragraph --></p>
