---
layout: post
title: 행복의 지도
date: 2021-12-03 15:18:55.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 글쓰기
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '8834'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/8793"
---
<p><!-- wp:paragraph --></p>
<p>내 행복의 지도를 그리기 위해 내 마음에 있는 방들을 탐색합니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>눈의 방</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>이곳은 오래된 곳입니다. 다양한 눈들로 가득합니다. 부모님의 눈, 아내의 눈, 자식들의 눈, 직장 동료의 눈, … 이 방에 있으면 내가 뭐를 좋아하는지, 무엇을 하고 싶은지 느끼지 못합니다. 그래서 이곳은 박물관으로 만들어야겠습니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8835,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/pexels-photo-137041.jpeg" alt="silhouette of people" class="wp-image-8835" /><br />
<figcaption>Photo by Scott Webb on <a href="https://www.pexels.com/photo/silhouette-of-people-137041/" rel="nofollow">Pexels.com</a></figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>가면의 방</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>이곳은 멋진 가면들이 많습니다. 기쁜 척, 많이 아는 척, 잘난 척, 똑똑한 척, 힘든 척, … 할 수 있게 만드는 가면들입니다. 이 방바닥에는 몇 가지 키워드가 있습니다. 비교, 경쟁, …<br />이 가면 때문에 지금의 내가 있었다는 것을 알았습니다. 부인하지 않겠다고 선언하고 고맙다고 적어 놓습니다. 하지만, 이 방은 문이 쉽게 열리지 않도록 수리를 해 놓습니다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8836,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/pexels-photo-1144283.jpeg" alt="assorted color mask" class="wp-image-8836" /><br />
<figcaption>Photo by hitesh choudhary on <a href="https://www.pexels.com/photo/assorted-color-mask-1144283/" rel="nofollow">Pexels.com</a></figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>취약점의 방</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>와우! 이곳은 서류로 가득합니다. 서류 하나하나를 읽어보니, 약점 목록과 설명이 자세하게 기록되어 있습니다. 그런데, 아무나 볼 수 없는 암호가 걸려있네요. 용기를 내어 이 모든 서류에 암호를 풀었습니다. 그래도 몇 개는 남겼습니다. 그리고 이 약점을 사람들이 잘 볼 수 있도록 게시했습니다. 내 약점은 부끄러운 것이 아니니까요. 그리고 나니 실패도 그리 부끄러운 것이 아니군요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8837,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/book-bible-page-prayer-159510.jpeg" alt="brown paper book" class="wp-image-8837" /><br />
<figcaption>Photo by Pixabay on <a href="https://www.pexels.com/photo/brown-paper-book-159510/" rel="nofollow">Pexels.com</a></figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:heading {"level":4} --></p>
<h4>행복의 방</h4>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph --></p>
<p>이 방은 앞에 있는 3개의 방을 통과해야 올 수 있는 그런 방이었네요. 지나온 3개의 방이 소중한 방이었군요. 이 방을 살펴보았습니다. 사소한 내용으로 가득합니다. 아들, 딸의 미소, 다른 사람이 고맙다고 했던 일에 대한 기록, 맛있는 라면을 먹은 것, 힘들 때 먹었던 소주, 나의 아저씨를 보며 울었던 기억, … 별것 아닌 것들로 가득합니다. 이 글 쓰고 밥 먹으러 가야지 하는 말도 적혀있습니다. 별거 아닌 방이었군요. 그런데, 이 방에는 오래 머물고 싶네요.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":8838,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2021/12/pexels-photo-7014510.jpeg" alt="unrecognizable person pasting photos in family album" class="wp-image-8838" /><br />
<figcaption>Photo by George Milton on <a href="https://www.pexels.com/photo/unrecognizable-person-pasting-photos-in-family-album-7014510/" rel="nofollow">Pexels.com</a></figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>행복의 지도를 그려봤습니다. </p>
<p><!-- /wp:paragraph --></p>
