---
layout: post
title: Fate/stay night - Heaven's Feel
date: 2021-08-30 22:23:02.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '7477'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/7475"
---
<p><!-- wp:paragraph --></p>
<p>오랫동안 기다렸던 <a rel="noreferrer noopener" href="https://namu.wiki/w/%EA%B7%B9%EC%9E%A5%ED%8C%90%20%ED%8E%98%EC%9D%B4%ED%8A%B8%20%EC%8A%A4%ED%85%8C%EC%9D%B4%20%EB%82%98%EC%9D%B4%ED%8A%B8%20%ED%97%A4%EB%B8%90%EC%A6%88%20%ED%95%84%20%EC%A0%9C3%EC%9E%A5%20%EC%8A%A4%ED%94%84%EB%A7%81%20%EC%86%A1" target="_blank">극장판 페이트/스테이 나이트 [헤븐즈 필] 제3장 스프링 송 (2020)</a>을 이제야 봤다. 역시 재밌다. 극장에서 보려고 했었으나 코로나 때문에 포기했다. 언제 볼 수 있으려나 기다렸는데 볼 수 있는 기회가 생겼다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>세이버와 라이더의 전투 장면이 볼만했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":7476,"sizeSlug":"large","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2021/08/fate_HF_3-1024x576.jpg" alt="" class="wp-image-7476" /><br />
<figcaption><a rel="noreferrer noopener" href="https://namu.wiki/w/%EB%9D%BC%EC%9D%B4%EB%8D%94(5%EC%B0%A8)" target="_blank">라이더</a></figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>HF 시리즈 3편을 다 봤다. 연속해서 다시 한번 봐야겠다는 생각을...</p>
<p><!-- /wp:paragraph --></p>
