---
layout: post
title: 웨스트월드
date: 2022-09-06 19:34:29.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- J.J. 에이브럼스
- 안소니 홉킨스
- 에드 해리스
- 웨스트월드
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '9098'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9094"
---
<p><!-- wp:paragraph --></p>
<p><span style="color: var(--nv-text-color); font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff); background-color: var(--nv-site-bg);">꽤 오래 전, 2016년도에 시즌1을 흥미롭고 재밌게 봤다. </span></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><span style="color: var(--nv-text-color); font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff); background-color: var(--nv-site-bg);">새로운 시즌이 나온 것은 알고 있었지만 HBO를 찾아보기 귀찮았다. 잠시 보류하고 있던 차에 </span><a rel="noreferrer noopener" href="https://www.wavve.com" target="_blank">WAVVE(웨이브)</a> 덕분에 시즌2와 시즌3를 모아서 봤다. 시즌4까지 나왔지만 WAVVE에서는 아직 볼 수 없다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>시즌2는 시간대를 섞어놔서 줄거리를 이해하는 어려움을 겪었고 시즌3는 철학적인 내용을 많이 담고 싶었는지 설명이 많다. 시즌3를 끝으로 마무리하는 줄 알았는데 역시 끝나지 않는다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>황당한 스토리지만 충분히 재밌고 잔인하고 폭력적인 장면이 많기에 거부감을 느끼실 수 있겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":9095,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2022/09/weseuteuweoldeu.jpg" alt="" class="wp-image-9095" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
