---
layout: post
title: 나의 해방일지
date: 2022-06-09 22:19:42.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 박해영
- 손석구
- 해방일지
meta:
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9077'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9075"
---
<p><!-- wp:paragraph --></p>
<p>'나의 해방일지'를 밤새며 보았다. 많은 사람들의 인생 드라마인 '나의 아저씨'를 쓴 박해영님의 새로운 작품이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>드라마와 호흡을 같이하기 위해서는 초반의 지루함과 밋밋함을 참아야 한다. 그 고비를 지나면, 손석구의 매력에 빠진다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>어느 새, 내 삶의 이야기와 겹치기 시작한다. 드라마가 나에게 이야기하기 시작한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">'너는 무엇으로부터 해방되고 싶은가?'</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>낯선 단어에 대해 생각하게 된다. 처음엔 추앙, 마지막엔 환대.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>미칠 것 같은 갈등도 후련한 엔딩도 없다. 그저 그렇게 똑같은 톤으로 계속 이야기한다. 참 말을 많이한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>'나의 아저씨' 작가를 인증하듯 비슷한 타이밍에 눈물을 준다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>드라마를 보고 뭐가 남았을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>껍질에 쌓여 보지 못하고 있는 나를 보고 싶게 만든다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나를 구속하고 있는 수많은 것들로부터의 자유를 생각한다. 나의 해방일지에 마침표를 찍을 수 있을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9076,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2022/06/20220516_145342_7982.jpg" alt="" class="wp-image-9076" /></figure>
<p><!-- /wp:image --></p>
