---
layout: post
title: LG 소프트웨어 개발자 컨퍼런스
date: 2022-11-04 22:07:17.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
- 회사
tags:
- '2022'
- LG SDC
- LGSDC
- 개발자
- 개발자 컨퍼런스
- 개발자 행사
- 컨퍼런스
meta:
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9168'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9166"
---
<p><!-- wp:image {"id":9167,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2022/11/IMG_20221101_063120_958.jpeg" alt="" class="wp-image-9167" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">‘<strong>Connect</strong>연결, <strong>Grow</strong>성장, <strong>Outstand</strong>탁월‘를 슬로건으로 정했습니다. 서로 연결하고, 함께 성장하여, 모두가 탁월해지자는 뜻을 담았습니다. </p>
<p><strong>Connect</strong>는 연결입니다. 점은 선을 만들고 선은 면을 만듭니다. 서로 다른 개발자들과, 또 다른 세상의 새로운 가능성들과 연결합니다. <strong>Grow</strong>는 성장입니다. 연결한 나와 연결된 너와 합쳐진 우리는 함께 성장합니다. 우리는 더 나은 소프트웨어 개발자로 성장합니다. <strong>Outstand</strong>는 탁월입니다. 점은 커지고 선은 굵어지며 면은 확대됩니다. 소프트웨어 개발자로서 존경받고, 더욱 매력적인 LG를 그리며, 소프트웨어가 펼치는 좋은 세상(Life is Good) 만들어 갑니다. </p>
<p><!-- /wp:paragraph --></p>
