---
layout: post
title: 스파이 패밀리
date: 2022-05-16 22:27:29.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _last_editor_used_jetpack: block-editor
  _wpas_done_all: '1'
  _thumbnail_id: '9069'
  _edit_last: '1'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9067"
---
<p><!-- wp:image {"align":"center","id":9068,"sizeSlug":"large","linkDestination":"none"} --></p>
<div class="wp-block-image">
<figure class="aligncenter size-large"><img src="{{ site.baseurl }}/assets/img/2022/05/screenshot-1024x576.png" alt="" class="wp-image-9068" /><br />
<figcaption>Anya Forger</figcaption>
</figure>
</div>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>스파이 패밀리(SPY×FAMILY, スパイファミリー)</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>요즘 재밌게 보고 있다. 6화(총 25화)까지 봤다. 몰아서 봤으면 좋겠는데 매주 한 편씩 나오나 보다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>엄마(요르 포저, Yor Forger)와 딸(아냐 포저, Anya Forger)이 맘에 든다. ㅋㅋ</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>추천!</p>
<p><!-- /wp:paragraph --></p>
