---
layout: post
title: 끝없는 이야기
date: 2022-11-04 19:39:22.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 골프
tags:
- 골프
- 백돌이
- 스윙
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '9162'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9062"
---
<p><!-- wp:image {"id":9063,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2022/11/gscreenshot-1024x576.png" alt="" class="wp-image-9063" /><br />
<figcaption class="wp-element-caption">이글이글골프왕</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>4초 정도의 골프 스윙에 상상을 뛰어넘는 많은 가르침이 존재한다. 유튜브에 있는 엄청난 양의 채널과 레슨들을 보면 입이 딱 벌어진다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>골프는 여러 매력을 가지고 있다. 정복하기 쉽지 않고 큰 노력과 시행착오를 경험하게 된다. 특히 연습량이 부족하고 필드에 나갈 기회가 많치 않은 평범한 아마추어 골퍼에게는 실력 향상이 쉽지 않다. 골프는 아주 예민한 스포츠다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그런데도 좀 더 잘 맞는 샷을 원하고 일정 수준의 스코어가 꾸준히 나오는 안정적인 플레이를 하고 싶다. 욕심이다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>골프는 욕심을 내면 안 된다고 한다. 뭔가를 보여주고(증명해 보이고) 싶거나 잘하고 싶다는 마음을 먹으면, 미스샷으로 답하는 것이 골프다. 유튜브 '이글이글골프왕' 채널에 있는 영상을 보다가 공감이 되어 옮겨 적어본다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">잘하려고 했던 의도는 '구속'으로 이어집니다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>미세한 마음의 상태가 스윙과 샷에 반영된다. 그래서 골프를 멘탈 게임이라고도 부른다. 정말 예민하다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내 경험적 느낌은 눈에 보이는 것과 다르다. 눈에 보이는 것과 실제가 다르다는 것에 놀랄 때가 많다. 우리의 눈을 100% 믿을 수 없다는 사실에서 인생의 진리를 터득한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><span style="color: var(--nv-text-color); font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff); background-color: var(--nv-site-bg);">인간의 몸은 엄청난 능력을 갖추고 있다. </span>그래서 스윙에 문제가 있을 때 기가 막히게 그것을 보상하려는 동작이 나온다. 흔히 말하는 '보상 동작'은 우리 몸의 뛰어난 능력의 발현이다. 샷 결과와 상관없이 우리 몸은 똑똑하다. 그래서 문제를 지적하기 보다 왜 그런 현상이 나왔는지 이해하는 것이 좋다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>스윙에 대한 수많은 가르침은 다 맞는 이야기이다. 그러나 모두가 다 나에게 적합하지는 않다. 나에게 있는 변수들은 다른 사람들과 동일하지 않다. 알고보면 같은 이야기인데 수천가지 다른 표현으로 전달된다. 전달된 내용이 의도대로 이해되었는지는 확인할 방법이 없다.<span style="color: var(--nv-text-color); font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff); background-color: var(--nv-site-bg);"></span></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>드라이버가 잘 맞으면 아이언이 안 맞는다. 반대로 아이언이 잘 맞으면 드라이버가 맞지 않는다. 지난 번에는 웨지가 잘 되었는데 오늘은 웨지가 안된다. 지난 번에 벙커에서 기가 막히가 빠져 나왔는데 오늘은 철퍼덕 철퍼덕이다. 내 퍼팅 감각이 안 좋은 건지 그린 탓인지 퍼팅이 안된다. 그래서 미스샷을 최대한 줄이는 확률적인 경기를 하는 것이 필요한 것 같다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>언제 쯤 백돌이를 벗어날 수 있을까?</p>
<p><!-- /wp:paragraph --></p>
