---
layout: post
title: 기년회 2022
date: 2022-12-15 12:17:31.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
- 회고
tags:
- '2022'
- 기년회
- 회고
meta:
  _last_editor_used_jetpack: block-editor
  _oembed_99d54c06404c25ade498d4e7ee790a28: "{{unknown}}"
  _edit_last: '1'
  _thumbnail_id: '9175'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9174"
---
<p><!-- wp:paragraph --></p>
<p>많은 일이 있었던 2022년을 어떻게 회고하면, 좀 더 의미있고 기분이 좋아질 수 있을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이렇게 시도했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">1. 구글 포토에 저장된 사진들을 쭉 살펴 보면서 월 별로 어떤 일이 있었는지 메모 했다.<br />2. 메모한 내용을 키워드, 내용, 해석으로 분류(기록) 했다.<br />3. 위(1번, 2번) 내용을 참고해서 한 해를 요약하는 단어들을 뽑았다. 긍정과 부정으로 분류했다.<br />4. 내가 경험한 일에 대한 참조 모델이 있는지 찾아봤다. <a rel="noreferrer noopener" href="https://namu.wiki/w/죽음의 5단계" target="_blank">DABDA 모델</a>에 흥미를 느꼈다.<br />5. 새로운 경험들을 뽑아봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>한 해를 돌아보는데 충분한 시간이 되었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나의 회고를 어떻게 정리해서 지인들과 공유할까? 20장의 슬라이드를 15초씩 자동으로 넘기는 5분 발표, 이그나잇 발표 방식을 계속 사용했기 때문에 형식은 정해져 있었다. 다만, 그 형식을 어떻게 채울까가 관심사다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9176,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2022/12/2022_10_r-1024x576.jpg" alt="" class="wp-image-9176" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>2022년은 문장으로 작성했다. 내가 회고한 내용을 종합하여 문장으로 만들었다. 물론, 아래 내용은 부연 설명이 없으면 정확하게 이해할 수 없다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">- 중학교 올라간 딸과 초등학교 고학년이 된 아들이 개성을 잃지 않고 기특하게 성장하고 있다.<br />- 한계에 부딪쳤다. 주저앉았다. 하지만, 조금 더 강해졌다.<br />- 잃어버린 것들에 대한 상실감을 피할 수 없었다. 하지만, 소중한 사람을 얻었다.<br />- 술이 늘었다. 위스키가 좋다.<br />- 쿨한척했지만, 핫했다.<br />- 길을 찾았다. 하지만 여전히 질문을 던진다.<br />- 나이를 느끼기 시작했다.<br />- 성장이 없으면 정체되고 정체가 되면 재미가 없어진다.<br />- 아이들 친구 가족들과 여전히 추억 쌓기는 계속되고 있다.<br />- 새로운 가족이 생겼다. 바램이 현실이 되었다.<br />- 제프 베이조스의 교훈 5가지를 기억한다. 아쉽게도 개성을 잃었다.<br />- 잘한 일 세 가지를 매일 기록했다. 잘했다.<br />- 종합예술을 만들 수 있을까? 부담감이 컸다. 하지만, 성공적인 결과를 얻었다.<br />- 2023년은 쇼부치는 해가 되어야 한다.<br />- 새로운 사람들과 변화를 만들고 싶다.<br />- 성장, 자기 효능, 만족을 경험하고 싶다.<br />- 잃어버린 내 개성을 찾고 싶다.<br />- "너희로 소원을 두고 행하게 하시나니"를 기억한다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>전체 작성된 자료는 <a rel="noreferrer noopener" href="http://bit.ly/bomchoon2022" target="_blank">2022년 회고</a>에 공유했다. <a href="http://pitch.com" target="_blank" rel="noreferrer noopener">pitch</a> 서비스(툴)를 사용했다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝></p>
<p><!-- /wp:paragraph --></p>
