---
layout: post
title: 나에게 맞는 골프공
date: 2022-11-04 19:11:51.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 골프
tags:
- 골프
- 골프공
- 다이아윙스
- 캘러웨이
- 크롬소프트
- 테일러메이트
- 투어리스폰
meta:
  _last_editor_used_jetpack: block-editor
  _edit_last: '1'
  _thumbnail_id: '9150'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9138"
---
<p><!-- wp:paragraph --></p>
<p>골프를 시작했을 때는, 로스트 볼을 주로 사용했다. 필드에 가면 많이 잃어버리기 때문에 새 공을 쓴다는 것은 상상하기 힘들다. 당연하게도 공의 종류에 크게 관심을 두지 않았다. 다른 사람의 흔적이 적고 상태가 좋으면 그만이었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>필드 경험이 쌓이기 시작하면서 공의 분실이 줄어들었다. 상대적으로 공에 대한 관심은 증가했다. 2 피스, 3 피스라는 것도 알게 되고 공마다 느낌이 다르다는 것도 알게 되었다. 그러다 보니 어떤 공을 칠 때는 기분이 좋고 어떤 공을 칠 때는 만족감이 떨어졌다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>공의 종류와 상관없이 골프 실력이 99% 일 텐데, 공에 따라 영향을 받는다는 심리적 작용이 생긴다. 그래서 요즘은 어떤 공으로 쳤는지 확인한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>이런 근거 없는 믿음이 예민한 골프에 작용한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>어쨌든, 아마존에서 Bridgestone 사의 <a rel="noreferrer noopener" href="https://www.11st.co.kr/products/pa/3706481772" target="_blank">e12</a> 공을 샀다. 3 피스 공을 쓰기에는 무리가 있는 실력이지만 나름의 브랜드가 있는 회사의 새 공을 사보고 싶다는 생각에 구매했다. 사용기와 설명을 읽어보니 더더욱 믿음이 생겼다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9139,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full"><img src="{{ site.baseurl }}/assets/img/2022/11/b44eeded-2aeb-4a55-b505-bb3458fabfdc.__CR00970600_PT0_SX970_V1__.jpg" alt="" class="wp-image-9139" /><br />
<figcaption class="wp-element-caption">Bridgestone Golf 컨택트 골프공 2021 e12, 화이트</figcaption>
</figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>이 공은 나에게 어땠을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>절대 위 그림처럼 똑바로 가지 않고 오른쪽으로 아주 잘 휜다. 내 스윙 때문이겠지만 유독 e12를 사용하면 강하게 휜다. 필드에서 반복적으로 경험하게 되니 e12 공을 사랑할 수 없었다. e12는 나와 맞지 않는 공으로 인증되었다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그렇다면 어떤 공이 나에게 만족감을 줬을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:columns --></p>
<div class="wp-block-columns"><!-- wp:column {"style":{"color":{"background":"#ffe97d","text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} --></p>
<div class="wp-block-column has-text-color has-background has-link-color" style="color:#000000;background-color:#ffe97d;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"textAlign":"center","fontSize":"medium"} --></p>
<h2 class="has-text-align-center has-medium-font-size" id="single"><strong>투어 리스폰</strong></h2>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":"1.5"}},"fontSize":"normal"} --></p>
<p class="has-text-align-center has-normal-font-size" style="line-height:1.5"><strong>TaylorMade</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:separator {"opacity":"css","style":{"color":{"background":"#000000"}},"className":"is-style-wide"} --></p>
<hr class="wp-block-separator has-text-color has-css-opacity has-background is-style-wide" style="background-color:#000000;color:#000000" />
<!-- /wp:separator --></p>
<p><!-- wp:list {"fontSize":"normal"} --></p>
<ul class="has-normal-font-size"><!-- wp:list-item --></p>
<li>파3에서 이 공을 치면 니어가 잘 나옴</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li>믿음직스럽고 신뢰도가 높은 공</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li>잃어버리면 돈이 아까움</li>
<p><!-- /wp:list-item --></ul>
<p><!-- /wp:list --></p>
<p><!-- wp:spacer {"height":"32px"} --></p>
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<p><!-- /wp:spacer --></p>
<p><!-- wp:image {"id":9144,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} --></p>
<figure class="wp-block-image size-full is-style-rounded"><img src="{{ site.baseurl }}/assets/img/2022/11/download.jpg" alt="" class="wp-image-9144" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:spacer {"height":"32px"} --></p>
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<p><!-- /wp:spacer --></p>
<p><!-- wp:jetpack/rating-star {"rating":4.5,"align":"center"} --></p>
<figure class="wp-block-jetpack-rating-star" style="text-align:center"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></figure>
<p><!-- /wp:jetpack/rating-star --></div>
<p><!-- /wp:column --></p>
<p><!-- wp:column {"style":{"color":{"background":"#d1d1e1","text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} --></p>
<div class="wp-block-column has-text-color has-background has-link-color" style="color:#000000;background-color:#d1d1e1;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"textAlign":"center","fontSize":"medium"} --></p>
<h2 class="has-text-align-center has-medium-font-size" id="family"><strong>크롬 소프트</strong></h2>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":"1.5"}},"fontSize":"normal"} --></p>
<p class="has-text-align-center has-normal-font-size" style="line-height:1.5"><strong>Callaway</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:separator {"opacity":"css","className":"is-style-wide"} --></p>
<hr class="wp-block-separator has-css-opacity is-style-wide" />
<!-- /wp:separator --></p>
<p><!-- wp:list {"fontSize":"normal"} --></p>
<ul class="has-normal-font-size"><!-- wp:list-item --></p>
<li>임팩트 시 쫀득쫀득한 느낌</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li>방향성이 좋음</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li>연습볼(Practice)을 사면 상대적으로 저렴하게 살 수 있음</li>
<p><!-- /wp:list-item --></ul>
<p><!-- /wp:list --></p>
<p><!-- wp:spacer {"height":"32px"} --></p>
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<p><!-- /wp:spacer --></p>
<p><!-- wp:image {"id":9147,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} --></p>
<figure class="wp-block-image size-full is-style-rounded"><img src="{{ site.baseurl }}/assets/img/2022/11/md_I1fkycYKDj18_r.jpg" alt="" class="wp-image-9147" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:spacer {"height":"32px"} --></p>
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<p><!-- /wp:spacer --></p>
<p><!-- wp:jetpack/rating-star {"rating":4.5,"align":"center"} --></p>
<figure class="wp-block-jetpack-rating-star" style="text-align:center"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></figure>
<p><!-- /wp:jetpack/rating-star --></div>
<p><!-- /wp:column --></p>
<p><!-- wp:column {"style":{"color":{"background":"#c0ebf1","text":"#000000"},"elements":{"link":{"color":{"text":"#000000"}}},"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}}}} --></p>
<div class="wp-block-column has-text-color has-background has-link-color" style="color:#000000;background-color:#c0ebf1;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"textAlign":"center","fontSize":"medium"} --></p>
<h2 class="has-text-align-center has-medium-font-size" id="patron"><strong>M5</strong></h2>
<p><!-- /wp:heading --></p>
<p><!-- wp:paragraph {"align":"center","fontSize":"normal"} --></p>
<p class="has-text-align-center has-normal-font-size"><strong>Diawings</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:separator {"opacity":"css","className":"is-style-wide"} --></p>
<hr class="wp-block-separator has-css-opacity is-style-wide" />
<!-- /wp:separator --></p>
<p><!-- wp:list {"fontSize":"normal"} --></p>
<ul class="has-normal-font-size"><!-- wp:list-item --></p>
<li>공 크기가 약간 작음</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li>2피스 공으로 초보자에게 비거리를 보장해 줌</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li>바람에 약해서 공이 높이 뜨면 영향을 받음</li>
<p><!-- /wp:list-item --></ul>
<p><!-- /wp:list --></p>
<p><!-- wp:spacer {"height":"32px"} --></p>
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<p><!-- /wp:spacer --></p>
<p><!-- wp:image {"id":9146,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded"} --></p>
<figure class="wp-block-image size-full is-style-rounded"><img src="{{ site.baseurl }}/assets/img/2022/11/9864375_3.jpeg" alt="" class="wp-image-9146" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:spacer {"height":"32px"} --></p>
<div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
<p><!-- /wp:spacer --></p>
<p><!-- wp:jetpack/rating-star {"rating":4,"align":"center"} --></p>
<figure class="wp-block-jetpack-rating-star" style="text-align:center"><span>★</span><span>★</span><span>★</span><span>★</span></figure>
<p><!-- /wp:jetpack/rating-star --></p>
<p><!-- wp:buttons {"align":"full","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} --></p>
<div class="wp-block-buttons alignfull"></div>
<p><!-- /wp:buttons --></div>
<p><!-- /wp:column --></div>
<p><!-- /wp:columns --></p>
<p><!-- wp:paragraph --></p>
<p> &lt;끝&gt;</p>
<p><!-- /wp:paragraph --></p>
