---
layout: post
title: 샌드맨
date: 2022-09-12 21:25:50.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 넷플릭스
meta:
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9131'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9124"
---
<p><!-- wp:paragraph --></p>
<p>넷플릭스가 보라고 하길래 그냥 아무 정보없이 시작했다가 시즌1 끝까지 보게 된 드라마다. 이후 시즌이 기대가 된다. 남자 배우의 목소리가 무척 매력적이다. 어둡고 차가우며 침착하다. 원작(닐 게이먼, 샌드맨)이 있다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>자세한 내용은 역시 <a rel="noreferrer noopener" href="https://namu.wiki/w/%EC%83%8C%EB%93%9C%EB%A7%A8(%EB%93%9C%EB%9D%BC%EB%A7%88)" target="_blank">나무위키</a>에서 읽어보면 된다. 개인적으로 무척 재밌게 봤고 드라마가 주는 분위기를 즐길 수 있어서 좋다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":9126,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2022/09/&#49356;&#46300;&#47592;_1&#49884;&#51596;_1&#54924;_&#45367;&#54540;&#47533;&#49828;_&#50724;&#47532;&#51648;&#45328;_&#46300;&#46972;&#47560;_&#53080;&#49828;&#53444;&#54004;12.jpg" alt="" class="wp-image-9126" /></figure>
<p><!-- /wp:image --></p>
