---
layout: post
title: 기묘한 이야기 시즌4
date: 2022-09-06 20:04:16.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 드라마
tags:
- 기묘한 이야기
meta:
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9100'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9099"
---
<p><!-- wp:paragraph --></p>
<p>언제였을까? 시즌3를 재밌게 봤다. 스케일도 커지고 흥미진진했다. 다음 시즌이 필요없을 만큼 이야기 마무리도 훌륭했던 기억이 난다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그런데, 시즌4가 나왔다. 흥미는 없었다. 시즌3에서 이야기의 끝을 경험했기에 굳이 시즌4를 보고 싶은 생각은 들이 않았다. 종이의 집 파트2에서 멈춘 이유와 비슷하다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>심심한 느낌에 시즌4를 보게 되었다. 초반, 꽤 지루했다. 약간 억지스럽기도 했다. 3가지 장소에서 3가지 이야기가 겹쳐서 진행된다. 재미를 못느꼈다. 시작했으니 끝까지 보자는 의무감으로 봤다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>내가 대신 변명해 볼까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>시즌4는 기묘한 이야기가 왜 시작되었는지 그 시작점을 설명한다. 그리고 더 커진 이야기로 확장하려고 한다(근데, 시즌5로 끝낸단다). 그래서 그 설명이 다소 지루하고 억지스럽게 느껴진다. 이해는 간다. 변명이 궁색하다. 어쨌거나 다음 이야기를 궁금하게 만들었으니 지루함에도 불구하고 성공은 한 것 같다. 그래서 괜히 시즌4를 봤나 하는 생각이 든다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>여담인데, 주인공들이 많이 컸다. 그래서 약간 낯설게 느껴진다. 헤리포터 때 느꼈던 그 느낌 말이다.<span style="color: var(--nv-text-color); font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,var(--nv-fallback-ff); background-color: var(--nv-site-bg);"></span></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>참고: 처음 봤을 때 느낌은 <a href="https://bomchoon.kr/archives/5975" data-type="post" data-id="5975">기묘한 이야기</a> 에서</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":9101,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2022/09/FL1UJLvaAAAb1WV.jpg" alt="" class="wp-image-9101" /></figure>
<p><!-- /wp:image --></p>
