---
layout: post
title: 오래 전 물리 노트
date: 2022-06-21 00:06:38.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 일상
tags:
- 노트
meta:
  _last_editor_used_jetpack: block-editor
  _oembed_e92fb8ecd2ba3394bf37bc001494fcee: <iframe title="유미리 - 젊음의 노트 (1986)" width="1200"
    height="900" src="https://www.youtube.com/embed/3xQCl84PiI4?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_e92fb8ecd2ba3394bf37bc001494fcee: '1655737523'
  _edit_last: '1'
  _thumbnail_id: '9083'
  _oembed_357b60fb4f2e39b5f944a041569957f7: <iframe title="유미리 - 젊음의 노트" width="1200"
    height="675" src="https://www.youtube.com/embed/5prg4OSD7_0?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_25e99ce64c45619186f7d2ce2ebf906a: <iframe title="유미리 - 젊음의 노트" width="1200"
    height="675" src="https://www.youtube.com/embed/5prg4OSD7_0?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  _oembed_time_25e99ce64c45619186f7d2ce2ebf906a: '1671585062'
  _oembed_time_357b60fb4f2e39b5f944a041569957f7: '1671585178'
  _oembed_d0071a81b805927a44efc62d94967da4: <iframe title="유미리 - 젊음의 노트" width="500"
    height="281" src="https://www.youtube.com/embed/5prg4OSD7_0?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
    web-share" allowfullscreen></iframe>
  _oembed_time_d0071a81b805927a44efc62d94967da4: '1697866221'
  _oembed_9822b82721e4db7ec6740fbc2e0cf18f: "{{unknown}}"
  _oembed_4d431f9972781201b862c0328057d14c: <iframe title="유미리 - 젊음의 노트" width="500"
    height="281" src="https://www.youtube.com/embed/5prg4OSD7_0?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
    web-share" allowfullscreen></iframe>
  _oembed_time_4d431f9972781201b862c0328057d14c: '1697866220'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9082"
---
<p><!-- wp:paragraph --></p>
<p>아들이 노트에 스크랩하고 뭔가를 적고 있다. 아들에게 비슷한 아빠의 흔적을 보여 주고 싶다는 생각이 들었다. 신문 사설을 잘라 붙이고 내 의견을 썼던 노트가 어딘가에 있다. 그러나 찾을 수 없었다. 대신 고등학교 때 작성했던 물리노트를 찾았다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"align":"center","id":9084,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2022/06/IMG_20220619_225705.jpg" alt="" class="wp-image-9084" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>오래 전 나를 다시 볼 수 있었다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>나는 오와 열을 똑바로 맞추고 깔끔하게 정리하는 것을 좋아했던 학생이었다. 글씨를 쓰고 그림을 그리고 분류하고 정리하는 것을 좋아했던 학생! 어쩌면 지금의 나와 참 비슷하다. 어렸을 때부터 그랬던 것 같다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>노트를 쭉 훓어보면서 이런 생각이 들었다. 저 시절 나는,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">저렇게 노트하는 것을 정말 좋아하고 뿌듯하게 느꼈었구나   </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>그렇다면, 지금의 나는, </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph {"backgroundColor":"nv-light-bg"} --></p>
<p class="has-nv-light-bg-background-color has-background">무엇을 좋아하고 어떤 일에 뿌듯함을 느끼며 나만의 컬렉션을 모으고 있을까?</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:embed {"url":"https://youtu.be/5prg4OSD7_0","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://youtu.be/5prg4OSD7_0
</div>
<figcaption class="wp-element-caption">내 젊음의 빈 노트에 무엇을 채워야하나/내 젊음의 빈 노트에 무엇을 그려야할까/내 젊음의 빈 노트에 무엇을 써야만하나</figcaption>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝&gt;</p>
<p><!-- /wp:paragraph --></p>
