---
layout: post
title: 최애의 아이
date: 2023-06-25 17:51:06.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags: []
meta:
  _edit_last: '1'
  _last_editor_used_jetpack: block-editor
  _thumbnail_id: '9311'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9309"
---
<p><!-- wp:paragraph --></p>
<p>예상치 못한 재미가 있다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>만화도 연재 중인 것 같고, 애니매이션으로 10화까지 몰아서 봤다. 궁금한데 또 기다림이 필요할 것 같다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>첫 인상은, 반전이 있는 장르라고 해야할까? 낯선 느낌이 좀 들었다. 이제는 내용도 기억나지 않는 '코드 기아스 반역의 를르슈' 주인공이 자주 떠올랐다. '눈', 보면 안다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>최근 멜론 '애니메이션 OST TOP100' 첫 번째 곡을 듣고 '이게 뭔 노래야? 시끌시끌하네...'라고 느꼈던 곡이 이 애니매이션의 주제가였다. 곡명은 アイドル(아이돌), YOASOBI라는 그룹이 불렀다. 댓글을 보니, '절대로 보기 전에 듣지 말 것', 100%공감한다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9310,"width":500,"height":500,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image size-full is-resized"><img src="{{ site.baseurl }}/assets/img/2023/06/11250403_20230524085012_1000.jpeg" alt="" class="wp-image-9310" width="500" height="500" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p>1화가 좀 길고 충격(?)적이다. 연예계, SNS와 관련된 현실적인 이야기도 등장한다. 슬픔, 웃음, 정보, 반전, 진지함, ... 다양한 경험을 해볼 수 있겠다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>애니매이션 제작사가 '동화공방(動画工房, DOGA Kobo)' 인데 무척 낯설다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
