---
layout: post
title: 스즈메의 문단속
date: 2023-09-10 16:44:28.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 애니메이션
tags:
- 신카이 마코토
meta:
  _last_editor_used_jetpack: block-editor
  _oembed_1ad0bfc45ce1ca7c3e575948fa2b366f: <iframe title="꿈 속으로(夢の中へ)" width="1200"
    height="675" src="https://www.youtube.com/embed/GJeIxqV0ToY?feature=oembed" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
    web-share" allowfullscreen></iframe>
  _oembed_time_1ad0bfc45ce1ca7c3e575948fa2b366f: '1694331353'
  _oembed_335b0c2887be73fda90bcbcf8542becf: <iframe title="Blu-ray BOX 発売記念に庵野秀明監督が新たに編集した映像公開！|
    彼氏彼女の事情 | PR映像" width="1200" height="675" src="https://www.youtube.com/embed/Eyr9S9M6SgY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_335b0c2887be73fda90bcbcf8542becf: '1694331802'
  _edit_last: '1'
  _oembed_90728d63c9171762c3c621c9bd2f7b58: <iframe title="彼氏彼女の事情 夢の中へ (榎本温子･鈴木千尋)"
    width="1200" height="900" src="https://www.youtube.com/embed/waEyIxqLlSM?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _thumbnail_id: '9331'
  _oembed_time_90728d63c9171762c3c621c9bd2f7b58: '1694332055'
  _oembed_cf9b9ee453b34e7c9e5d58b4d9833492: <iframe title="彼氏彼女の事情 夢の中へ (榎本温子･鈴木千尋)"
    width="500" height="375" src="https://www.youtube.com/embed/waEyIxqLlSM?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_cf9b9ee453b34e7c9e5d58b4d9833492: '1697866224'
  _oembed_4689bd7451035c75bdf6b63b451ffa19: <iframe title="Blu-ray BOX 発売記念に庵野秀明監督が新たに編集した映像公開！|
    彼氏彼女の事情 | PR映像" width="500" height="281" src="https://www.youtube.com/embed/Eyr9S9M6SgY?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_4689bd7451035c75bdf6b63b451ffa19: '1697866224'
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9326"
---
<p><!-- wp:paragraph --></p>
<p>어떤 내용인지 모른 상태에서 봤다. 전작 '너의 이름은', '날씨의 아이'가 재난을 주제로 했었는데, 본 작품은 '지진'을 주제로 한다. 전작에 비해 액션씬이 많이 나와서 흥미진진하게 봤던 것 같다. 개인적으로 2가지가 인상적이었는데,</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p><strong>첫번째, 고베 지진에 대한 기억</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>방송에서, 신문에서 오른쪽에 있는 저 고가차도가 쓰러진 걸 본 기억이 난다. 고베 지진. 1995년도 여름, 일본에 잠깐 갔을 때, 고베에 있었던 지인으로부터 지진 경험을 들었던 것도 기억난다. 몸이 천장까지 올라갈 정도였다고. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>아래 장면에서 그 기억이 떠올랐다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9327,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2023/09/vlcsnap-2023-09-10-15h47m16s187-1024x428.png" alt="" class="wp-image-9327" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:image {"align":"center","id":9328,"sizeSlug":"full","linkDestination":"none"} --></p>
<figure class="wp-block-image aligncenter size-full"><img src="{{ site.baseurl }}/assets/img/2023/09/x6JLDTTsluk94DfxZUnxg83mWrgL-eX0awVLEjabs_OA0avvxW-mX_hoo4GlhVoEIqyasOvzEqy0rhqpisMTxZD4rGrkVxo6m0NWgTztprXtYCE89JvKJVnx-NG7BtV_y0OCd067_56CS91KkjuSHw_r.png" alt="" class="wp-image-9328" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:paragraph --></p>
<p><strong>두번째, 추억 소환! 그 남자 그 여자의 사정</strong></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>깜짝 놀랐다. 내가 아직도 이 노래를 기억하고 있다는 사실이... 찾아보니, 엔딩곡인 '꿈 속으로(夢の中へ)'이다. '그 남자 그 여자의 사정'은 오래 전 참 좋아했던 만화였고 애니였다. </p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:image {"id":9330,"sizeSlug":"large","linkDestination":"none"} --></p>
<figure class="wp-block-image size-large"><img src="{{ site.baseurl }}/assets/img/2023/09/vlcsnap-2023-09-10-16h40m10s366-1024x428.png" alt="" class="wp-image-9330" /></figure>
<p><!-- /wp:image --></p>
<p><!-- wp:embed {"url":"https://youtu.be/waEyIxqLlSM?si=tnGCkqPntvJafqID","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-4-3 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://youtu.be/waEyIxqLlSM?si=tnGCkqPntvJafqID
</div>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>오래 전 추억이 떠오른다. 오프닝도 다시 들어보자!</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:embed {"url":"https://youtu.be/Eyr9S9M6SgY?si=rfKKkZWhFjz4oZj1","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://youtu.be/Eyr9S9M6SgY?si=rfKKkZWhFjz4oZj1
</div>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:paragraph --></p>
<p>&lt;끝></p>
<p><!-- /wp:paragraph --></p>
