---
layout: post
title: LG SDC 2023 스케치 영상
date: 2023-09-24 23:29:05.000000000 +09:00
type: post
parent_id: '0'
published: true
password: ''
status: publish
categories:
- 개발
- 회사
tags:
- '2023'
- LG SDC 2023
- LGSDC
- 개발자
- 개발자 컨퍼런스
- 개발자 행사
- 컨퍼런스
meta:
  _last_editor_used_jetpack: block-editor
  _oembed_51164f2667a5c53d912570a83f6b1756: <iframe title="LG Software Developer Conference
    2023 스케치 영상" width="1200" height="675" src="https://www.youtube.com/embed/C0n0YWPppuo?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_51164f2667a5c53d912570a83f6b1756: '1697031586'
  _oembed_c31e5be27ec4d14d0f5744a2d8fdc4a5: '<blockquote class="wp-embedded-content"
    data-secret="lM0C2WfM9G"><a href="https://live.lge.co.kr/lg-sdc-2023/">LG전자, 소프트웨어
    개발자 콘퍼런스 개최</a></blockquote><iframe class="wp-embedded-content" sandbox="allow-scripts"
    security="restricted" style="position: absolute; clip: rect(1px, 1px, 1px, 1px);"
    title="&#8220;LG전자, 소프트웨어 개발자 콘퍼런스 개최&#8221; &#8212; LiVE LG - LG전자 소셜 매거진" src="https://live.lge.co.kr/lg-sdc-2023/embed/#?secret=lM0C2WfM9G"
    data-secret="lM0C2WfM9G" width="600" height="338" frameborder="0" marginwidth="0"
    marginheight="0" scrolling="no"></iframe>'
  _oembed_time_c31e5be27ec4d14d0f5744a2d8fdc4a5: '1695565451'
  _edit_last: '1'
  _thumbnail_id: '9344'
  _oembed_581b8a4a019f53d1dcedff612270a8ac: '<blockquote class="wp-embedded-content"
    data-secret="ij3cfzHDg7"><a href="https://www.lgnewsroom.com/2023/09/lg-hosts-software-developer-conference-2023-to-boost-internal-software-capabilities/">LG
    Hosts ‘Software Developer Conference 2023’ to Boost Internal Software Capabilities</a></blockquote><iframe
    class="wp-embedded-content" sandbox="allow-scripts" security="restricted" style="position:
    absolute; clip: rect(1px, 1px, 1px, 1px);" title="&#8220;LG Hosts ‘Software Developer
    Conference 2023’ to Boost Internal Software Capabilities&#8221; &#8212; LG NEWSROOM"
    src="https://www.lgnewsroom.com/2023/09/lg-hosts-software-developer-conference-2023-to-boost-internal-software-capabilities/embed/#?secret=ij3cfzHDg7"
    data-secret="ij3cfzHDg7" width="600" height="338" frameborder="0" marginwidth="0"
    marginheight="0" scrolling="no"></iframe>'
  _oembed_time_581b8a4a019f53d1dcedff612270a8ac: '1697031588'
  footnotes: ''
  _oembed_962777f41a0b0ed09df39146d575be36: "{{unknown}}"
  _oembed_9316b457efc12c72c03fcdfa72203856: <iframe title="LG Software Developer Conference
    2023 스케치 영상" width="500" height="281" src="https://www.youtube.com/embed/C0n0YWPppuo?feature=oembed"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  _oembed_time_9316b457efc12c72c03fcdfa72203856: '1697866256'
  _oembed_01ae3ff6631ac384532bc73761c567f8: "{{unknown}}"
  _oembed_227fde2c8af83c882950d6e8370f0445: '<blockquote class="wp-embedded-content"
    data-secret="hqDzcL0pXs"><a href="https://www.lgnewsroom.com/2023/09/lg-hosts-software-developer-conference-2023-to-boost-internal-software-capabilities/">LG
    Hosts ‘Software Developer Conference 2023’ to Boost Internal Software Capabilities</a></blockquote><iframe
    class="wp-embedded-content" sandbox="allow-scripts" security="restricted" style="position:
    absolute; clip: rect(1px, 1px, 1px, 1px);" title="&#8220;LG Hosts ‘Software Developer
    Conference 2023’ to Boost Internal Software Capabilities&#8221; &#8212; LG NEWSROOM"
    src="https://www.lgnewsroom.com/2023/09/lg-hosts-software-developer-conference-2023-to-boost-internal-software-capabilities/embed/#?secret=hqDzcL0pXs"
    data-secret="hqDzcL0pXs" width="500" height="282" frameborder="0" marginwidth="0"
    marginheight="0" scrolling="no"></iframe>'
  _oembed_time_227fde2c8af83c882950d6e8370f0445: '1697866256'
  _oembed_3a8b6677a59a8128e4556b7c74218f9c: "{{unknown}}"
author:
  login: choonsik
  email: choonsik@gmail.com
  display_name: bomchoon
  first_name: 춘식
  last_name: 이
permalink: "/archives/9340"
---
<p><!-- wp:paragraph --></p>
<p>2023년 LG 소프트웨어 개발자 컨퍼런스(LG Software Developer Conference 2023, LG SDC 2023)가 끝났다.</p>
<p><!-- /wp:paragraph --></p>
<p><!-- wp:embed {"url":"https://www.youtube.com/watch?v=C0n0YWPppuo","type":"video","providerNameSlug":"youtube","responsive":true,"align":"center","className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} --></p>
<figure class="wp-block-embed aligncenter is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
<div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=C0n0YWPppuo
</div>
<figcaption class="wp-element-caption">LG SDC 2023 스케치 영상</figcaption>
</figure>
<p><!-- /wp:embed --></p>
<p><!-- wp:list --></p>
<ul><!-- wp:list-item --></p>
<li><a rel="noreferrer noopener" href="https://live.lge.co.kr/lg-sdc-2023/" target="_blank">LG전자, 소프트웨어 개발자 콘퍼런스 개최</a> (보도자료)</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li><a rel="noreferrer noopener" href="https://live.lge.co.kr/2310-lg-sdc2023/" target="_blank">기술과 기술의 융합, 그 무한한 가능성의 불을 지피다</a> (블로그 포스트)</li>
<p><!-- /wp:list-item --></p>
<p><!-- wp:list-item --></p>
<li><a rel="noreferrer noopener" href="https://www.lgnewsroom.com/2023/09/lg-hosts-software-developer-conference-2023-to-boost-internal-software-capabilities/" data-type="link" data-id="https://www.lgnewsroom.com/2023/09/lg-hosts-software-developer-conference-2023-to-boost-internal-software-capabilities/" target="_blank">LG Hosts ‘Software Developer Conference 2023’ to Boost Internal Software Capabilities</a> (해외 보도자료)</li>
<p><!-- /wp:list-item --></ul>
<p><!-- /wp:list --></p>
<p><!-- wp:paragraph --></p>
<p><!-- /wp:paragraph --></p>
